node-red/114 - Standalone Smart Vibration Sensor v4/Standalone Smart Vibration Sensor v4.json
[{"id":"fe558c4eaa6423e1","type":"group","z":"a2cba468a4cc5735","name":"Type 114 - One Channel Vibration Sensor v4","style":{"label":true,"label-position":"n"},"nodes":["93ff9e6f753e5a44","c1de43b34a66eb7d","0d2e89b096b19d24","80d915dc43f4223c","0fbd9cd081f28d5e","cacae858daf4197a","b4c93c34eec5f281","51754a15e12d2dbd","0940dc8826d139c6","46b49b497292fc72","ee180352df5aa1b3","39054f497a2d338a","9f8a2913d4253264","5df0f19bdb5fe3a0","b9d13f2df732fdb1","6b6d44d233ea19b5","4a951a0556e41018","15b3db9db71dd058","d8ead38650c68dbf","51ee7c0087507e1b","17895961bd98a0ea","1608973d50711219"],"x":2214,"y":19,"w":652,"h":882},{"id":"93ff9e6f753e5a44","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":2350,"y":180,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"c1de43b34a66eb7d","type":"debug","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2610,"y":340,"wires":[]},{"id":"0d2e89b096b19d24","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"114 - Standalone Smart Vibration Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167}","payloadType":"json","x":2430,"y":700,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"80d915dc43f4223c","type":"debug","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2740,"y":780,"wires":[]},{"id":"0fbd9cd081f28d5e","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"DATA ","info":"","x":2310,"y":140,"wires":[]},{"id":"cacae858daf4197a","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":114,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":2350,"y":100,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"b4c93c34eec5f281","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"RUN","info":"","x":2310,"y":60,"wires":[]},{"id":"51754a15e12d2dbd","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":114,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":2350,"y":260,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"0940dc8826d139c6","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"PGM","info":"","x":2310,"y":220,"wires":[]},{"id":"46b49b497292fc72","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":114,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":2350,"y":340,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"ee180352df5aa1b3","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"ACK","info":"","x":2310,"y":300,"wires":[]},{"id":"39054f497a2d338a","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":2350,"y":580,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"9f8a2913d4253264","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"modem_mac","info":"","x":2330,"y":540,"wires":[]},{"id":"5df0f19bdb5fe3a0","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"DATA ","info":"","x":2310,"y":660,"wires":[]},{"id":"b9d13f2df732fdb1","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"114 - Standalone Smart Vibration Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":2430,"y":780,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"6b6d44d233ea19b5","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Config Results","info":"","x":2340,"y":740,"wires":[]},{"id":"4a951a0556e41018","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"114 - Standalone Smart Vibration Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":2430,"y":860,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"15b3db9db71dd058","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"OTN Request Results","info":"","x":2360,"y":820,"wires":[]},{"id":"d8ead38650c68dbf","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"PUM","info":"","x":2310,"y":380,"wires":[]},{"id":"51ee7c0087507e1b","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":114,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":2350,"y":500,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"17895961bd98a0ea","type":"comment","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"FLY","info":"","x":2310,"y":460,"wires":[]},{"id":"1608973d50711219","type":"inject","z":"a2cba468a4cc5735","g":"fe558c4eaa6423e1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":114,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":2350,"y":420,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"2c6476a73293e1eb","type":"group","z":"a2cba468a4cc5735","name":"Motion Message","style":{"label":true},"nodes":["dedd4128d041d12d","84da52d819c61912","58738ed5f0c99dcd"],"x":2214,"y":919,"w":652,"h":122},{"id":"dedd4128d041d12d","type":"comment","z":"a2cba468a4cc5735","g":"2c6476a73293e1eb","name":"DATA ","info":"","x":2310,"y":960,"wires":[]},{"id":"84da52d819c61912","type":"inject","z":"a2cba468a4cc5735","g":"2c6476a73293e1eb","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":0,\"msg_type\":\"motion\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":2350,"y":1000,"wires":[["58738ed5f0c99dcd"]],"icon":"node-red/serial.svg"},{"id":"58738ed5f0c99dcd","type":"debug","z":"a2cba468a4cc5735","g":"2c6476a73293e1eb","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2730,"y":1000,"wires":[]},{"id":"343b8cbadbb1f8f6","type":"group","z":"a2cba468a4cc5735","name":"Regular RAW","style":{"label":true},"nodes":["791c949234233c49","2bba3f104be3efa3","b6e861e0a033def5"],"x":2214,"y":1059,"w":652,"h":122},{"id":"791c949234233c49","type":"inject","z":"a2cba468a4cc5735","g":"343b8cbadbb1f8f6","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":2350,"y":1140,"wires":[["b6e861e0a033def5"]],"icon":"node-red/serial.svg"},{"id":"2bba3f104be3efa3","type":"comment","z":"a2cba468a4cc5735","g":"343b8cbadbb1f8f6","name":"DATA ","info":"","x":2310,"y":1100,"wires":[]},{"id":"b6e861e0a033def5","type":"debug","z":"a2cba468a4cc5735","g":"343b8cbadbb1f8f6","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2730,"y":1140,"wires":[]},{"id":"dcd2ccd0e3a52f53","type":"group","z":"a2cba468a4cc5735","name":"Motion RAW","style":{"label":true},"nodes":["987fb842f838c8f2","952aeb5312d18db6","2cf1a7f63a6e475a"],"x":2214,"y":1199,"w":652,"h":122},{"id":"987fb842f838c8f2","type":"inject","z":"a2cba468a4cc5735","g":"dcd2ccd0e3a52f53","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"msg_type\":\"motion\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":2350,"y":1280,"wires":[["2cf1a7f63a6e475a"]],"icon":"node-red/serial.svg"},{"id":"952aeb5312d18db6","type":"comment","z":"a2cba468a4cc5735","g":"dcd2ccd0e3a52f53","name":"DATA ","info":"","x":2310,"y":1240,"wires":[]},{"id":"2cf1a7f63a6e475a","type":"debug","z":"a2cba468a4cc5735","g":"dcd2ccd0e3a52f53","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2730,"y":1280,"wires":[]}]
