node-red/1011 - RS485 Wireless Converter 1011/RS485_Wireless_Converter_1011.json
[{"id":"2b973a8537470698","type":"inject","z":"73c09bb651dc7f8a","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.29\",\"battery_percent\":\"99.28\",\"counter\":0,\"sensor_type\":1011,\"sensor_data\":{\"type\":\"unknown\",\"data\":[0,0,0,0,0,0,0,0,0,0]},\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:00:00:00:00\"}","payloadType":"json","x":290,"y":220,"wires":[["46c6f51ecb6dc27a"]],"icon":"node-red/serial.svg"},{"id":"46c6f51ecb6dc27a","type":"debug","z":"73c09bb651dc7f8a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":200,"wires":[]},{"id":"aacb5a38692d58cc","type":"inject","z":"73c09bb651dc7f8a","name":"RUN","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:00:00:00\",\"type\":1011,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":250,"y":180,"wires":[["46c6f51ecb6dc27a"]],"icon":"node-red/serial.svg"},{"id":"300f45a536230111","type":"comment","z":"73c09bb651dc7f8a","name":"t1011 - RS485 Wireless Converter 1011","info":"","x":330,"y":140,"wires":[]}]
