node-red/26 - Pressure Sensor/26 - Presure Sensor.json
[{"id":"948a9be79818ad9c","type":"inject","z":"0f850dc8977c3d53","name":"26 - Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":26,\"sensor_data\":{\"pressure\":0,\"temperature\":0},\"sensor_name\":\"Pressure & Temperature Sensor (PSI)\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d5\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"pressure\":0,\"temperature\":0}","payloadType":"json","x":280,"y":1480,"wires":[["bd5d64f1aff08e37"]],"icon":"node-red/serial.svg"},{"id":"bd5d64f1aff08e37","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count1 = context.get(\"counter2\") || 1;\n\nlet max_press = 45.000;\nlet min_press = 40.000;\nlet max_temp = 25.000;\nlet min_temp = 20.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet press = Number((Math.random() * (max_press - min_press) + min_press).toFixed(2));\nlet temp = Number((Math.random() * (max_temp - min_temp) + min_temp).toFixed(2));\n\nmsg.payload.pressure = press;\nmsg.payload.temperature = temp;\nmsg.data.sensor_data.pressure = press;\nmsg.data.sensor_data.temperature = temp;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count1++;\n\ncontext.set(\"counter2\", count1);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":1480,"wires":[["57db6fb5c4b8a73b","d221c306a707cd57","695dc1b3374a61ae","cd7779f049891f16","97405337c6d7a798","c94c0cb54792ced4"]],"icon":"font-awesome/fa-random","l":false},{"id":"57db6fb5c4b8a73b","type":"debug","z":"0f850dc8977c3d53","name":"Pressure","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.pressure","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":600,"y":1400,"wires":[]},{"id":"d221c306a707cd57","type":"debug","z":"0f850dc8977c3d53","name":"Temperature","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.temperature","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":610,"y":1460,"wires":[]},{"id":"695dc1b3374a61ae","type":"debug","z":"0f850dc8977c3d53","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":1360,"wires":[]},{"id":"cd7779f049891f16","type":"debug","z":"0f850dc8977c3d53","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":610,"y":1520,"wires":[]},{"id":"97405337c6d7a798","type":"debug","z":"0f850dc8977c3d53","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":620,"y":1580,"wires":[]},{"id":"c94c0cb54792ced4","type":"debug","z":"0f850dc8977c3d53","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":600,"y":1640,"wires":[]}]
