node-red/21 - Differential Bi directional Pressure Sensor/21 - Differential Bi directional Pressure Sensor.json
[{"id":"0256e4d0e7f34cbb","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":21,\"sensor_data\":{\"pressure\":10,\"temperature\":10},\"sensor_name\":\"AMS Pressure & Temperature\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":410,"y":780,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"e0cfc236a7d59ad4","type":"debug","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":940,"wires":[]},{"id":"ea195f1171deb7d9","type":"inject","z":"e4ae0d1f742e2ea8","name":"21 - Differential Bi directional Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":21,\"sensor_data\":{\"pressure\":10,\"temperature\":10},\"sensor_name\":\"AMS Pressure & Temperature\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"pressure\":10,\"temperature\":10}","payloadType":"json","x":490,"y":1300,"wires":[["93690af2b0858e8e"]],"icon":"node-red/serial.svg"},{"id":"93690af2b0858e8e","type":"debug","z":"e4ae0d1f742e2ea8","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":1380,"wires":[]},{"id":"a5dccf7d88946d9c","type":"comment","z":"e4ae0d1f742e2ea8","name":"DATA ","info":"","x":370,"y":740,"wires":[]},{"id":"82ddf68bfb2e1f18","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":21,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":410,"y":700,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"1bfbeb5573d998ae","type":"comment","z":"e4ae0d1f742e2ea8","name":"RUN","info":"","x":370,"y":660,"wires":[]},{"id":"3f1517456d91b7a8","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":21,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":410,"y":860,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"bcff60eb49ae6850","type":"comment","z":"e4ae0d1f742e2ea8","name":"PGM","info":"","x":370,"y":820,"wires":[]},{"id":"75843ad57b8b1396","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":21,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":410,"y":940,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"b4b52c7411dbde49","type":"comment","z":"e4ae0d1f742e2ea8","name":"ACK","info":"","x":370,"y":900,"wires":[]},{"id":"acfa9ba8fc0678f3","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":410,"y":1180,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"592f6da4ff17ba1c","type":"comment","z":"e4ae0d1f742e2ea8","name":"modem_mac","info":"","x":390,"y":1140,"wires":[]},{"id":"c7b787b026464570","type":"comment","z":"e4ae0d1f742e2ea8","name":"DATA ","info":"","x":370,"y":1260,"wires":[]},{"id":"42dd12b5a50869b6","type":"inject","z":"e4ae0d1f742e2ea8","name":"21 - Differential Bi directional Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":490,"y":1380,"wires":[["93690af2b0858e8e"]],"icon":"node-red/serial.svg"},{"id":"a8d9a58f4deb90fe","type":"comment","z":"e4ae0d1f742e2ea8","name":"Config Results","info":"","x":400,"y":1340,"wires":[]},{"id":"598e3feddec49bf9","type":"inject","z":"e4ae0d1f742e2ea8","d":true,"name":"13 - Current Monitor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":410,"y":1460,"wires":[["93690af2b0858e8e"]],"icon":"node-red/serial.svg"},{"id":"07ed496879d2eddf","type":"comment","z":"e4ae0d1f742e2ea8","d":true,"name":"OTN Request Results","info":"","x":420,"y":1420,"wires":[]},{"id":"93e76fbbbe47bb68","type":"comment","z":"e4ae0d1f742e2ea8","name":"PUM","info":"","x":370,"y":980,"wires":[]},{"id":"59a2fcc9ed82dbf9","type":"inject","z":"e4ae0d1f742e2ea8","d":true,"name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":410,"y":1100,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"},{"id":"fb55035be50d5e34","type":"comment","z":"e4ae0d1f742e2ea8","d":true,"name":"FLY","info":"","x":370,"y":1060,"wires":[]},{"id":"371531cabca83544","type":"inject","z":"e4ae0d1f742e2ea8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":21,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":410,"y":1020,"wires":[["e0cfc236a7d59ad4"]],"icon":"node-red/serial.svg"}]
