node-red/88 - Commands/88-Commands.json
[{"id":"ad078de47a921f4e","type":"tab","label":"NCD_Commands","disabled":false,"info":"","env":[]},{"id":"37719cad5a677d87","type":"junction","z":"ad078de47a921f4e","x":420,"y":280,"wires":[["687fae10f160252d"]]},{"id":"1ded275a7e53fd6a","type":"junction","z":"ad078de47a921f4e","x":420,"y":360,"wires":[["687fae10f160252d"]]},{"id":"f015d34164ae9038","type":"junction","z":"ad078de47a921f4e","x":420,"y":600,"wires":[["687fae10f160252d"]]},{"id":"456d1ad4e620d092","type":"junction","z":"ad078de47a921f4e","x":420,"y":440,"wires":[["687fae10f160252d"]]},{"id":"1af9013d72614c43","type":"junction","z":"ad078de47a921f4e","x":420,"y":520,"wires":[["687fae10f160252d"]]},{"id":"39d9f3c4da367c0e","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":88,\"sensor_data\":{\"raw_adc\":0,\"ma\":0,\"db\":0},\"sensor_name\":\"1 Channel Ultrasound Vibration Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":200,"wires":[["914ad5af10cdb0d2"]],"icon":"node-red/serial.svg"},{"id":"687fae10f160252d","type":"debug","z":"ad078de47a921f4e","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"914ad5af10cdb0d2","type":"function","z":"ad078de47a921f4e","name":"random","func":"let count = context.get(\"counter\") || 1;\n/* \nRanges:\ndb: 0-100\nraw adc: 0-32000\nmA: 0-20\n*/\nlet max_raw = 32000;\nlet min_raw = 30000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet raw = Number((Math.random() * (max_raw - min_raw) + min_raw).toFixed(2));\nlet ma = Number((raw / 1600).toFixed(2));\nlet db = Number((raw / 320).toFixed(0));\n\nmsg.payload.sensor_data.raw_adc = raw;\nmsg.payload.sensor_data.ma = ma;\nmsg.payload.sensor_data.db = db;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["687fae10f160252d"]],"icon":"font-awesome/fa-random"},{"id":"17f531c5ef873652","type":"inject","z":"ad078de47a921f4e","name":"88 - 1 Channel Ultrasound Vibration Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":88,\"sensor_data\":{\"raw_adc\":0,\"ma\":0,\"db\":0},\"sensor_name\":\"1 Channel Ultrasound Vibration Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"raw_adc\":0,\"ma\":0,\"db\":0}","payloadType":"json","x":260,"y":720,"wires":[["8b17e1949f04015e"]],"icon":"node-red/serial.svg"},{"id":"8b17e1949f04015e","type":"function","z":"ad078de47a921f4e","name":"random","func":"let count = context.get(\"counter\") || 1;\n/* \nRanges:\ndb: 0-100\nraw adc: 0-32000\nmA: 0-20\n*/\nlet max_raw = 32000;\nlet min_raw = 30000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet raw = Number((Math.random() * (max_raw - min_raw) + min_raw).toFixed(2));\nlet ma = Number((raw / 1600).toFixed(2));\nlet db = Number((raw / 320).toFixed(0));\n\nmsg.payload.raw_adc = raw;\nmsg.payload.ma = ma;\nmsg.payload.db = db;\nmsg.data.sensor_data.raw_adc = raw;\nmsg.data.sensor_data.ma = ma;\nmsg.data.sensor_data.db = db;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["c493e7f8fe5c2583"]],"icon":"font-awesome/fa-random"},{"id":"3eb83619ece7cc12","type":"debug","z":"ad078de47a921f4e","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":800,"wires":[]},{"id":"c2b41719ac36b13a","type":"comment","z":"ad078de47a921f4e","name":"DATA ","info":"","x":150,"y":160,"wires":[]},{"id":"b6cc77cff5dcab34","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":88,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":190,"y":120,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"366a49866c29fd35","type":"comment","z":"ad078de47a921f4e","name":"RUN","info":"","x":150,"y":80,"wires":[]},{"id":"5b71af42c8f95ae2","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":88,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":190,"y":280,"wires":[["37719cad5a677d87"]],"icon":"node-red/serial.svg"},{"id":"1444f807b0905e12","type":"comment","z":"ad078de47a921f4e","name":"PGM","info":"","x":150,"y":240,"wires":[]},{"id":"3a70166406f43948","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":88,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":190,"y":360,"wires":[["1ded275a7e53fd6a"]],"icon":"node-red/serial.svg"},{"id":"d124bf3f43188c51","type":"comment","z":"ad078de47a921f4e","name":"ACK","info":"","x":150,"y":320,"wires":[]},{"id":"3b1c804c201bb069","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":190,"y":600,"wires":[["f015d34164ae9038"]],"icon":"node-red/serial.svg"},{"id":"9c6372e203288f68","type":"comment","z":"ad078de47a921f4e","name":"modem_mac","info":"","x":170,"y":560,"wires":[]},{"id":"5b99074cb875dc7a","type":"comment","z":"ad078de47a921f4e","name":"DATA ","info":"","x":150,"y":680,"wires":[]},{"id":"bcf5249da7771e86","type":"inject","z":"ad078de47a921f4e","d":true,"name":"88 - 1 Channel Ultrasound Vibration Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":260,"y":800,"wires":[["3eb83619ece7cc12"]],"icon":"node-red/serial.svg"},{"id":"f739461f06d98d3b","type":"comment","z":"ad078de47a921f4e","d":true,"name":"Config Results","info":"","x":180,"y":760,"wires":[]},{"id":"d950f859db857bb5","type":"inject","z":"ad078de47a921f4e","name":"88 - 1 Channel Ultrasound Vibration Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":260,"y":880,"wires":[["3eb83619ece7cc12"]],"icon":"node-red/serial.svg"},{"id":"f12f3f3fb6ad3010","type":"comment","z":"ad078de47a921f4e","name":"OTN Request Results","info":"","x":200,"y":840,"wires":[]},{"id":"a7a1e91c4057a69b","type":"comment","z":"ad078de47a921f4e","name":"PUM","info":"","x":150,"y":400,"wires":[]},{"id":"df7808020591885b","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":88,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":190,"y":520,"wires":[["1af9013d72614c43"]],"icon":"node-red/serial.svg"},{"id":"170330730cc6fa70","type":"comment","z":"ad078de47a921f4e","name":"FLY","info":"","x":150,"y":480,"wires":[]},{"id":"c493e7f8fe5c2583","type":"debug","z":"ad078de47a921f4e","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":720,"wires":[]},{"id":"a3e792a7d41f483c","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":88,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":190,"y":440,"wires":[["456d1ad4e620d092"]],"icon":"node-red/serial.svg"}]
