node-red/111 - Two Channel Vibration Sensor v4/111 - Two Channel Vibration Sensor v4.json
[{"id":"3390304b70230e02","type":"group","z":"a2cba468a4cc5735","name":"Type 111 - Two Channel Vibration Sensor v4","style":{"label":true,"label-position":"n"},"nodes":["62fa19e6ca71f4f6","b5c9b6837f7747c5","1ff721b4e6e7eadb","83c214a7afbda667","5037ed540e50ef77","1c5236ad2981fad2","07a93e32ec34e58b","254270644df7e9e1","3d055479c6822ac6","1245d86bc7c9e582","02681dbb8e306ed5","06b9a287ddc76532","c65115554f66f39e","d2c527b9d8359ccd","36d0b05ff3b2a029","7a33f48bb4ce614e","d90d3a4509185fb6","2797b2b2eb3fcd90","2c7ba2cd21ef9c9f","6b97a547a3524fa0","b47cba25bbc7a148","71b966ddbc4a6341"],"x":714,"y":19,"w":572,"h":882},{"id":"62fa19e6ca71f4f6","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"s1_odr\":\"800Hz\",\"s1_temperature\":0.26,\"x1_rms_ACC_G\":0.001,\"x1_max_ACC_G\":0.002,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0.04,\"x1_peak_one_Hz\":5,\"x1_peak_two_Hz\":6,\"x1_peak_three_Hz\":7,\"y1_rms_ACC_G\":0.008,\"y1_max_ACC_G\":0.009,\"y1_velocity_mm_sec\":0.1,\"y1_displacement_mm\":0.11,\"y1_peak_one_Hz\":12,\"y1_peak_two_Hz\":13,\"y1_peak_three_Hz\":14,\"z1_rms_ACC_G\":0.015,\"z1_max_ACC_G\":0.162,\"z1_velocity_mm_sec\":1.63,\"z1_displacement_mm\":1.64,\"z1_peak_one_Hz\":165,\"z1_peak_two_Hz\":166,\"z1_peak_three_Hz\":256,\"rpm_1\":42762,\"s2_odr\":\"800Hz\",\"s2_temperature\":25.6,\"x2_rms_ACC_G\":6.656,\"x2_max_ACC_G\":0.256,\"x2_velocity_mm_sec\":5.12,\"x2_displacement_mm\":7.68,\"x2_peak_one_Hz\":1024,\"x2_peak_two_Hz\":1280,\"x2_peak_three_Hz\":1536,\"y2_rms_ACC_G\":1.792,\"y2_max_ACC_G\":2.048,\"y2_velocity_mm_sec\":23.04,\"y2_displacement_mm\":25.6,\"y2_peak_one_Hz\":2816,\"y2_peak_two_Hz\":3072,\"y2_peak_three_Hz\":3328,\"z2_rms_ACC_G\":3.584,\"z2_max_ACC_G\":3.84,\"z2_velocity_mm_sec\":414.72,\"z2_displacement_mm\":417.28,\"z2_peak_one_Hz\":41984,\"z2_peak_two_Hz\":42240,\"z2_peak_three_Hz\":42497,\"rpm_2\":167},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":180,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"b5c9b6837f7747c5","type":"debug","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":340,"wires":[]},{"id":"1ff721b4e6e7eadb","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"111 - Two Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"s1_odr\":\"800Hz\",\"s1_temperature\":0.26,\"x1_rms_ACC_G\":0.001,\"x1_max_ACC_G\":0.002,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0.04,\"x1_peak_one_Hz\":5,\"x1_peak_two_Hz\":6,\"x1_peak_three_Hz\":7,\"y1_rms_ACC_G\":0.008,\"y1_max_ACC_G\":0.009,\"y1_velocity_mm_sec\":0.1,\"y1_displacement_mm\":0.11,\"y1_peak_one_Hz\":12,\"y1_peak_two_Hz\":13,\"y1_peak_three_Hz\":14,\"z1_rms_ACC_G\":0.015,\"z1_max_ACC_G\":0.162,\"z1_velocity_mm_sec\":1.63,\"z1_displacement_mm\":1.64,\"z1_peak_one_Hz\":165,\"z1_peak_two_Hz\":166,\"z1_peak_three_Hz\":256,\"rpm_1\":42762,\"s2_odr\":\"800Hz\",\"s2_temperature\":25.6,\"x2_rms_ACC_G\":6.656,\"x2_max_ACC_G\":0.256,\"x2_velocity_mm_sec\":5.12,\"x2_displacement_mm\":7.68,\"x2_peak_one_Hz\":1024,\"x2_peak_two_Hz\":1280,\"x2_peak_three_Hz\":1536,\"y2_rms_ACC_G\":1.792,\"y2_max_ACC_G\":2.048,\"y2_velocity_mm_sec\":23.04,\"y2_displacement_mm\":25.6,\"y2_peak_one_Hz\":2816,\"y2_peak_two_Hz\":3072,\"y2_peak_three_Hz\":3328,\"z2_rms_ACC_G\":3.584,\"z2_max_ACC_G\":3.84,\"z2_velocity_mm_sec\":414.72,\"z2_displacement_mm\":417.28,\"z2_peak_one_Hz\":41984,\"z2_peak_two_Hz\":42240,\"z2_peak_three_Hz\":42497,\"rpm_2\":167},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"msg_type\":\"regular\",\"s1_odr\":\"800Hz\",\"s1_temperature\":0.26,\"x1_rms_ACC_G\":0.001,\"x1_max_ACC_G\":0.002,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0.04,\"x1_peak_one_Hz\":5,\"x1_peak_two_Hz\":6,\"x1_peak_three_Hz\":7,\"y1_rms_ACC_G\":0.008,\"y1_max_ACC_G\":0.009,\"y1_velocity_mm_sec\":0.1,\"y1_displacement_mm\":0.11,\"y1_peak_one_Hz\":12,\"y1_peak_two_Hz\":13,\"y1_peak_three_Hz\":14,\"z1_rms_ACC_G\":0.015,\"z1_max_ACC_G\":0.162,\"z1_velocity_mm_sec\":1.63,\"z1_displacement_mm\":1.64,\"z1_peak_one_Hz\":165,\"z1_peak_two_Hz\":166,\"z1_peak_three_Hz\":256,\"rpm_1\":42762,\"s2_odr\":\"800Hz\",\"s2_temperature\":25.6,\"x2_rms_ACC_G\":6.656,\"x2_max_ACC_G\":0.256,\"x2_velocity_mm_sec\":5.12,\"x2_displacement_mm\":7.68,\"x2_peak_one_Hz\":1024,\"x2_peak_two_Hz\":1280,\"x2_peak_three_Hz\":1536,\"y2_rms_ACC_G\":1.792,\"y2_max_ACC_G\":2.048,\"y2_velocity_mm_sec\":23.04,\"y2_displacement_mm\":25.6,\"y2_peak_one_Hz\":2816,\"y2_peak_two_Hz\":3072,\"y2_peak_three_Hz\":3328,\"z2_rms_ACC_G\":3.584,\"z2_max_ACC_G\":3.84,\"z2_velocity_mm_sec\":414.72,\"z2_displacement_mm\":417.28,\"z2_peak_one_Hz\":41984,\"z2_peak_two_Hz\":42240,\"z2_peak_three_Hz\":42497,\"rpm_2\":167}","payloadType":"json","x":900,"y":700,"wires":[["83c214a7afbda667"]],"icon":"node-red/serial.svg"},{"id":"83c214a7afbda667","type":"debug","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":780,"wires":[]},{"id":"5037ed540e50ef77","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"DATA ","info":"","x":810,"y":140,"wires":[]},{"id":"1c5236ad2981fad2","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":111,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":850,"y":100,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"07a93e32ec34e58b","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"RUN","info":"","x":810,"y":60,"wires":[]},{"id":"254270644df7e9e1","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":111,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":850,"y":260,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"3d055479c6822ac6","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"PGM","info":"","x":810,"y":220,"wires":[]},{"id":"1245d86bc7c9e582","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":111,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":850,"y":340,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"02681dbb8e306ed5","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"ACK","info":"","x":810,"y":300,"wires":[]},{"id":"06b9a287ddc76532","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":850,"y":580,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"c65115554f66f39e","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"modem_mac","info":"","x":830,"y":540,"wires":[]},{"id":"d2c527b9d8359ccd","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"DATA ","info":"","x":810,"y":660,"wires":[]},{"id":"36d0b05ff3b2a029","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"111 - Two Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":900,"y":780,"wires":[["83c214a7afbda667"]],"icon":"node-red/serial.svg"},{"id":"7a33f48bb4ce614e","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Config Results","info":"","x":840,"y":740,"wires":[]},{"id":"d90d3a4509185fb6","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"111 - Two Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":900,"y":860,"wires":[["83c214a7afbda667"]],"icon":"node-red/serial.svg"},{"id":"2797b2b2eb3fcd90","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"OTN Request Results","info":"","x":860,"y":820,"wires":[]},{"id":"2c7ba2cd21ef9c9f","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"PUM","info":"","x":810,"y":380,"wires":[]},{"id":"6b97a547a3524fa0","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":111,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":850,"y":500,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"b47cba25bbc7a148","type":"comment","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"FLY","info":"","x":810,"y":460,"wires":[]},{"id":"71b966ddbc4a6341","type":"inject","z":"a2cba468a4cc5735","g":"3390304b70230e02","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":111,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":850,"y":420,"wires":[["b5c9b6837f7747c5"]],"icon":"node-red/serial.svg"},{"id":"2f3bf7c905d653b8","type":"group","z":"a2cba468a4cc5735","name":"Motion Message","style":{"label":true},"nodes":["68a0c6dc20a37905","744fc474ce1d19e8","0f56f6108f7dd80f"],"x":714,"y":919,"w":572,"h":122},{"id":"68a0c6dc20a37905","type":"inject","z":"a2cba468a4cc5735","g":"2f3bf7c905d653b8","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":0,\"msg_type\":\"motion\",\"s1_odr\":\"800Hz\",\"s1_temperature\":0.26,\"x1_rms_ACC_G\":0.001,\"x1_max_ACC_G\":0.002,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0.04,\"x1_peak_one_Hz\":5,\"x1_peak_two_Hz\":6,\"x1_peak_three_Hz\":7,\"y1_rms_ACC_G\":0.008,\"y1_max_ACC_G\":0.009,\"y1_velocity_mm_sec\":0.1,\"y1_displacement_mm\":0.11,\"y1_peak_one_Hz\":12,\"y1_peak_two_Hz\":13,\"y1_peak_three_Hz\":14,\"z1_rms_ACC_G\":0.015,\"z1_max_ACC_G\":0.162,\"z1_velocity_mm_sec\":1.63,\"z1_displacement_mm\":1.64,\"z1_peak_one_Hz\":165,\"z1_peak_two_Hz\":166,\"z1_peak_three_Hz\":256,\"rpm_1\":42762,\"s2_odr\":\"800Hz\",\"s2_temperature\":25.6,\"x2_rms_ACC_G\":6.656,\"x2_max_ACC_G\":0.256,\"x2_velocity_mm_sec\":5.12,\"x2_displacement_mm\":7.68,\"x2_peak_one_Hz\":1024,\"x2_peak_two_Hz\":1280,\"x2_peak_three_Hz\":1536,\"y2_rms_ACC_G\":1.792,\"y2_max_ACC_G\":2.048,\"y2_velocity_mm_sec\":23.04,\"y2_displacement_mm\":25.6,\"y2_peak_one_Hz\":2816,\"y2_peak_two_Hz\":3072,\"y2_peak_three_Hz\":3328,\"z2_rms_ACC_G\":3.584,\"z2_max_ACC_G\":3.84,\"z2_velocity_mm_sec\":414.72,\"z2_displacement_mm\":417.28,\"z2_peak_one_Hz\":41984,\"z2_peak_two_Hz\":42240,\"z2_peak_three_Hz\":42497,\"rpm_2\":167},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":1000,"wires":[["744fc474ce1d19e8"]],"icon":"node-red/serial.svg"},{"id":"744fc474ce1d19e8","type":"debug","z":"a2cba468a4cc5735","g":"2f3bf7c905d653b8","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1000,"wires":[]},{"id":"0f56f6108f7dd80f","type":"comment","z":"a2cba468a4cc5735","g":"2f3bf7c905d653b8","name":"DATA ","info":"","x":810,"y":960,"wires":[]},{"id":"3315bd92c6c9f7d1","type":"group","z":"a2cba468a4cc5735","name":"Regular RAW - Probe 1","style":{"label":true},"nodes":["8aa028acddfea0f6","4f0d687ead675374","491046a5bc0dc145"],"x":714,"y":1059,"w":572,"h":122},{"id":"8aa028acddfea0f6","type":"inject","z":"a2cba468a4cc5735","g":"3315bd92c6c9f7d1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":1140,"wires":[["491046a5bc0dc145"]],"icon":"node-red/serial.svg"},{"id":"4f0d687ead675374","type":"comment","z":"a2cba468a4cc5735","g":"3315bd92c6c9f7d1","name":"DATA ","info":"","x":810,"y":1100,"wires":[]},{"id":"491046a5bc0dc145","type":"debug","z":"a2cba468a4cc5735","g":"3315bd92c6c9f7d1","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1140,"wires":[]},{"id":"bf8e1a966a8c90fb","type":"group","z":"a2cba468a4cc5735","name":"Regular RAW - Probe 2","style":{"label":true},"nodes":["febbb31d2b9540b2","dab2838a6db1db88","5199c26387ae1f54"],"x":714,"y":1199,"w":572,"h":122},{"id":"febbb31d2b9540b2","type":"inject","z":"a2cba468a4cc5735","g":"bf8e1a966a8c90fb","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"msg_type\":\"regular\",\"probe\":\"2\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":1280,"wires":[["5199c26387ae1f54"]],"icon":"node-red/serial.svg"},{"id":"dab2838a6db1db88","type":"comment","z":"a2cba468a4cc5735","g":"bf8e1a966a8c90fb","name":"DATA ","info":"","x":810,"y":1240,"wires":[]},{"id":"5199c26387ae1f54","type":"debug","z":"a2cba468a4cc5735","g":"bf8e1a966a8c90fb","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1280,"wires":[]},{"id":"49d373295528289c","type":"group","z":"a2cba468a4cc5735","name":"Motion RAW - Probe 1","style":{"label":true},"nodes":["8ec8697e11b94266","2192147ba47ee6ec","43d8865b3486a2b8"],"x":714,"y":1339,"w":572,"h":122},{"id":"8ec8697e11b94266","type":"inject","z":"a2cba468a4cc5735","g":"49d373295528289c","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"msg_type\":\"motion\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":1420,"wires":[["43d8865b3486a2b8"]],"icon":"node-red/serial.svg"},{"id":"2192147ba47ee6ec","type":"comment","z":"a2cba468a4cc5735","g":"49d373295528289c","name":"DATA ","info":"","x":810,"y":1380,"wires":[]},{"id":"43d8865b3486a2b8","type":"debug","z":"a2cba468a4cc5735","g":"49d373295528289c","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1420,"wires":[]},{"id":"66904be156803037","type":"group","z":"a2cba468a4cc5735","name":"Motion RAW - Probe 2","style":{"label":true},"nodes":["800fd267f91a5499","dce19c8e56a667de","a3146371db999c1b"],"x":714,"y":1479,"w":572,"h":122},{"id":"800fd267f91a5499","type":"inject","z":"a2cba468a4cc5735","g":"66904be156803037","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"msg_type\":\"motion\",\"probe\":\"2\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":850,"y":1560,"wires":[["a3146371db999c1b"]],"icon":"node-red/serial.svg"},{"id":"dce19c8e56a667de","type":"comment","z":"a2cba468a4cc5735","g":"66904be156803037","name":"DATA ","info":"","x":810,"y":1520,"wires":[]},{"id":"a3146371db999c1b","type":"debug","z":"a2cba468a4cc5735","g":"66904be156803037","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1560,"wires":[]}]
