node-red/90 - DC Current Sensor/90 - DC Current Sensor.json
{"id":"40d323417a1f4db7","type":"inject","z":"0f850dc8977c3d53","name":"90 - DC Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":12,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":90,\"sensor_data\":{\"raw_adc\":0,\"amps\":0},\"sensor_name\":\"DC Current Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d5\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"raw_adc\":0,\"amps\":0}","payloadType":"json","x":190,"y":2940,"wires":[["d4a5f115ad3c225a"]],"icon":"node-red/serial.svg"},{"id":"d4a5f115ad3c225a","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_adc= 400;\nlet min_adc = 0;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet adc = Number((Math.random() * (max_adc - min_adc) + min_adc).toFixed(2));\nlet amps = Number((adc*0.00612903).toFixed(1));\n\nmsg.payload.raw_adc = adc;\nmsg.payload.amps = amps;\nmsg.data.sensor_data.raw_adc = adc;\nmsg.data.sensor_data.amps = amps;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":325,"y":2940,"wires":[["d37a4db0c09b4c2c"]],"icon":"font-awesome/fa-random","l":false},{"id":"d37a4db0c09b4c2c","type":"debug","z":"0f850dc8977c3d53","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":2940,"wires":[]}]
