node-red/23 - 2 Channel Thermocouple Sensor/23 - 2 Channel Thermocouple.json
[{"id":"0c4f7e87229fae4c","type":"inject","z":"0f850dc8977c3d53","name":"23 - 2 Channel Thermocouple Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":23,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0},\"sensor_name\":\"2-Channel Thermocouple\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d5\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":0,\"channel_2\":0}","payloadType":"json","x":250,"y":620,"wires":[["b45222c0f6987354"]],"icon":"node-red/serial.svg"},{"id":"b45222c0f6987354","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch= 25.000;\nlet min_ch = 20.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch2 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":620,"wires":[["73df5287433b2aa2","e83cd14755ae6397","b8c9a8949a7a96b5","2878a43dd7892d5e","cd3081f66912cf77","9e22db6eda021ee3"]],"icon":"font-awesome/fa-random","l":false},{"id":"73df5287433b2aa2","type":"debug","z":"0f850dc8977c3d53","name":"Current CH1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_1","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":520,"wires":[]},{"id":"e83cd14755ae6397","type":"debug","z":"0f850dc8977c3d53","name":"Current CH2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_2","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":580,"wires":[]},{"id":"b8c9a8949a7a96b5","type":"debug","z":"0f850dc8977c3d53","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":480,"wires":[]},{"id":"2878a43dd7892d5e","type":"debug","z":"0f850dc8977c3d53","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":640,"wires":[]},{"id":"cd3081f66912cf77","type":"debug","z":"0f850dc8977c3d53","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":600,"y":700,"wires":[]},{"id":"9e22db6eda021ee3","type":"debug","z":"0f850dc8977c3d53","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":580,"y":760,"wires":[]}]
