node-red/23 - 2 Channel Thermocouple Sensor/23 - 2 Channel Thermocouple.json
[{"id":"2410577f9982fdeb","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":23,\"sensor_data\":{\"channel_1\":21,\"channel_2\":23},\"sensor_name\":\"2-Channel Thermocouple\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":210,"y":3500,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"3d4f9e2fdae724e0","type":"debug","z":"eb6539302d516693","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":3660,"wires":[]},{"id":"0b81804e69c335a9","type":"inject","z":"eb6539302d516693","name":"23 - 2 Channel Thermocouple Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":23,\"sensor_data\":{\"channel_1\":17,\"channel_2\":18},\"sensor_name\":\"2-Channel Thermocouple\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":17,\"channel_2\":18}","payloadType":"json","x":270,"y":4020,"wires":[["4c3da39f8098d935"]],"icon":"node-red/serial.svg"},{"id":"4c3da39f8098d935","type":"debug","z":"eb6539302d516693","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":4100,"wires":[]},{"id":"676aa21602a98379","type":"comment","z":"eb6539302d516693","name":"DATA ","info":"","x":170,"y":3460,"wires":[]},{"id":"d3235285b2634d93","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":23,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":210,"y":3420,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"5e0aa8586c426868","type":"comment","z":"eb6539302d516693","name":"RUN","info":"","x":170,"y":3380,"wires":[]},{"id":"bdc0916b1df2c293","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":23,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":210,"y":3580,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"3256c409f9d91957","type":"comment","z":"eb6539302d516693","name":"PGM","info":"","x":170,"y":3540,"wires":[]},{"id":"7b1d892ea7763207","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":23,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":210,"y":3660,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"eb65c0f03f2c5a4f","type":"comment","z":"eb6539302d516693","name":"ACK","info":"","x":170,"y":3620,"wires":[]},{"id":"73a6abd4ee973fb8","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":210,"y":3900,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"e16b32b9428848ed","type":"comment","z":"eb6539302d516693","name":"modem_mac","info":"","x":190,"y":3860,"wires":[]},{"id":"073a541202e44b4d","type":"comment","z":"eb6539302d516693","name":"DATA ","info":"","x":170,"y":3980,"wires":[]},{"id":"ef5222d4586be979","type":"inject","z":"eb6539302d516693","name":"23 - 2 Channel Thermocouple Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":270,"y":4100,"wires":[["4c3da39f8098d935"]],"icon":"node-red/serial.svg"},{"id":"07d2dd4367037bb1","type":"comment","z":"eb6539302d516693","name":"Config Results","info":"","x":200,"y":4060,"wires":[]},{"id":"bb8f15a92db666e6","type":"inject","z":"eb6539302d516693","name":"23 - 2 Channel Thermocouple Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":270,"y":4180,"wires":[["4c3da39f8098d935"]],"icon":"node-red/serial.svg"},{"id":"94c383551f36ced7","type":"comment","z":"eb6539302d516693","name":"OTN Request Results","info":"","x":220,"y":4140,"wires":[]},{"id":"4fa0e93abb20b54c","type":"comment","z":"eb6539302d516693","name":"PUM","info":"","x":170,"y":3700,"wires":[]},{"id":"25eecebbc38b1994","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":23,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":210,"y":3820,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"},{"id":"24ecdebe7f4a71bb","type":"comment","z":"eb6539302d516693","name":"FLY","info":"","x":170,"y":3780,"wires":[]},{"id":"da8fcdcf13015054","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":23,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":210,"y":3740,"wires":[["3d4f9e2fdae724e0"]],"icon":"node-red/serial.svg"}]
