node-red/88 - 1 Channel Ultrasound Vibration Sensor/88 - 1 Channel Ultrasound Vibration Sensor.json
[{"id":"17f531c5ef873652","type":"inject","z":"0f850dc8977c3d53","name":"88 - 1 Channel Ultrasound Vibration Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":88,\"sensor_data\":{\"raw_adc\":0,\"ma\":0,\"db\":0},\"sensor_name\":\"1 Channel Ultrasound Vibration Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"raw_adc\":0,\"ma\":0,\"db\":0}","payloadType":"json","x":210,"y":1780,"wires":[["8b17e1949f04015e"]],"icon":"node-red/serial.svg"},{"id":"8b17e1949f04015e","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\n/* \nRanges:\ndb: 0-100\nraw adc: 0-32000\nmA: 0-20\n*/\nlet max_raw = 32000;\nlet min_raw = 30000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet raw = Number((Math.random() * (max_raw - min_raw) + min_raw).toFixed(2));\nlet ma = Number((raw / 1600).toFixed(2));\nlet db = Number((raw / 320).toFixed(0));\n\nmsg.payload.raw_adc = raw;\nmsg.payload.ma = ma;\nmsg.payload.db = db;\nmsg.data.sensor_data.raw_adc = raw;\nmsg.data.sensor_data.ma = ma;\nmsg.data.sensor_data.db = db;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":1780,"wires":[["3eb83619ece7cc12"]],"icon":"font-awesome/fa-random","l":false},{"id":"3eb83619ece7cc12","type":"debug","z":"0f850dc8977c3d53","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":1780,"wires":[]}]
