node-red/53 - Air Quality CO2 and PM Sensor/53 - Air Quality CO2 and PM Sensor.json
[{"id":"39d9f3c4da367c0e","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":1,\"sensor_type\":53,\"sensor_data\":{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0,\"CO2\":0},\"sensor_name\":\"Air Quality CO2 and Particulate Matter Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":330,"y":1000,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"687fae10f160252d","type":"debug","z":"c3746b495f5f41e0","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":920,"wires":[]},{"id":"17f531c5ef873652","type":"inject","z":"c3746b495f5f41e0","name":"53 - Air Quality CO2 and PM Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":53,\"sensor_data\":{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0,\"CO2\":0},\"sensor_name\":\"Air Quality CO2 and Particulate Matter Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0,\"CO2\":0}","payloadType":"json","x":380,"y":1520,"wires":[["c493e7f8fe5c2583"]],"icon":"node-red/serial.svg"},{"id":"3eb83619ece7cc12","type":"debug","z":"c3746b495f5f41e0","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":1600,"wires":[]},{"id":"c2b41719ac36b13a","type":"comment","z":"c3746b495f5f41e0","name":"DATA ","info":"","x":290,"y":960,"wires":[]},{"id":"b6cc77cff5dcab34","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":53,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":330,"y":920,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"366a49866c29fd35","type":"comment","z":"c3746b495f5f41e0","name":"RUN","info":"","x":290,"y":880,"wires":[]},{"id":"5b71af42c8f95ae2","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":53,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":330,"y":1080,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"1444f807b0905e12","type":"comment","z":"c3746b495f5f41e0","name":"PGM","info":"","x":290,"y":1040,"wires":[]},{"id":"3a70166406f43948","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":53,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":330,"y":1160,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"d124bf3f43188c51","type":"comment","z":"c3746b495f5f41e0","name":"ACK","info":"","x":290,"y":1120,"wires":[]},{"id":"3b1c804c201bb069","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":330,"y":1400,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"9c6372e203288f68","type":"comment","z":"c3746b495f5f41e0","name":"modem_mac","info":"","x":310,"y":1360,"wires":[]},{"id":"5b99074cb875dc7a","type":"comment","z":"c3746b495f5f41e0","name":"DATA ","info":"","x":290,"y":1480,"wires":[]},{"id":"bcf5249da7771e86","type":"inject","z":"c3746b495f5f41e0","name":"53 - Air Quality CO2 and PM Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":380,"y":1600,"wires":[["3eb83619ece7cc12"]],"icon":"node-red/serial.svg"},{"id":"f739461f06d98d3b","type":"comment","z":"c3746b495f5f41e0","name":"Config Results","info":"","x":320,"y":1560,"wires":[]},{"id":"d950f859db857bb5","type":"inject","z":"c3746b495f5f41e0","name":"53 - Air Quality CO2 and PM Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":380,"y":1680,"wires":[["3eb83619ece7cc12"]],"icon":"node-red/serial.svg"},{"id":"f12f3f3fb6ad3010","type":"comment","z":"c3746b495f5f41e0","name":"OTN Request Results","info":"","x":340,"y":1640,"wires":[]},{"id":"a7a1e91c4057a69b","type":"comment","z":"c3746b495f5f41e0","name":"PUM","info":"","x":290,"y":1200,"wires":[]},{"id":"df7808020591885b","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":53,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":330,"y":1320,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"170330730cc6fa70","type":"comment","z":"c3746b495f5f41e0","name":"FLY","info":"","x":290,"y":1280,"wires":[]},{"id":"c493e7f8fe5c2583","type":"debug","z":"c3746b495f5f41e0","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":1520,"wires":[]},{"id":"a3e792a7d41f483c","type":"inject","z":"c3746b495f5f41e0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":53,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":330,"y":1240,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"}]
