node-red/44 - CO2 Gas Sensor/44 - CO2 Gas Sensor.json
[{"id":"dde3920de99c0283","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":44,\"sensor_data\":{\"CO2\":0,\"humidity\":0,\"temperature\":0},\"sensor_name\":\"Wireless CO2 Gas Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":200,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"278549260d8435da","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":360,"wires":[]},{"id":"d881fb25ed3cbe7c","type":"inject","z":"59c81deb02af9798","name":"44 - CO2 Gas Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":44,\"sensor_data\":{\"CO2\":0,\"humidity\":0,\"temperature\":0},\"sensor_name\":\"Wireless CO2 Gas Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"CO2\":0,\"humidity\":0,\"temperature\":0}","payloadType":"json","x":200,"y":720,"wires":[["cbe012a9f7a439dc"]],"icon":"node-red/serial.svg"},{"id":"cbe012a9f7a439dc","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":800,"wires":[]},{"id":"24ec0a0d09a9fb62","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":150,"y":160,"wires":[]},{"id":"56770a7112cb3050","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":44,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":190,"y":120,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"379c0d239dce969b","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":150,"y":80,"wires":[]},{"id":"7c1c9666ac6d72b6","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":44,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":190,"y":280,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"b7d7d114a7f37878","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":150,"y":240,"wires":[]},{"id":"e965e0694d2a35a6","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":44,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":190,"y":360,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"fc2eb52777a7a0eb","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":150,"y":320,"wires":[]},{"id":"dd7f69584b0d6933","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":190,"y":600,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"2c2f11944e3323a8","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":170,"y":560,"wires":[]},{"id":"6673f39c19049ca1","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":150,"y":680,"wires":[]},{"id":"f44d3312ee5e488b","type":"inject","z":"59c81deb02af9798","name":"44 - CO2 Gas Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":200,"y":800,"wires":[["cbe012a9f7a439dc"]],"icon":"node-red/serial.svg"},{"id":"429ad17494f4eb2a","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":180,"y":760,"wires":[]},{"id":"eb36478662858428","type":"inject","z":"59c81deb02af9798","name":"44 - CO2 Gas Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":200,"y":880,"wires":[["cbe012a9f7a439dc"]],"icon":"node-red/serial.svg"},{"id":"24436ecb23cc1fb7","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":200,"y":840,"wires":[]},{"id":"7272cabba5bef6b1","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":150,"y":400,"wires":[]},{"id":"fea687cd136d7d3e","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":44,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":190,"y":520,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"},{"id":"086e77eafa4fb7de","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":150,"y":480,"wires":[]},{"id":"b925099096cc7fd5","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":44,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":190,"y":440,"wires":[["278549260d8435da"]],"icon":"node-red/serial.svg"}]
