node-red/28 - 3 Channel Current Sensor/commands/28 - 3 -Phase Current Sensor.json
[{"id":"d85abd39be8c6756","type":"debug","z":"3c52c469907bd106","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"c0fab7d93df10211","type":"debug","z":"3c52c469907bd106","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1180,"wires":[]},{"id":"83ba83e7259ef196","type":"comment","z":"3c52c469907bd106","name":"DATA ","info":"","x":310,"y":600,"wires":[]},{"id":"dba9ea197df99a36","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":350,"y":560,"wires":[["d85abd39be8c6756"]],"icon":"node-red/serial.svg"},{"id":"b1b43fcc6e6904b5","type":"comment","z":"3c52c469907bd106","name":"RUN","info":"","x":310,"y":520,"wires":[]},{"id":"67eb89c06b87337d","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":350,"y":720,"wires":[["827eea19121e9f82"]],"icon":"node-red/serial.svg"},{"id":"7c0aebbec02b8c53","type":"comment","z":"3c52c469907bd106","name":"PGM","info":"","x":310,"y":680,"wires":[]},{"id":"40eaace94b35865b","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":350,"y":800,"wires":[["9849877e16a0f99c"]],"icon":"node-red/serial.svg"},{"id":"61102ecd20ad6d87","type":"comment","z":"3c52c469907bd106","name":"ACK","info":"","x":310,"y":760,"wires":[]},{"id":"c56b1d7e53f3c739","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":350,"y":960,"wires":[["9ae04747348c0925"]],"icon":"node-red/serial.svg"},{"id":"b17175949e957c5d","type":"comment","z":"3c52c469907bd106","name":"modem_mac","info":"","x":330,"y":920,"wires":[]},{"id":"9ed022ffb8159f27","type":"comment","z":"3c52c469907bd106","name":"DATA ","info":"","x":290,"y":1060,"wires":[]},{"id":"718c46015f5b69a1","type":"inject","z":"3c52c469907bd106","name":"28 - 3-Phase Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true}","payloadType":"json","x":380,"y":1180,"wires":[["c0fab7d93df10211"]],"icon":"node-red/serial.svg"},{"id":"419e135e3f8e715e","type":"comment","z":"3c52c469907bd106","name":"Config Results","info":"","x":320,"y":1140,"wires":[]},{"id":"276a2c1b29aec56b","type":"comment","z":"3c52c469907bd106","name":"PUM","info":"","x":310,"y":840,"wires":[]},{"id":"b4c88ddeaabe2ab2","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":350,"y":880,"wires":[["34c29783b7c54d51"]],"icon":"node-red/serial.svg"},{"id":"a638c9e0885cc3b3","type":"comment","z":"3c52c469907bd106","name":"3-Phase Current Sensor - Wireless Gateway","info":"","x":430,"y":480,"wires":[]},{"id":"731de4665853407e","type":"inject","z":"3c52c469907bd106","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":1,\"sensor_type\":28,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"3-Phase Current Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,2,3,254,1,0,28,0,0,0,1,0,0,0,1,0,0,0,1,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":350,"y":640,"wires":[["19412d4310acc0ee"]],"icon":"node-red/serial.svg"},{"id":"19412d4310acc0ee","type":"function","z":"3c52c469907bd106","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet ch1 = context.get(\"ch1\") || 0;\nlet ch2 = context.get(\"ch2\") || 0;\nlet ch3 = context.get(\"ch3\") || 0;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1_ = Number(((Math.random() * 10) + ch1).toFixed(0));\nlet ch2_ = Number(((Math.random() * 20) + ch2).toFixed(0));\nlet ch3_ = Number(((Math.random() * 20) + ch3).toFixed(0));\n\nmsg.payload.sensor_data.channel_1 = ch1_;\nmsg.payload.sensor_data.channel_2 = ch2_;\nmsg.payload.sensor_data.channel_3 = ch3_;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"ch1\", ch1_);\ncontext.set(\"ch2\", ch2_);\ncontext.set(\"ch3\", ch3_);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["d85abd39be8c6756"]],"icon":"font-awesome/fa-random"},{"id":"06cf0e240eda0ba9","type":"comment","z":"3c52c469907bd106","name":"28 - 3-Phase Current Sensor - Wireless Device","info":"","x":420,"y":1020,"wires":[]},{"id":"c26371414df4cfcb","type":"inject","z":"3c52c469907bd106","name":"28 - 3-Phase Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":28,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"3-Phase Current Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d5\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"rssi\":{},\"type\":\"receive_packet\"},\"rssi\":40,\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0}","payloadType":"json","x":380,"y":1100,"wires":[["daad81a7cda74e24"]],"icon":"node-red/serial.svg"},{"id":"daad81a7cda74e24","type":"function","z":"3c52c469907bd106","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch = 12.000;\nlet min_ch = 10.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch2 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch3 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.payload.channel_3 = ch3;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.data.sensor_data.channel_3 = ch3;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":555,"y":1100,"wires":[["22cc36a5b9ab7b5e"]],"icon":"font-awesome/fa-random","l":false},{"id":"22cc36a5b9ab7b5e","type":"debug","z":"3c52c469907bd106","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":1100,"wires":[]},{"id":"827eea19121e9f82","type":"junction","z":"3c52c469907bd106","x":580,"y":720,"wires":[["d85abd39be8c6756"]]},{"id":"9849877e16a0f99c","type":"junction","z":"3c52c469907bd106","x":580,"y":800,"wires":[["d85abd39be8c6756"]]},{"id":"9ae04747348c0925","type":"junction","z":"3c52c469907bd106","x":580,"y":960,"wires":[["d85abd39be8c6756"]]},{"id":"34c29783b7c54d51","type":"junction","z":"3c52c469907bd106","x":580,"y":880,"wires":[["d85abd39be8c6756"]]}]
