node-red/28 - 3 Channel Current Sensor/commands/28 - 3 Channel Current Sensor
[{"id":"84435345ac058874","type":"tab","label":"28 - 3 Channel Current Sensor","disabled":false,"info":"","env":[]},{"id":"79d1efcee4c7aa04","type":"junction","z":"84435345ac058874","x":580,"y":720,"wires":[["bde477dcf41dc321"]]},{"id":"c41e4d9353894bcf","type":"junction","z":"84435345ac058874","x":580,"y":800,"wires":[["bde477dcf41dc321"]]},{"id":"ca1f42e54e35d6f7","type":"junction","z":"84435345ac058874","x":580,"y":960,"wires":[["bde477dcf41dc321"]]},{"id":"45dda4850381f4b2","type":"junction","z":"84435345ac058874","x":580,"y":880,"wires":[["bde477dcf41dc321"]]},{"id":"bde477dcf41dc321","type":"debug","z":"84435345ac058874","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"e2627adfe5d3dc0b","type":"debug","z":"84435345ac058874","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":1560,"wires":[]},{"id":"f0af5a0a8800e43c","type":"comment","z":"84435345ac058874","name":"DATA ","info":"","x":310,"y":600,"wires":[]},{"id":"83be84e980747bd2","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":350,"y":560,"wires":[["bde477dcf41dc321"]],"icon":"node-red/serial.svg"},{"id":"7ba0d9e52deb5384","type":"comment","z":"84435345ac058874","name":"RUN","info":"","x":310,"y":520,"wires":[]},{"id":"b22555d99db0ec91","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":350,"y":720,"wires":[["79d1efcee4c7aa04"]],"icon":"node-red/serial.svg"},{"id":"fe69851ab814a25a","type":"comment","z":"84435345ac058874","name":"PGM","info":"","x":310,"y":680,"wires":[]},{"id":"de090c32868d1724","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":350,"y":800,"wires":[["c41e4d9353894bcf"]],"icon":"node-red/serial.svg"},{"id":"81a7ac0c863614eb","type":"comment","z":"84435345ac058874","name":"ACK","info":"","x":310,"y":760,"wires":[]},{"id":"470d6ebd21863243","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":350,"y":960,"wires":[["ca1f42e54e35d6f7"]],"icon":"node-red/serial.svg"},{"id":"162f23851afd052e","type":"comment","z":"84435345ac058874","name":"modem_mac","info":"","x":330,"y":920,"wires":[]},{"id":"5cc813dc05f6b59a","type":"comment","z":"84435345ac058874","name":"DATA ","info":"","x":290,"y":1060,"wires":[]},{"id":"63b223e83b8b870c","type":"inject","z":"84435345ac058874","name":"28 - 3 Channel Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true}","payloadType":"json","x":410,"y":1560,"wires":[["e2627adfe5d3dc0b"]],"icon":"node-red/serial.svg"},{"id":"a6f3d5a7ea144763","type":"comment","z":"84435345ac058874","name":"Config Results","info":"","x":360,"y":1520,"wires":[]},{"id":"275ceceabc5bf7fa","type":"comment","z":"84435345ac058874","name":"PUM","info":"","x":310,"y":840,"wires":[]},{"id":"b07c56012329a4b0","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":28,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":350,"y":880,"wires":[["45dda4850381f4b2"]],"icon":"node-red/serial.svg"},{"id":"883ffe9e224be0bc","type":"comment","z":"84435345ac058874","name":"24-Bit 3-Channel Current Monitor - Wireless Gateway","info":"","x":460,"y":480,"wires":[]},{"id":"9d6c672dab3801ac","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":1,\"sensor_type\":28,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"24-Bit 3-Channel Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,2,3,254,1,0,28,0,0,0,1,0,0,0,1,0,0,0,1,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":350,"y":640,"wires":[["4cb681013634a465"]],"icon":"node-red/serial.svg"},{"id":"4cb681013634a465","type":"function","z":"84435345ac058874","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet ch1 = context.get(\"ch1\") || 0;\nlet ch2 = context.get(\"ch2\") || 0;\nlet ch3 = context.get(\"ch3\") || 0;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1_ = Number(((Math.random() * 10) + ch1).toFixed(0));\nlet ch2_ = Number(((Math.random() * 20) + ch2).toFixed(0));\nlet ch3_ = Number(((Math.random() * 20) + ch3).toFixed(0));\n\nmsg.payload.sensor_data.channel_1 = ch1_;\nmsg.payload.sensor_data.channel_2 = ch2_;\nmsg.payload.sensor_data.channel_3 = ch3_;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"ch1\", ch1_);\ncontext.set(\"ch2\", ch2_);\ncontext.set(\"ch3\", ch3_);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["bde477dcf41dc321"]],"icon":"font-awesome/fa-random"},{"id":"4119a2a3c77a134d","type":"comment","z":"84435345ac058874","name":"28 - 3 Channel Current Sensor - Wireless Device","info":"","x":420,"y":1020,"wires":[]},{"id":"204140d21002c7ab","type":"inject","z":"84435345ac058874","name":"28 - 3 Channel Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":28,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"24-Bit 3-Channel Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d5\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"rssi\":{},\"type\":\"receive_packet\"},\"rssi\":40,\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0}","payloadType":"json","x":390,"y":1100,"wires":[["ab247493e51e0891"]],"icon":"node-red/serial.svg"},{"id":"ab247493e51e0891","type":"function","z":"84435345ac058874","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch = 12.000;\nlet min_ch = 10.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch2 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch3 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.payload.channel_3 = ch3;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.data.sensor_data.channel_3 = ch3;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":555,"y":1100,"wires":[["c0418609679b1c17","bda9b81e14b152a8","b599045c0f62b58f","383f97637b068a3c","5e8babd71d77828e","aa2fdb1208fb7a3e","2e909c584b273a63"]],"icon":"font-awesome/fa-random","l":false},{"id":"c0418609679b1c17","type":"debug","z":"84435345ac058874","name":"Current CH1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_1","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":770,"y":1140,"wires":[]},{"id":"bda9b81e14b152a8","type":"debug","z":"84435345ac058874","name":"Current CH2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_2","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":770,"y":1200,"wires":[]},{"id":"b599045c0f62b58f","type":"debug","z":"84435345ac058874","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":1100,"wires":[]},{"id":"383f97637b068a3c","type":"debug","z":"84435345ac058874","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":770,"y":1320,"wires":[]},{"id":"5e8babd71d77828e","type":"debug","z":"84435345ac058874","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":780,"y":1380,"wires":[]},{"id":"aa2fdb1208fb7a3e","type":"debug","z":"84435345ac058874","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":760,"y":1440,"wires":[]},{"id":"2e909c584b273a63","type":"debug","z":"84435345ac058874","name":"Current CH3","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_3","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":770,"y":1260,"wires":[]}]
