node-red/26 - Pressure Sensor/commands/26 - Pressure Temperature (PSI).json
[{"id":"bde477dcf41dc321","type":"debug","z":"84435345ac058874","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"29d129fbced41f06","type":"inject","z":"84435345ac058874","name":"26 - Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":26,\"sensor_data\":{\"pressure\":0,\"temperature\":0},\"sensor_name\":\"Pressure & Temperature Sensor (PSI)\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"received\":1708011488930,\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,2,3,254,1,0,26,0,0,0,0,1,0,17],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"pressure\":0,\"temperature\":0}","payloadType":"json","x":360,"y":1200,"wires":[["e2627adfe5d3dc0b"]],"icon":"node-red/serial.svg"},{"id":"e2627adfe5d3dc0b","type":"debug","z":"84435345ac058874","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1200,"wires":[]},{"id":"f0af5a0a8800e43c","type":"comment","z":"84435345ac058874","name":"DATA ","info":"","x":310,"y":600,"wires":[]},{"id":"83be84e980747bd2","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":26,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":350,"y":560,"wires":[["bde477dcf41dc321"]],"icon":"node-red/serial.svg"},{"id":"7ba0d9e52deb5384","type":"comment","z":"84435345ac058874","name":"RUN","info":"","x":310,"y":520,"wires":[]},{"id":"b22555d99db0ec91","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":26,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":350,"y":720,"wires":[["79d1efcee4c7aa04"]],"icon":"node-red/serial.svg"},{"id":"fe69851ab814a25a","type":"comment","z":"84435345ac058874","name":"PGM","info":"","x":310,"y":680,"wires":[]},{"id":"de090c32868d1724","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":26,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":350,"y":800,"wires":[["c41e4d9353894bcf"]],"icon":"node-red/serial.svg"},{"id":"81a7ac0c863614eb","type":"comment","z":"84435345ac058874","name":"ACK","info":"","x":310,"y":760,"wires":[]},{"id":"470d6ebd21863243","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":350,"y":1040,"wires":[["ca1f42e54e35d6f7"]],"icon":"node-red/serial.svg"},{"id":"162f23851afd052e","type":"comment","z":"84435345ac058874","name":"modem_mac","info":"","x":330,"y":1000,"wires":[]},{"id":"5cc813dc05f6b59a","type":"comment","z":"84435345ac058874","name":"DATA ","info":"","x":310,"y":1160,"wires":[]},{"id":"63b223e83b8b870c","type":"inject","z":"84435345ac058874","name":"26 - Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":360,"y":1280,"wires":[["e2627adfe5d3dc0b"]],"icon":"node-red/serial.svg"},{"id":"a6f3d5a7ea144763","type":"comment","z":"84435345ac058874","name":"Config Results","info":"","x":340,"y":1240,"wires":[]},{"id":"1a7e540721aad182","type":"inject","z":"84435345ac058874","name":"26 - Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":360,"y":1360,"wires":[["e2627adfe5d3dc0b"]],"icon":"node-red/serial.svg"},{"id":"19c67c6c65088347","type":"comment","z":"84435345ac058874","name":"OTN Request Results","info":"","x":360,"y":1320,"wires":[]},{"id":"275ceceabc5bf7fa","type":"comment","z":"84435345ac058874","name":"PUM","info":"","x":310,"y":840,"wires":[]},{"id":"8caf7f438c60c2df","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":26,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":350,"y":960,"wires":[["ea21c2a7ee26b733"]],"icon":"node-red/serial.svg"},{"id":"13477e3dcccc8762","type":"comment","z":"84435345ac058874","name":"FLY","info":"","x":310,"y":920,"wires":[]},{"id":"b07c56012329a4b0","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":26,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":350,"y":880,"wires":[["45dda4850381f4b2"]],"icon":"node-red/serial.svg"},{"id":"883ffe9e224be0bc","type":"comment","z":"84435345ac058874","name":"26 - Pressure & Temperature Sensor (PSI) - Wireless Gateway","info":"","x":480,"y":480,"wires":[]},{"id":"9d6c672dab3801ac","type":"inject","z":"84435345ac058874","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":1,\"sensor_type\":26,\"sensor_data\":{\"pressure\":0,\"temperature\":0},\"sensor_name\":\"Pressure & Temperature Sensor (PSI)\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,2,3,254,1,0,26,0,0,0,0,1,0,17],\"type\":\"receive_packet\"}}","payloadType":"json","x":350,"y":640,"wires":[["4cb681013634a465"]],"icon":"node-red/serial.svg"},{"id":"4cb681013634a465","type":"function","z":"84435345ac058874","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet press = context.get(\"press\") || 30;\nlet temp = context.get(\"temp\") || 23;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet pressure = Number(((Math.random() * 10) + press).toFixed(0));\nlet temperature = Number(((Math.random() * 20) + temp).toFixed(0));\n\nmsg.payload.sensor_data.pressure = pressure;\nmsg.payload.sensor_data.temperature = temperature;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"press\", pressure);\ncontext.set(\"temp\", temperature);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["bde477dcf41dc321"]],"icon":"font-awesome/fa-random"},{"id":"4119a2a3c77a134d","type":"comment","z":"84435345ac058874","name":"26 - Pressure & Temperature Sensor (PSI) - Wireless Device","info":"","x":460,"y":1120,"wires":[]},{"id":"79d1efcee4c7aa04","type":"junction","z":"84435345ac058874","x":580,"y":720,"wires":[["bde477dcf41dc321"]]},{"id":"c41e4d9353894bcf","type":"junction","z":"84435345ac058874","x":580,"y":800,"wires":[["bde477dcf41dc321"]]},{"id":"ca1f42e54e35d6f7","type":"junction","z":"84435345ac058874","x":580,"y":1040,"wires":[["bde477dcf41dc321"]]},{"id":"45dda4850381f4b2","type":"junction","z":"84435345ac058874","x":580,"y":880,"wires":[["bde477dcf41dc321"]]},{"id":"ea21c2a7ee26b733","type":"junction","z":"84435345ac058874","x":580,"y":960,"wires":[["bde477dcf41dc321"]]}]
