node-red/33 - AC Current Detector/33 - AC Current Detector.json
[{"id":"05846c049639095e","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":410,"y":2900,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"916a67b652733a92","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":3060,"wires":[]},{"id":"1003f5174401a72d","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"input_1\":1}","payloadType":"json","x":430,"y":3420,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"0e4e13dfa03a78c5","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":3500,"wires":[]},{"id":"958e5161a8357f44","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":370,"y":2860,"wires":[]},{"id":"616e982fdeaecc0d","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":410,"y":2820,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9765168818a73f5","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":370,"y":2780,"wires":[]},{"id":"e1d90445421cae67","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":410,"y":2980,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"887b2d57f2b7f971","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":370,"y":2940,"wires":[]},{"id":"32a4dcf06cd27ea6","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":410,"y":3060,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"2d99c11d5aa1aa13","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":370,"y":3020,"wires":[]},{"id":"6c246ff9d753f6f0","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":410,"y":3300,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9945c96e7d0d897","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":390,"y":3260,"wires":[]},{"id":"53fd21f2200710ce","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":370,"y":3380,"wires":[]},{"id":"01f578e5ad89ed38","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":430,"y":3500,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"eabc24e89b27325c","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":400,"y":3460,"wires":[]},{"id":"fabcc468762154bc","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":430,"y":3580,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"ac390fc878b8d319","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":420,"y":3540,"wires":[]},{"id":"6a592977cd8bcbdf","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":370,"y":3100,"wires":[]},{"id":"dfec85adf6206552","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":410,"y":3220,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"e61d859492c08afc","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":370,"y":3180,"wires":[]},{"id":"c96f1ac2c6055807","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":410,"y":3140,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"}]
