node-red/33 - AC Current Detector/33 - AC Current Detector.json
[{"id":"44b8cf1ffaa11893","type":"group","z":"83b1fc32ba2e267c","name":"Version 1, 2 and 3.","style":{"label":true,"label-position":"n","color":"#000000"},"nodes":["05846c049639095e","916a67b652733a92","1003f5174401a72d","0e4e13dfa03a78c5","958e5161a8357f44","616e982fdeaecc0d","c9765168818a73f5","e1d90445421cae67","887b2d57f2b7f971","32a4dcf06cd27ea6","2d99c11d5aa1aa13","6c246ff9d753f6f0","c9945c96e7d0d897","53fd21f2200710ce","01f578e5ad89ed38","eabc24e89b27325c","fabcc468762154bc","ac390fc878b8d319","6a592977cd8bcbdf","dfec85adf6206552","e61d859492c08afc","c96f1ac2c6055807"],"x":114,"y":59,"w":552,"h":882},{"id":"05846c049639095e","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":250,"y":220,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"916a67b652733a92","type":"debug","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"1003f5174401a72d","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"input_1\":1}","payloadType":"json","x":270,"y":740,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"0e4e13dfa03a78c5","type":"debug","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":820,"wires":[]},{"id":"958e5161a8357f44","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"DATA ","info":"","x":210,"y":180,"wires":[]},{"id":"616e982fdeaecc0d","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":250,"y":140,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9765168818a73f5","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"RUN","info":"","x":210,"y":100,"wires":[]},{"id":"e1d90445421cae67","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":250,"y":300,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"887b2d57f2b7f971","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"PGM","info":"","x":210,"y":260,"wires":[]},{"id":"32a4dcf06cd27ea6","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":250,"y":380,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"2d99c11d5aa1aa13","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"ACK","info":"","x":210,"y":340,"wires":[]},{"id":"6c246ff9d753f6f0","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":250,"y":620,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9945c96e7d0d897","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"modem_mac","info":"","x":230,"y":580,"wires":[]},{"id":"53fd21f2200710ce","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"DATA ","info":"","x":210,"y":700,"wires":[]},{"id":"01f578e5ad89ed38","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":270,"y":820,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"eabc24e89b27325c","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Config Results","info":"","x":240,"y":780,"wires":[]},{"id":"fabcc468762154bc","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":270,"y":900,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"ac390fc878b8d319","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"OTN Request Results","info":"","x":260,"y":860,"wires":[]},{"id":"6a592977cd8bcbdf","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"PUM","info":"","x":210,"y":420,"wires":[]},{"id":"dfec85adf6206552","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":250,"y":540,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"e61d859492c08afc","type":"comment","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"FLY","info":"","x":210,"y":500,"wires":[]},{"id":"c96f1ac2c6055807","type":"inject","z":"83b1fc32ba2e267c","g":"44b8cf1ffaa11893","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":250,"y":460,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"727f7f40a35253b9","type":"group","z":"83b1fc32ba2e267c","name":"Version 4+","style":{"label":true,"label-position":"n","color":"#000000"},"nodes":["6951efb278745890","7be3d4ca12e8121f","8c30b2c57022890e","7b1af0b87f1f32ad","b169becc3ed44693","b6307cdd4cd2cc85","f18853911292ca9a","7c7521e75f7b5771","a8fcede307680d75","60dd62893dc1ba54","f0cff96b8b686212","2f9288e6eec45850","dc63ba0d424d21ca","f1c8c38f7a23f895","b15bdbc601990635","3d10b865e4b7f6e9","bc24da039b84b521","8b20ba8ada9d192d","701e95adb12e24b9","050c5c1c0a6f3ffa","bf452b1783ddc2eb","f2127dd74687b663"],"x":694,"y":59,"w":552,"h":882},{"id":"6951efb278745890","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1,\"current_detect\":25,\"total_uptime\":256,\"total_cycle_count\":12},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":830,"y":220,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"7be3d4ca12e8121f","type":"debug","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":380,"wires":[]},{"id":"8c30b2c57022890e","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":33,\"sensor_data\":{\"input_1\":1,\"current_detect\":25,\"total_uptime\":256,\"total_cycle_count\":12},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"input_1\":1,\"current_detect\":25,\"total_uptime\":256,\"total_cycle_count\":12}","payloadType":"json","x":850,"y":740,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"7b1af0b87f1f32ad","type":"debug","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":820,"wires":[]},{"id":"b169becc3ed44693","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"DATA ","info":"","x":790,"y":180,"wires":[]},{"id":"b6307cdd4cd2cc85","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":830,"y":140,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"f18853911292ca9a","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"RUN","info":"","x":790,"y":100,"wires":[]},{"id":"7c7521e75f7b5771","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":830,"y":300,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"a8fcede307680d75","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"PGM","info":"","x":790,"y":260,"wires":[]},{"id":"60dd62893dc1ba54","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":830,"y":380,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"f0cff96b8b686212","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"ACK","info":"","x":790,"y":340,"wires":[]},{"id":"2f9288e6eec45850","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":830,"y":620,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"dc63ba0d424d21ca","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"modem_mac","info":"","x":810,"y":580,"wires":[]},{"id":"f1c8c38f7a23f895","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"DATA ","info":"","x":790,"y":700,"wires":[]},{"id":"b15bdbc601990635","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":850,"y":820,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"3d10b865e4b7f6e9","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Config Results","info":"","x":820,"y":780,"wires":[]},{"id":"bc24da039b84b521","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":850,"y":900,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"8b20ba8ada9d192d","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"OTN Request Results","info":"","x":840,"y":860,"wires":[]},{"id":"701e95adb12e24b9","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"PUM","info":"","x":790,"y":420,"wires":[]},{"id":"050c5c1c0a6f3ffa","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":830,"y":540,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"bf452b1783ddc2eb","type":"comment","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"FLY","info":"","x":790,"y":500,"wires":[]},{"id":"f2127dd74687b663","type":"inject","z":"83b1fc32ba2e267c","g":"727f7f40a35253b9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":830,"y":460,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"}]
