node-red/33 - AC Current Detector/33_AC_Current_Detector_v4+.json
[{"id":"6951efb278745890","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":33,\"sensor_data\":{\"current_detect\":1,\"total_uptime\":256,\"total_cycle_count\":12},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":710,"y":2780,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"7be3d4ca12e8121f","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":2940,"wires":[]},{"id":"8c30b2c57022890e","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":33,\"sensor_data\":{\"current_detect\":1,\"total_uptime\":256,\"total_cycle_count\":12},\"sensor_name\":\"AC Current Detect Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"current_detect\":1,\"total_uptime\":256,\"total_cycle_count\":12}","payloadType":"json","x":730,"y":3300,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"7b1af0b87f1f32ad","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":3380,"wires":[]},{"id":"b169becc3ed44693","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":670,"y":2740,"wires":[]},{"id":"b6307cdd4cd2cc85","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":710,"y":2700,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"f18853911292ca9a","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":670,"y":2660,"wires":[]},{"id":"7c7521e75f7b5771","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":710,"y":2860,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"a8fcede307680d75","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":670,"y":2820,"wires":[]},{"id":"60dd62893dc1ba54","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":710,"y":2940,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"f0cff96b8b686212","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":670,"y":2900,"wires":[]},{"id":"2f9288e6eec45850","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":710,"y":3180,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"dc63ba0d424d21ca","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":690,"y":3140,"wires":[]},{"id":"f1c8c38f7a23f895","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":670,"y":3260,"wires":[]},{"id":"b15bdbc601990635","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":730,"y":3380,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"3d10b865e4b7f6e9","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":700,"y":3340,"wires":[]},{"id":"bc24da039b84b521","type":"inject","z":"59c81deb02af9798","name":"33 - AC Current Detector","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":730,"y":3460,"wires":[["7b1af0b87f1f32ad"]],"icon":"node-red/serial.svg"},{"id":"8b20ba8ada9d192d","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":720,"y":3420,"wires":[]},{"id":"701e95adb12e24b9","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":670,"y":2980,"wires":[]},{"id":"050c5c1c0a6f3ffa","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":710,"y":3100,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"},{"id":"bf452b1783ddc2eb","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":670,"y":3060,"wires":[]},{"id":"f2127dd74687b663","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":33,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":710,"y":3020,"wires":[["7be3d4ca12e8121f"]],"icon":"node-red/serial.svg"}]
