node-red/531- Custom Noise Sensor/531 - Custom Noise Sensor.json
[{"id":"cd874c9bc6167344","type":"group","z":"e023041b269bbaa8","name":"PROCESSED FIRMWARE VERSION 1","style":{"label":true,"label-position":"n","color":"#000000"},"nodes":["5523c69c49f59f08","9bdae04a79f86a91","59e3cd1953be9a4a","92baddcaea6ed928","c5c4d83868b51717","403cd59e681f7fd6","a1cfbb326ecc8b8c","cd7c6cc2a79e5f6d","2546f4cd9b8db6cd","d5e957c895b8fa25","49eebd4e0f19c933","0499f3f7cc19f41a","1914dd4d901ce0d3","253acbb54505a0f4","5667de8bc51ec9c5","ef0d8eaeb50d48ba","812df9db50755edf","dbc2349d414deb0f","5468b81948f4f690","a85a272f17c2ed79","dc9140e7a3b3a2f3","ac628b0d3cb54b7e"],"x":94,"y":539,"w":532,"h":842},{"id":"5523c69c49f59f08","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":531,\"sensor_data\":{\"noise_db\":0,\"peak_freq_1\":0,\"peak_freq_2\":0,\"peak_freq_3\":0},\"sensor_name\":\"Custom Noise Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":230,"y":700,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"9bdae04a79f86a91","type":"debug","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"59e3cd1953be9a4a","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"531 - Custom Noise Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":531,\"sensor_data\":{\"noise_db\":0,\"peak_freq_1\":0,\"peak_freq_2\":0,\"peak_freq_3\":0},\"sensor_name\":\"Custom Noise Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"noise_db\":0,\"peak_freq_1\":0,\"peak_freq_2\":0,\"peak_freq_3\":0}","payloadType":"json","x":260,"y":1180,"wires":[["92baddcaea6ed928"]],"icon":"node-red/serial.svg"},{"id":"92baddcaea6ed928","type":"debug","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":1260,"wires":[]},{"id":"c5c4d83868b51717","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"DATA ","info":"","x":190,"y":660,"wires":[]},{"id":"403cd59e681f7fd6","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":531,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":230,"y":620,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"a1cfbb326ecc8b8c","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"RUN","info":"","x":190,"y":580,"wires":[]},{"id":"cd7c6cc2a79e5f6d","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":531,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":230,"y":780,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"2546f4cd9b8db6cd","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"PGM","info":"","x":190,"y":740,"wires":[]},{"id":"d5e957c895b8fa25","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":531,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":230,"y":860,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"49eebd4e0f19c933","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"ACK","info":"","x":190,"y":820,"wires":[]},{"id":"0499f3f7cc19f41a","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":230,"y":1100,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"1914dd4d901ce0d3","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"modem_mac","info":"","x":210,"y":1060,"wires":[]},{"id":"253acbb54505a0f4","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"DATA ","info":"","x":190,"y":1140,"wires":[]},{"id":"5667de8bc51ec9c5","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"531 - Custom Noise Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":260,"y":1260,"wires":[["92baddcaea6ed928"]],"icon":"node-red/serial.svg"},{"id":"ef0d8eaeb50d48ba","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Config Results","info":"","x":220,"y":1220,"wires":[]},{"id":"812df9db50755edf","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"531 - Custom Noise Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":260,"y":1340,"wires":[["92baddcaea6ed928"]],"icon":"node-red/serial.svg"},{"id":"dbc2349d414deb0f","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"OTN Request Results","info":"","x":240,"y":1300,"wires":[]},{"id":"5468b81948f4f690","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"PUM","info":"","x":190,"y":900,"wires":[]},{"id":"a85a272f17c2ed79","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":531,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":230,"y":1020,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"dc9140e7a3b3a2f3","type":"comment","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"FLY","info":"","x":190,"y":980,"wires":[]},{"id":"ac628b0d3cb54b7e","type":"inject","z":"e023041b269bbaa8","g":"cd874c9bc6167344","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":531,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":230,"y":940,"wires":[["9bdae04a79f86a91"]],"icon":"node-red/serial.svg"},{"id":"0cb37860b4ac9bfb","type":"group","z":"e023041b269bbaa8","name":"PROCESSED FIRMWARE > 1","style":{"label":true,"label-position":"n","color":"#000000"},"nodes":["c30c81088ff41154","86cc2fdc40d5cadc","56666fd6b650bdb2","ae8b02c7d704ab0d","75f02e0687402500","e1464a279c541030"],"x":654,"y":539,"w":512,"h":202},{"id":"c30c81088ff41154","type":"inject","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":531,\"sensor_data\":{\"mode\":0,\"sample_rate\":0,\"rms_dba\":0,\"c1_dba\":0,\"c1_freq\":0,\"c2_dba\":0,\"c2_freq\":0,\"c3_dba\":0,\"c3_freq\":0},\"sensor_name\":\"Custom Noise Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":790,"y":620,"wires":[["86cc2fdc40d5cadc"]],"icon":"node-red/serial.svg"},{"id":"86cc2fdc40d5cadc","type":"debug","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":620,"wires":[]},{"id":"56666fd6b650bdb2","type":"inject","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"531 - Custom Noise Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":531,\"sensor_data\":{\"mode\":0,\"sample_rate\":0,\"rms_dba\":0,\"c1_dba\":0,\"c1_freq\":0,\"c2_dba\":0,\"c2_freq\":0,\"c3_dba\":0,\"c3_freq\":0},\"sensor_name\":\"Custom Noise Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"sample_rate\":0,\"rms_dba\":0,\"c1_dba\":0,\"c1_freq\":0,\"c2_dba\":0,\"c2_freq\":0,\"c3_dba\":0,\"c3_freq\":0}","payloadType":"json","x":820,"y":700,"wires":[["ae8b02c7d704ab0d"]],"icon":"node-red/serial.svg"},{"id":"ae8b02c7d704ab0d","type":"debug","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":700,"wires":[]},{"id":"75f02e0687402500","type":"comment","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"DATA ","info":"","x":750,"y":580,"wires":[]},{"id":"e1464a279c541030","type":"comment","z":"e023041b269bbaa8","g":"0cb37860b4ac9bfb","name":"DATA ","info":"","x":750,"y":660,"wires":[]},{"id":"bd2106c338265be6","type":"group","z":"e023041b269bbaa8","name":"RAW MODE","style":{"label":true,"label-position":"n","color":"#000000"},"nodes":["cf5d02706ac8431f","8abe328cdb57484e","73d6104dcd3a2637"],"x":654,"y":759,"w":452,"h":122},{"id":"cf5d02706ac8431f","type":"debug","z":"e023041b269bbaa8","g":"bd2106c338265be6","name":"debug 155","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":840,"wires":[]},{"id":"8abe328cdb57484e","type":"comment","z":"e023041b269bbaa8","g":"bd2106c338265be6","name":"DATA - RAW","info":"","x":750,"y":800,"wires":[]},{"id":"73d6104dcd3a2637","type":"inject","z":"e023041b269bbaa8","g":"bd2106c338265be6","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":531,\"sensor_data\":{\"sample_rate\":16,\"data\":{\"1\":257,\"2\":16,\"3\":514,\"4\":16,\"5\":243,\"6\":23,\"7\":257,\"8\":36,\"9\":65,\"10\":33,\"11\":257,\"12\":16}},\"sensor_name\":\"Custom Noise Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":790,"y":840,"wires":[["cf5d02706ac8431f"]],"icon":"node-red/serial.svg"}]
