node-red/80 - One Channel Vibration Plus [Mode:Processed]/80 - One Channel Vibration Plus [Mode:Processed].json
[{"id":"e2ee856d6dc2e793","type":"inject","z":"0f850dc8977c3d53","name":"80 - One Channel Vibration Plus","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":16,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":80,\"sensor_data\":{\"mode\":0,\"odr\":\"12800Hz\",\"temperature\":22.51,\"x_rms_ACC_G\":0.042,\"x_max_ACC_G\":0.012,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0,\"x_peak_one_Hz\":3675,\"x_peak_two_Hz\":4575,\"x_peak_three_Hz\":1075,\"y_rms_ACC_G\":0.042,\"y_max_ACC_G\":0.012,\"y_velocity_mm_sec\":0.03,\"y_displacement_mm\":0,\"y_peak_one_Hz\":3675,\"y_peak_two_Hz\":4575,\"y_peak_three_Hz\":1075,\"z_rms_ACC_G\":0.042,\"z_max_ACC_G\":0.012,\"z_velocity_mm_sec\":0.03,\"z_displacement_mm\":0,\"z_peak_one_Hz\":3675,\"z_peak_two_Hz\":4575,\"z_peak_three_Hz\":1075},\"sensor_name\":\"One Channel Vibration Plus\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:00:00:05\",\"received\":1708011488930,\"original\":{\"mac\":\"00:13:a2:00:00:00:00:05\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,3,3,255,126,0,81,0,0,10,11,147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,11,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\",\"time\":0}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"odr\":\"12800Hz\",\"temperature\":22.51,\"x_rms_ACC_G\":0.042,\"x_max_ACC_G\":0.012,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0,\"x_peak_one_Hz\":3675,\"x_peak_two_Hz\":4575,\"x_peak_three_Hz\":1075,\"y_rms_ACC_G\":0.042,\"y_max_ACC_G\":0.012,\"y_velocity_mm_sec\":0.03,\"y_displacement_mm\":0,\"y_peak_one_Hz\":3675,\"y_peak_two_Hz\":4575,\"y_peak_three_Hz\":1075,\"z_rms_ACC_G\":0.042,\"z_max_ACC_G\":0.012,\"z_velocity_mm_sec\":0.03,\"z_displacement_mm\":0,\"z_peak_one_Hz\":3675,\"z_peak_two_Hz\":4575,\"z_peak_three_Hz\":1075}","payloadType":"json","x":190,"y":2300,"wires":[["600d76bf66cdbe09","5bcd20c00cfbe8ba"]],"icon":"node-red/serial.svg"},{"id":"87c78e353cfa3b14","type":"debug","z":"0f850dc8977c3d53","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":2300,"wires":[]},{"id":"fbcc6b30d0a02b4a","type":"comment","z":"0f850dc8977c3d53","name":"Mode: Processed","info":"","x":140,"y":2260,"wires":[]},{"id":"600d76bf66cdbe09","type":"function","z":"0f850dc8977c3d53","name":"randomData","func":"var count = context.get(\"counter\") || 1;\n\nvar max_temp = 24.00;\nvar min_temp = 23.00;\nvar max_rms = 0.125;\nvar min_rms = 0.125;\nvar max_max = 0.125;\nvar min_max = 0.125;\nvar max_velocity = 0.05\nvar min_velocity = 0.01;\nvar max_displacement = 1;\nvar min_displacement = 0;\nvar max_one = 250;\nvar min_one = 0;\nvar max_two = 250;\nvar min_two = 0;\nvar max_three = 510;\nvar min_three = 0;\nvar max_batt = 3.2;\nvar min_batt = 3.1;\n\nvar temp = Number((Math.random() * (max_temp - min_temp) + min_temp).toFixed(2));\nvar rms = Number((Math.random() * (max_rms - min_rms) + min_rms).toFixed(2));\nvar max = Number((Math.random() * (max_max - min_max) + min_max).toFixed(2));\nvar velocity = Number((Math.random() * (max_velocity - min_velocity) + min_velocity).toFixed(2));\nvar displacement = Number((Math.random() * (max_displacement - min_displacement) + min_displacement).toFixed(2));\nvar one = Number((Math.random() * (max_one - min_one) + min_one).toFixed(2));\nvar two = Number((Math.random() * (max_two - min_two) + min_two).toFixed(2));\nvar three = Number((Math.random() * (max_three - min_three) + min_three).toFixed(2));\n\nmsg.payload.temperature = temp;\nmsg.payload.x_rms_ACC_G = rms;\nmsg.payload.x_max_ACC_G = max;\nmsg.payload.x_velocity_mm_sec = velocity;\nmsg.payload.x_displacement_mm = displacement;\nmsg.payload.x_peak_one_Hz = one;\nmsg.payload.x_peak_two_Hz = two;\nmsg.payload.x_peak_three_Hz = three;\n\nmsg.data.sensor_data.temperature = temp;\nmsg.data.sensor_data.x_rms_ACC_G = rms;\nmsg.data.sensor_data.x_max_ACC_G = rms;\nmsg.data.sensor_data.x_velocity_mm_sec = velocity;\nmsg.data.sensor_data.x_displacement_mm_sec = displacement;\nmsg.data.sensor_data.x_peak_one_Hz = one;\nmsg.data.sensor_data.x_peak_two_Hz = two;\nmsg.data.sensor_data.x_peak_three_Hz = three;\n\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":375,"y":2300,"wires":[["87c78e353cfa3b14"]],"l":false},{"id":"2c181a1001c43a25","type":"comment","z":"0f850dc8977c3d53","name":"Limits","info":"Temperature Rating: -40 to 85 C\n(XYZ) Displacement Range: 0 to 655mm\n(XYZ) Velocity Range: 0 to 655mm\n","x":410,"y":2260,"wires":[]},{"id":"5bcd20c00cfbe8ba","type":"debug","z":"0f850dc8977c3d53","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":2340,"wires":[]}]
