node-red/108 - Machine Uptime Monitor Sensor/WirelessGateway/MachineUptimeMonitoringSensor.json
[{"id":"72bd4af06447ce99","type":"inject","z":"c3a8691f8a6510f9","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":108,\"sensor_data\":{\"digital_input_counter\":0,\"digital_input_uptime\":0,\"ct_input_counter\":0,\"ct_input_uptime\":0,\"opto_input_counter\":0,\"opto_input_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0,\"input_di\":0,\"input_ct\":0,\"input_opto\":0,\"input_acc\":0,\"input_mag\":0},\"sensor_name\":\"Machine Uptime Monitoring Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":210,"y":1840,"wires":[["7779e948808c368f"]],"icon":"node-red/serial.svg"},{"id":"7779e948808c368f","type":"debug","z":"c3a8691f8a6510f9","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1840,"wires":[]},{"id":"4036e42e17baea4d","type":"comment","z":"c3a8691f8a6510f9","name":"Dummy data structure Type - 108","info":"","x":230,"y":1800,"wires":[]}]
