node-red/108 - Machine Uptime Monitor Sensor/WirelessGateway/MachineUptimeMonitoringSensor.json
[{"id":"d320e52159660917","type":"inject","z":"5aa9365e086c5f4a","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":108,\"sensor_data\":{\"digital_input_counter\":0,\"digital_input_uptime\":0,\"ct_input_counter\":0,\"ct_input_uptime\":0,\"opto_input_counter\":0,\"opto_input_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0},\"sensor_name\":\"Machine Uptime Monitoring Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"reveived\":1683733742913,\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":270,"y":380,"wires":[["7e583c53bfeb962b"]],"icon":"node-red/serial.svg"},{"id":"7e583c53bfeb962b","type":"function","z":"5aa9365e086c5f4a","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet dinCount = context.get(\"d_count\") || 1;\nlet dinUptime = context.get(\"d_uptime\") || 1;\nlet ctCount = context.get(\"c_count\") || 1;\nlet ctUptime = context.get(\"c_uptime\") || 1;\nlet optoCount = context.get(\"o_count\") || 1;\nlet optoUptime = context.get(\"o_uptime\") || 1;\nlet accCount = context.get(\"a_count\") || 1;\nlet accUptime = context.get(\"a_uptime\") || 1;\nlet magCount = context.get(\"m_count\") || 1;\nlet magUptime = context.get(\"m_uptime\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet din_count = Number(((Math.random() * 10) + dinCount).toFixed(0));\nlet din_uptime = Number(((Math.random() * 20) + dinUptime).toFixed(0));\nlet ct_count = Number(((Math.random() * 10) + ctCount).toFixed(0));\nlet ct_uptime = Number(((Math.random() * 20) + ctUptime).toFixed(0));\nlet opto_count = Number(((Math.random() * 10) + optoCount).toFixed(0));\nlet opto_uptime = Number(((Math.random() * 20) + optoUptime).toFixed(0));\nlet acc_count = Number(((Math.random()*10) + accCount).toFixed(0));\nlet acc_uptime = Number(((Math.random() * 20) + accUptime).toFixed(0));\nlet mag_count = Number(((Math.random()*10) + magCount).toFixed(0));\nlet mag_uptime = Number(((Math.random()*20) + magUptime).toFixed(0));\n\nmsg.payload.sensor_data.digital_input_counter = din_count;\nmsg.payload.sensor_data.digital_input_uptime = din_uptime;\nmsg.payload.sensor_data.ct_input_counter = ct_count;\nmsg.payload.sensor_data.ct_input_uptime = ct_uptime;\nmsg.payload.sensor_data.opto_input_counter = opto_count;\nmsg.payload.sensor_data.opto_input_uptime = opto_uptime;\nmsg.payload.sensor_data.accelerometer_counter = acc_count;\nmsg.payload.sensor_data.accelerometer_uptime = acc_uptime;\nmsg.payload.sensor_data.magnetometer_counter = mag_count;\nmsg.payload.sensor_data.magnetometer_uptime = mag_uptime;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"d_count\", din_count);\ncontext.set(\"d_uptime\", din_uptime);\ncontext.set(\"c_count\", ct_count);\ncontext.set(\"c_uptime\", ct_uptime);\ncontext.set(\"o_count\", opto_count);\ncontext.set(\"o_uptime\", opto_uptime);\ncontext.set(\"a_count\", acc_count);\ncontext.set(\"a_uptime\", acc_uptime);\ncontext.set(\"m_count\", mag_count);\ncontext.set(\"m_uptime\", mag_uptime);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["c443ed2efef7b276"]],"icon":"font-awesome/fa-random"},{"id":"c443ed2efef7b276","type":"debug","z":"5aa9365e086c5f4a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":380,"wires":[]}]
