node-red/21 - AMS Pressure & Temperature/Wireless Gateway/21 - AMS Pressure & Temperature.json
[{"id":"50136d4aa08c9453","type":"inject","z":"37c8e44a35e28282","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":21,\"sensor_data\":{\"pressure\":0,\"temperature\":0},\"sensor_name\":\"AMS Pressure & Temperature\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:12:1A:10:10\",\"original\":{\"mac\":\"00:13:a2:00:12:1A:10:10\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":280,"wires":[["25ec3a171bf61365"]],"icon":"node-red/serial.svg"},{"id":"25ec3a171bf61365","type":"function","z":"37c8e44a35e28282","name":"random","func":"let counter = context.get(\"counter\") || 1;\nlet pressure_ = context.get(\"pressure\") || 10;\nlet temperature_ = context.get(\"temperature\") || 23;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet pressure = Number(((Math.random() * 10) + pressure_).toFixed(2));\nlet temperature = Number(((Math.random() * 1.2) + temperature_).toFixed(2));\n\nmsg.payload.sensor_data.pressure = pressure;\nmsg.payload.sensor_data.temperature = temperature;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"pressure\", pressure_);\ncontext.set(\"temperature\", temperature_);\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["ea66e7f1bf18824a"]],"icon":"font-awesome/fa-random"},{"id":"ea66e7f1bf18824a","type":"debug","z":"37c8e44a35e28282","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":280,"wires":[]}]
