node-red/56 - 2 Channel 0-10VDC Receiver/56 - 2 Channel 0-10VDC Receiver.json
[{"id":"ad078de47a921f4e","type":"tab","label":"NCD_Commands","disabled":false,"info":"","env":[]},{"id":"37719cad5a677d87","type":"junction","z":"ad078de47a921f4e","x":420,"y":280,"wires":[["687fae10f160252d"]]},{"id":"1ded275a7e53fd6a","type":"junction","z":"ad078de47a921f4e","x":420,"y":360,"wires":[["687fae10f160252d"]]},{"id":"f015d34164ae9038","type":"junction","z":"ad078de47a921f4e","x":420,"y":600,"wires":[["687fae10f160252d"]]},{"id":"456d1ad4e620d092","type":"junction","z":"ad078de47a921f4e","x":420,"y":440,"wires":[["687fae10f160252d"]]},{"id":"26a3bb77648cb597","type":"junction","z":"ad078de47a921f4e","x":420,"y":200,"wires":[["687fae10f160252d"]]},{"id":"39d9f3c4da367c0e","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":1,\"sensor_type\":56,\"sensor_data\":{\"adc1\":6400,\"adc2\":6400,\"VDC1\":4.392320000000001,\"VDC2\":4.392320000000001,\"byteOne\":25,\"byteTwo\":0,\"byteThree\":25,\"byteFour\":0},\"sensor_name\":\"2 Channel 0-10VDC Receiver\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,1,0,52,0,25,0,25,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":200,"wires":[["26a3bb77648cb597"]],"icon":"node-red/serial.svg"},{"id":"687fae10f160252d","type":"debug","z":"ad078de47a921f4e","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":120,"wires":[]},{"id":"17f531c5ef873652","type":"inject","z":"ad078de47a921f4e","name":"56 - 2 Channel 0-10VDC Receiver","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":56,\"sensor_data\":{\"adc1\":6400,\"adc2\":6400,\"VDC1\":4.392320000000001,\"VDC2\":4.392320000000001,\"byteOne\":25,\"byteTwo\":0,\"byteThree\":25,\"byteFour\":0},\"sensor_name\":\"2 Channel 0-10VDC Receiver\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"adc1\":6400,\"adc2\":6400,\"VDC1\":4.392320000000001,\"VDC2\":4.392320000000001,\"byteOne\":25,\"byteTwo\":0,\"byteThree\":25,\"byteFour\":0}","payloadType":"json","x":240,"y":720,"wires":[["c493e7f8fe5c2583"]],"icon":"node-red/serial.svg"},{"id":"3eb83619ece7cc12","type":"debug","z":"ad078de47a921f4e","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":800,"wires":[]},{"id":"c2b41719ac36b13a","type":"comment","z":"ad078de47a921f4e","name":"DATA ","info":"","x":150,"y":160,"wires":[]},{"id":"b6cc77cff5dcab34","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":56,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":190,"y":120,"wires":[["687fae10f160252d"]],"icon":"node-red/serial.svg"},{"id":"366a49866c29fd35","type":"comment","z":"ad078de47a921f4e","name":"RUN","info":"","x":150,"y":80,"wires":[]},{"id":"5b71af42c8f95ae2","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":56,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":190,"y":280,"wires":[["37719cad5a677d87"]],"icon":"node-red/serial.svg"},{"id":"1444f807b0905e12","type":"comment","z":"ad078de47a921f4e","name":"PGM","info":"","x":150,"y":240,"wires":[]},{"id":"3a70166406f43948","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":56,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":190,"y":360,"wires":[["1ded275a7e53fd6a"]],"icon":"node-red/serial.svg"},{"id":"d124bf3f43188c51","type":"comment","z":"ad078de47a921f4e","name":"ACK","info":"","x":150,"y":320,"wires":[]},{"id":"3b1c804c201bb069","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":190,"y":600,"wires":[["f015d34164ae9038"]],"icon":"node-red/serial.svg"},{"id":"9c6372e203288f68","type":"comment","z":"ad078de47a921f4e","name":"modem_mac","info":"","x":170,"y":560,"wires":[]},{"id":"5b99074cb875dc7a","type":"comment","z":"ad078de47a921f4e","name":"DATA ","info":"","x":150,"y":680,"wires":[]},{"id":"bcf5249da7771e86","type":"inject","z":"ad078de47a921f4e","name":"56 - 2 Channel 0-10VDC Receiver","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true}","payloadType":"json","x":240,"y":800,"wires":[["3eb83619ece7cc12"]],"icon":"node-red/serial.svg"},{"id":"f739461f06d98d3b","type":"comment","z":"ad078de47a921f4e","name":"Config Results","info":"","x":180,"y":760,"wires":[]},{"id":"a7a1e91c4057a69b","type":"comment","z":"ad078de47a921f4e","name":"PUM","info":"","x":150,"y":400,"wires":[]},{"id":"c493e7f8fe5c2583","type":"debug","z":"ad078de47a921f4e","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":720,"wires":[]},{"id":"a3e792a7d41f483c","type":"inject","z":"ad078de47a921f4e","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":56,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":190,"y":440,"wires":[["456d1ad4e620d092"]],"icon":"node-red/serial.svg"}]
