node-red/118 - Dual Pressure and Temperature Sensor/118 - Dual Pressure and Temperature Sensor.json
[{"id":"209ca666fec1f1c3","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":12,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":118,\"sensor_data\":{\"pressure_s1\":0,\"temperature_s1\":0,\"pressure_s2\":0,\"temperature_s2\":0},\"sensor_name\":\"Dual Pressure and Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":270,"y":180,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"50b4b52cd277c3fb","type":"debug","z":"adcae456bdd7867d","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":340,"wires":[]},{"id":"fde621d8f48c415a","type":"inject","z":"adcae456bdd7867d","name":"118 - Dual Pressure and Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":12,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":118,\"sensor_data\":{\"pressure_s1\":0,\"temperature_s1\":0,\"pressure_s2\":0,\"temperature_s2\":0},\"sensor_name\":\"Dual Pressure and Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"pressure_s1\":0,\"temperature_s1\":0,\"pressure_s2\":0,\"temperature_s2\":0}","payloadType":"json","x":350,"y":700,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"a9dd262d53322e02","type":"debug","z":"adcae456bdd7867d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":780,"wires":[]},{"id":"598902936605819f","type":"comment","z":"adcae456bdd7867d","name":"DATA ","info":"","x":230,"y":140,"wires":[]},{"id":"77570ea8b24f9abd","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":118,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":270,"y":100,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"4b9dfe445ba5c809","type":"comment","z":"adcae456bdd7867d","name":"RUN","info":"","x":230,"y":60,"wires":[]},{"id":"46e91b36b3abeb31","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":118,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":270,"y":260,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"484a6ba24a05ac71","type":"comment","z":"adcae456bdd7867d","name":"PGM","info":"","x":230,"y":220,"wires":[]},{"id":"115abf67d6bcbd23","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":118,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":270,"y":340,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"2fbb2a5664ea405b","type":"comment","z":"adcae456bdd7867d","name":"ACK","info":"","x":230,"y":300,"wires":[]},{"id":"19fea4fa8aacfcd6","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":270,"y":580,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"30788c1df8a78d08","type":"comment","z":"adcae456bdd7867d","name":"modem_mac","info":"","x":250,"y":540,"wires":[]},{"id":"9d0c94fa72f7baa2","type":"comment","z":"adcae456bdd7867d","name":"DATA ","info":"","x":230,"y":660,"wires":[]},{"id":"1e9871d5aca73cc4","type":"inject","z":"adcae456bdd7867d","name":"118 - Dual Pressure and Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":350,"y":780,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"7174f57d3b132921","type":"comment","z":"adcae456bdd7867d","name":"Config Results","info":"","x":260,"y":740,"wires":[]},{"id":"5f2d5cec01d8443f","type":"inject","z":"adcae456bdd7867d","name":"118 - Dual Pressure and Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":350,"y":860,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"2451c18397d44a3b","type":"comment","z":"adcae456bdd7867d","name":"OTN Request Results","info":"","x":280,"y":820,"wires":[]},{"id":"7a1f3df7963491d8","type":"comment","z":"adcae456bdd7867d","name":"PUM","info":"","x":230,"y":380,"wires":[]},{"id":"fa37c1b2637d72e0","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":118,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":270,"y":500,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"37d338fd00210307","type":"comment","z":"adcae456bdd7867d","name":"FLY","info":"","x":230,"y":460,"wires":[]},{"id":"c48319a054512fe4","type":"inject","z":"adcae456bdd7867d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":118,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":270,"y":420,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"}]
