node-red/114 - Standalone Smart Vibration Sensor v4/time_domain/timedomain.json
[{"id":"a80e656b3bfcc30d","type":"tab","label":"Time Domain Data v4","disabled":false,"info":"","env":[]},{"id":"c49b564fc7a1bb1b","type":"group","z":"a80e656b3bfcc30d","name":"Regular RAW - Type 110","style":{"label":true},"nodes":["8faa53c5020de394","7af4280ec6cf2fab"],"x":54,"y":79,"w":572,"h":82},{"id":"ee66c19d6d55cc62","type":"group","z":"a80e656b3bfcc30d","name":"Regular RAW - Type 111","style":{"label":true},"nodes":["5bfd44dde9d7557e","27d1db6fd142ef67"],"x":54,"y":219,"w":572,"h":82},{"id":"ddbd8348476a64cb","type":"group","z":"a80e656b3bfcc30d","name":"Regular RAW - Type 112","style":{"label":true},"nodes":["9f984dcf07f1b457","3a3610df01433cf5"],"x":54,"y":359,"w":572,"h":82},{"id":"e5f186c6c096c9ed","type":"group","z":"a80e656b3bfcc30d","name":"Regular RAW - Type 114","style":{"label":true},"nodes":["ed971d02731ef048","af1e1a34f44def20"],"x":54,"y":499,"w":572,"h":82},{"id":"8faa53c5020de394","type":"inject","z":"a80e656b3bfcc30d","g":"c49b564fc7a1bb1b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":120,"wires":[["7af4280ec6cf2fab"]],"icon":"node-red/serial.svg"},{"id":"7af4280ec6cf2fab","type":"debug","z":"a80e656b3bfcc30d","g":"c49b564fc7a1bb1b","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"5bfd44dde9d7557e","type":"inject","z":"a80e656b3bfcc30d","g":"ee66c19d6d55cc62","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":260,"wires":[["27d1db6fd142ef67"]],"icon":"node-red/serial.svg"},{"id":"27d1db6fd142ef67","type":"debug","z":"a80e656b3bfcc30d","g":"ee66c19d6d55cc62","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"9f984dcf07f1b457","type":"inject","z":"a80e656b3bfcc30d","g":"ddbd8348476a64cb","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":400,"wires":[["3a3610df01433cf5"]],"icon":"node-red/serial.svg"},{"id":"3a3610df01433cf5","type":"debug","z":"a80e656b3bfcc30d","g":"ddbd8348476a64cb","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"ed971d02731ef048","type":"inject","z":"a80e656b3bfcc30d","g":"e5f186c6c096c9ed","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":540,"wires":[["af1e1a34f44def20"]],"icon":"node-red/serial.svg"},{"id":"af1e1a34f44def20","type":"debug","z":"a80e656b3bfcc30d","g":"e5f186c6c096c9ed","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":540,"wires":[]},{"id":"4a02f4a3740da47f","type":"comment","z":"a80e656b3bfcc30d","name":"Regular Raw - Wireless Device node","info":"","x":200,"y":660,"wires":[]},{"id":"91928b7044a1f588","type":"inject","z":"a80e656b3bfcc30d","name":"114 - Standalone Smart Vibration Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":250,"y":960,"wires":[["a2271929dd5d15d7"]],"icon":"node-red/serial.svg"},{"id":"a2271929dd5d15d7","type":"debug","z":"a80e656b3bfcc30d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":960,"wires":[]},{"id":"38902ed9cefaf6b0","type":"inject","z":"a80e656b3bfcc30d","name":"110 - One Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":220,"y":720,"wires":[["b2c11671156a2cc9"]],"icon":"node-red/serial.svg"},{"id":"b2c11671156a2cc9","type":"debug","z":"a80e656b3bfcc30d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":720,"wires":[]},{"id":"4bdf797ce64446a9","type":"inject","z":"a80e656b3bfcc30d","name":"111 - Two Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":220,"y":800,"wires":[["91873b20afc69d64"]],"icon":"node-red/serial.svg"},{"id":"91873b20afc69d64","type":"debug","z":"a80e656b3bfcc30d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":800,"wires":[]},{"id":"69f55fd165430f14","type":"inject","z":"a80e656b3bfcc30d","name":"112 - Condition Based/Predictive Maintenance Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":290,"y":880,"wires":[["6c77ee7126707cd4"]],"icon":"node-red/serial.svg"},{"id":"6c77ee7126707cd4","type":"debug","z":"a80e656b3bfcc30d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":880,"wires":[]}]
