node-red/114 - Standalone Smart Vibration Sensor v4/time_domain/timedomain.json
[{"id":"d38643c70ccb3e15","type":"tab","label":"Time Domain Data v4","disabled":false,"info":"","env":[]},{"id":"75459a9b320963fe","type":"group","z":"d38643c70ccb3e15","name":"Regular RAW - Type 110","style":{"label":true},"nodes":["07a314c354498c56","69b30531fa1b07e0"],"x":54,"y":79,"w":572,"h":82},{"id":"3315bd92c6c9f7d1","type":"group","z":"d38643c70ccb3e15","name":"Regular RAW - Type 111","style":{"label":true},"nodes":["8aa028acddfea0f6","491046a5bc0dc145"],"x":54,"y":219,"w":572,"h":82},{"id":"64f979811e1fbe90","type":"group","z":"d38643c70ccb3e15","name":"Regular RAW - Type 112","style":{"label":true},"nodes":["91dae1f4c3268057","5794101beb69e21d"],"x":54,"y":359,"w":572,"h":82},{"id":"343b8cbadbb1f8f6","type":"group","z":"d38643c70ccb3e15","name":"Regular RAW - Type 114","style":{"label":true},"nodes":["791c949234233c49","b6e861e0a033def5"],"x":54,"y":499,"w":572,"h":82},{"id":"07a314c354498c56","type":"inject","z":"d38643c70ccb3e15","g":"75459a9b320963fe","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":120,"wires":[["69b30531fa1b07e0"]],"icon":"node-red/serial.svg"},{"id":"69b30531fa1b07e0","type":"debug","z":"d38643c70ccb3e15","g":"75459a9b320963fe","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"8aa028acddfea0f6","type":"inject","z":"d38643c70ccb3e15","g":"3315bd92c6c9f7d1","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":260,"wires":[["491046a5bc0dc145"]],"icon":"node-red/serial.svg"},{"id":"491046a5bc0dc145","type":"debug","z":"d38643c70ccb3e15","g":"3315bd92c6c9f7d1","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"91dae1f4c3268057","type":"inject","z":"d38643c70ccb3e15","g":"64f979811e1fbe90","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":400,"wires":[["5794101beb69e21d"]],"icon":"node-red/serial.svg"},{"id":"5794101beb69e21d","type":"debug","z":"d38643c70ccb3e15","g":"64f979811e1fbe90","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"791c949234233c49","type":"inject","z":"d38643c70ccb3e15","g":"343b8cbadbb1f8f6","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":190,"y":540,"wires":[["b6e861e0a033def5"]],"icon":"node-red/serial.svg"},{"id":"b6e861e0a033def5","type":"debug","z":"d38643c70ccb3e15","g":"343b8cbadbb1f8f6","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":540,"wires":[]},{"id":"331ba7e7555db33d","type":"comment","z":"d38643c70ccb3e15","name":"Regular Raw - Wireless Device node","info":"","x":200,"y":660,"wires":[]},{"id":"03928b543937afff","type":"inject","z":"d38643c70ccb3e15","name":"114 - Standalone Smart Vibration Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":114,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Standalone Smart Vibration Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":250,"y":960,"wires":[["bdbcee70741acd21"]],"icon":"node-red/serial.svg"},{"id":"bdbcee70741acd21","type":"debug","z":"d38643c70ccb3e15","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":960,"wires":[]},{"id":"3e7e41b03982d7f9","type":"inject","z":"d38643c70ccb3e15","name":"110 - One Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":220,"y":720,"wires":[["4f8c34658ca1f62d"]],"icon":"node-red/serial.svg"},{"id":"4f8c34658ca1f62d","type":"debug","z":"d38643c70ccb3e15","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":720,"wires":[]},{"id":"b3db3dac7577e4e5","type":"inject","z":"d38643c70ccb3e15","name":"111 - Two Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Two Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"probe\":\"1\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":220,"y":800,"wires":[["75872f9ad1902253"]],"icon":"node-red/serial.svg"},{"id":"75872f9ad1902253","type":"debug","z":"d38643c70ccb3e15","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":800,"wires":[]},{"id":"7029f0fa7ef2d0c7","type":"inject","z":"d38643c70ccb3e15","name":"112 - Condition Based/Predictive Maintenance Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":111,\"sensor_data\":{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":1,\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"total_samples\":3,\"data\":{\"x\":[0,0,0],\"y\":[0,0,0],\"z\":[0,0,0]}}","payloadType":"json","x":290,"y":880,"wires":[["fd71278d5e6c8cbb"]],"icon":"node-red/serial.svg"},{"id":"fd71278d5e6c8cbb","type":"debug","z":"d38643c70ccb3e15","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":880,"wires":[]}]
