node-red/21 - AMS Pressure & Temperature/21_AMS_Pressure_&_Temperature.json
[{"id":"58fe3aa0fbb5f538","type":"inject","z":"37c8e44a35e28282","name":"21 - Differential Bi directional Pressure Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":21,\"sensor_data\":{\"pressure\":0,\"temperature\":0},\"sensor_name\":\"AMS Pressure & Temperature\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"reveived\":1683733742913,\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:F6:EB:89\"}","vt":"json"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"pressure\":0,\"temperature\":0}","payloadType":"json","x":310,"y":820,"wires":[["87aa68d3a3d21181"]],"icon":"node-red/serial.svg"},{"id":"ac1283d9a3e9ab32","type":"debug","z":"37c8e44a35e28282","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":820,"wires":[]},{"id":"87aa68d3a3d21181","type":"function","z":"37c8e44a35e28282","name":"random","func":"let counter = context.get(\"counter\") || 1;\nlet pressure_ = context.get(\"pressure\") || 10;\nlet temperature_ = context.get(\"temperature\") || 23;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet pressure = Number(((Math.random() * 10) + pressure_).toFixed(2));\nlet temperature = Number(((Math.random() * 1.2) + temperature_).toFixed(2));\n\nmsg.data.sensor_data.pressure = pressure;\nmsg.data.sensor_data.temperature = temperature;\nmsg.payload.pressure = pressure;\nmsg.payload.temperature = temperature;\n\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = counter++;\n\ncontext.set(\"pressure\", pressure_);\ncontext.set(\"temperature\", temperature_);\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":820,"wires":[["ac1283d9a3e9ab32"]],"icon":"font-awesome/fa-random"}]
