node-red/34 - Tank Level Sensor/34 - Tank Level Sensor.json
[{"id":"63de494efa348131","type":"inject","z":"0aaabf1ed67721df","name":"34 - Tank Level Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":34,\"sensor_data\":{\"level\":0},\"sensor_name\":\"Tank Level Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:00:00:00:00\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:00:00:00:00\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:00:00:00:00\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"7","topic":"sensor_data","payload":"{\"level\":0}","payloadType":"json","x":2150,"y":700,"wires":[["86f9737e8c898057"]],"icon":"node-red/serial.svg"},{"id":"86f9737e8c898057","type":"function","z":"0aaabf1ed67721df","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_level = 500;\nlet min_level = 9999;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet level = Number((Math.random() * (max_level - min_level) + min_level).toFixed(2));\n\nmsg.payload.level = level;\nmsg.data.sensor_data.level = level;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":700,"wires":[["3e9135b5e2814ecd","b029c05758dcc926"]],"icon":"font-awesome/fa-random"},{"id":"3e9135b5e2814ecd","type":"debug","z":"0aaabf1ed67721df","name":"Level","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload.level","targetType":"msg","statusVal":"payload.level","statusType":"auto","x":2510,"y":700,"wires":[]},{"id":"b029c05758dcc926","type":"debug","z":"0aaabf1ed67721df","name":"complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2520,"y":660,"wires":[]}]
