node-red/34 - Tank Level Sensor/34 - Tank Level Sensor.json
[{"id":"7765b8cab36b1aa6","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":34,\"sensor_data\":{\"level\":0},\"sensor_name\":\"Tank Level Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":3560,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"dd08a001d5207e53","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":3720,"wires":[]},{"id":"84ce9ccf84e974d3","type":"inject","z":"59c81deb02af9798","name":"34 - Tank Level Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":34,\"sensor_data\":{\"level\":0},\"sensor_name\":\"Tank Level Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"level\":0}","payloadType":"json","x":180,"y":4080,"wires":[["fd7a09bd93b7a749"]],"icon":"node-red/serial.svg"},{"id":"fd7a09bd93b7a749","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":4160,"wires":[]},{"id":"1d47e8ab524c29ea","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":130,"y":3520,"wires":[]},{"id":"f74963e577f6258a","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":34,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":170,"y":3480,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"1f2f4c8d5a8cec73","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":130,"y":3440,"wires":[]},{"id":"763160a38f462e38","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":34,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":170,"y":3640,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"06613529992351d5","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":130,"y":3600,"wires":[]},{"id":"7f5f1ab8bca04e65","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":34,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":170,"y":3720,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"42d2ed9bb285e956","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":130,"y":3680,"wires":[]},{"id":"fbb1996e161518b1","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":170,"y":3960,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"4f34ce97763e6528","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":150,"y":3920,"wires":[]},{"id":"effd86a80dc0589e","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":130,"y":4040,"wires":[]},{"id":"12bced97a3c0d638","type":"inject","z":"59c81deb02af9798","name":"34 - Tank Level Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":180,"y":4160,"wires":[["fd7a09bd93b7a749"]],"icon":"node-red/serial.svg"},{"id":"1c298cfb0f790801","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":160,"y":4120,"wires":[]},{"id":"7686340da2e78ee7","type":"inject","z":"59c81deb02af9798","name":"34 - Tank Level Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":180,"y":4240,"wires":[["fd7a09bd93b7a749"]],"icon":"node-red/serial.svg"},{"id":"825c06f08d288ec1","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":180,"y":4200,"wires":[]},{"id":"830185c3e02ba871","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":130,"y":3760,"wires":[]},{"id":"b8902a4e97b640bf","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":34,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":170,"y":3880,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"},{"id":"ffee217558331188","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":130,"y":3840,"wires":[]},{"id":"ecd69f12aa67ebae","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":34,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":170,"y":3800,"wires":[["dd08a001d5207e53"]],"icon":"node-red/serial.svg"}]
