node-red/112 - Condition Based-Predictive Maintenance Sensor v4/112 - Condition Based-Predictive Maintenance Sensor v4.json
[{"id":"cf4265d6a43f383b","type":"group","z":"a2cba468a4cc5735","name":"Type 112 - Condition Based/Predictive Maintenance Sensor v4","style":{"label":true,"label-position":"n"},"nodes":["07847830f5a9d6d3","ed7aa4eaf3219258","d6edfe7c41253bb7","21434974cc99b4f2","ff0790466b3450b9","28b9ad439a696195","d8cd673184596e2d","6b9e686ac18def12","053d59a81875a73b","b1b9c748e247b9c5","79cf5091b9306ae1","50107139dd5b461a","3a8a7482a582767c","dcd3b17ad270367a","ce4d23bf195ca0e3","0d2e7dd8c9b8e894","9da4d33915c617a2","090e59d0cc448930","c5f2b38a624eb66c","0c75c4fafbdc0032","6807bb135647560c","ea4224557d0b4ada"],"x":1394,"y":19,"w":712,"h":882},{"id":"07847830f5a9d6d3","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":20.26,\"ext_temperature\":24.32,\"current\":0.538,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":1530,"y":180,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"ed7aa4eaf3219258","type":"debug","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1790,"y":340,"wires":[]},{"id":"d6edfe7c41253bb7","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"112 - Condition Based/Predictive Maintenance Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":20.26,\"ext_temperature\":24.32,\"current\":0.538,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":20.26,\"ext_temperature\":24.32,\"current\":0.538,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167}","payloadType":"json","x":1650,"y":700,"wires":[["21434974cc99b4f2"]],"icon":"node-red/serial.svg"},{"id":"21434974cc99b4f2","type":"debug","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1980,"y":780,"wires":[]},{"id":"ff0790466b3450b9","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"DATA ","info":"","x":1490,"y":140,"wires":[]},{"id":"28b9ad439a696195","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":112,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":1530,"y":100,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"d8cd673184596e2d","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"RUN","info":"","x":1490,"y":60,"wires":[]},{"id":"6b9e686ac18def12","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":112,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":1530,"y":260,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"053d59a81875a73b","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"PGM","info":"","x":1490,"y":220,"wires":[]},{"id":"b1b9c748e247b9c5","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":112,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":1530,"y":340,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"79cf5091b9306ae1","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"ACK","info":"","x":1490,"y":300,"wires":[]},{"id":"50107139dd5b461a","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":1530,"y":580,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"3a8a7482a582767c","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"modem_mac","info":"","x":1510,"y":540,"wires":[]},{"id":"dcd3b17ad270367a","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"DATA ","info":"","x":1490,"y":660,"wires":[]},{"id":"ce4d23bf195ca0e3","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"112 - Condition Based/Predictive Maintenance Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":1650,"y":780,"wires":[["21434974cc99b4f2"]],"icon":"node-red/serial.svg"},{"id":"0d2e7dd8c9b8e894","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Config Results","info":"","x":1520,"y":740,"wires":[]},{"id":"9da4d33915c617a2","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"112 - Condition Based/Predictive Maintenance Sensor v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":1650,"y":860,"wires":[["21434974cc99b4f2"]],"icon":"node-red/serial.svg"},{"id":"090e59d0cc448930","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"OTN Request Results","info":"","x":1540,"y":820,"wires":[]},{"id":"c5f2b38a624eb66c","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"PUM","info":"","x":1490,"y":380,"wires":[]},{"id":"0c75c4fafbdc0032","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":112,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":1530,"y":500,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"6807bb135647560c","type":"comment","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"FLY","info":"","x":1490,"y":460,"wires":[]},{"id":"ea4224557d0b4ada","type":"inject","z":"a2cba468a4cc5735","g":"cf4265d6a43f383b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":112,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":1530,"y":420,"wires":[["ed7aa4eaf3219258"]],"icon":"node-red/serial.svg"},{"id":"c7b901e98f51126b","type":"group","z":"a2cba468a4cc5735","name":"Motion Message","style":{"label":true},"nodes":["c6f40ee7ca5c7d1a","74a6a28ceac79480","7f0c085346c40902"],"x":1394,"y":919,"w":712,"h":122},{"id":"c6f40ee7ca5c7d1a","type":"comment","z":"a2cba468a4cc5735","g":"c7b901e98f51126b","name":"DATA ","info":"","x":1490,"y":960,"wires":[]},{"id":"74a6a28ceac79480","type":"inject","z":"a2cba468a4cc5735","g":"c7b901e98f51126b","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"mode\":0,\"msg_type\":\"motion\",\"odr\":\"800Hz\",\"temperature\":20.26,\"ext_temperature\":24.32,\"current\":0.538,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":1530,"y":1000,"wires":[["7f0c085346c40902"]],"icon":"node-red/serial.svg"},{"id":"7f0c085346c40902","type":"debug","z":"a2cba468a4cc5735","g":"c7b901e98f51126b","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":1000,"wires":[]},{"id":"64f979811e1fbe90","type":"group","z":"a2cba468a4cc5735","name":"Regular RAW","style":{"label":true},"nodes":["91dae1f4c3268057","612ab4cf428f8550","5794101beb69e21d"],"x":1394,"y":1059,"w":712,"h":122},{"id":"91dae1f4c3268057","type":"inject","z":"a2cba468a4cc5735","g":"64f979811e1fbe90","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":1530,"y":1140,"wires":[["5794101beb69e21d"]],"icon":"node-red/serial.svg"},{"id":"612ab4cf428f8550","type":"comment","z":"a2cba468a4cc5735","g":"64f979811e1fbe90","name":"DATA ","info":"","x":1490,"y":1100,"wires":[]},{"id":"5794101beb69e21d","type":"debug","z":"a2cba468a4cc5735","g":"64f979811e1fbe90","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":1140,"wires":[]},{"id":"3e5349d5fe4276da","type":"group","z":"a2cba468a4cc5735","name":"motion RAW","style":{"label":true},"nodes":["65251bebdbf218ae","dafb2a487a8d5bca","dc9e0500cf77bc05"],"x":1394,"y":1199,"w":712,"h":122},{"id":"65251bebdbf218ae","type":"inject","z":"a2cba468a4cc5735","g":"3e5349d5fe4276da","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":112,\"sensor_data\":{\"msg_type\":\"motion\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"Condition Based/Predictive Maintenance Sensor v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":1530,"y":1280,"wires":[["dc9e0500cf77bc05"]],"icon":"node-red/serial.svg"},{"id":"dafb2a487a8d5bca","type":"comment","z":"a2cba468a4cc5735","g":"3e5349d5fe4276da","name":"DATA ","info":"","x":1490,"y":1240,"wires":[]},{"id":"dc9e0500cf77bc05","type":"debug","z":"a2cba468a4cc5735","g":"3e5349d5fe4276da","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":1280,"wires":[]}]
