node-red/13 - Current Sensor/13 - Current Sensor.json
[{"id":"204140d21002c7ab","type":"inject","z":"205a6d2dec2f401a","name":"13 - Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":13,\"sensor_data\":{\"amps\":0},\"sensor_name\":\"Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:00:00:00:00\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:00:00:00:00\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"rssi\":{},\"type\":\"receive_packet\"},\"rssi\":40,\"modem_mac\":\"00:13:A2:00:00:00:00:00\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"amps\":0}","payloadType":"json","x":290,"y":1560,"wires":[["ab247493e51e0891"]],"icon":"node-red/serial.svg"},{"id":"ab247493e51e0891","type":"function","z":"205a6d2dec2f401a","name":"Random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch = 12.000;\nlet min_ch = 10.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.amps = ch1;\nmsg.data.sensor_data.amps = ch1;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1560,"wires":[["c0418609679b1c17","b599045c0f62b58f","383f97637b068a3c","5e8babd71d77828e","aa2fdb1208fb7a3e"]],"icon":"font-awesome/fa-random"},{"id":"c0418609679b1c17","type":"debug","z":"205a6d2dec2f401a","name":"Current","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.amps","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":640,"y":1500,"wires":[]},{"id":"b599045c0f62b58f","type":"debug","z":"205a6d2dec2f401a","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":1460,"wires":[]},{"id":"383f97637b068a3c","type":"debug","z":"205a6d2dec2f401a","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":650,"y":1560,"wires":[]},{"id":"5e8babd71d77828e","type":"debug","z":"205a6d2dec2f401a","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":660,"y":1620,"wires":[]},{"id":"aa2fdb1208fb7a3e","type":"debug","z":"205a6d2dec2f401a","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":640,"y":1680,"wires":[]}]
