node-red/110 - One Channel Vibration Plus v4/110 - One Channel Vibration Plus v4.json
[{"id":"241bad6ef838c5fd","type":"group","z":"a2cba468a4cc5735","name":"Type 110 - One Channel Vibration Sensor v4","style":{"label":true,"label-position":"n"},"nodes":["209ca666fec1f1c3","50b4b52cd277c3fb","fde621d8f48c415a","a9dd262d53322e02","598902936605819f","77570ea8b24f9abd","4b9dfe445ba5c809","46e91b36b3abeb31","484a6ba24a05ac71","115abf67d6bcbd23","2fbb2a5664ea405b","19fea4fa8aacfcd6","30788c1df8a78d08","9d0c94fa72f7baa2","1e9871d5aca73cc4","7174f57d3b132921","5f2d5cec01d8443f","2451c18397d44a3b","7a1f3df7963491d8","fa37c1b2637d72e0","37d338fd00210307","c48319a054512fe4"],"x":34,"y":19,"w":572,"h":882},{"id":"209ca666fec1f1c3","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":180,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"50b4b52cd277c3fb","type":"debug","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"fde621d8f48c415a","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"110 - One Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mode\":0,\"msg_type\":\"regular\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167}","payloadType":"json","x":220,"y":700,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"a9dd262d53322e02","type":"debug","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":780,"wires":[]},{"id":"598902936605819f","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"DATA ","info":"","x":130,"y":140,"wires":[]},{"id":"77570ea8b24f9abd","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":110,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":170,"y":100,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"4b9dfe445ba5c809","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"RUN","info":"","x":130,"y":60,"wires":[]},{"id":"46e91b36b3abeb31","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":110,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":170,"y":260,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"484a6ba24a05ac71","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"PGM","info":"","x":130,"y":220,"wires":[]},{"id":"115abf67d6bcbd23","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":110,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":170,"y":340,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"2fbb2a5664ea405b","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"ACK","info":"","x":130,"y":300,"wires":[]},{"id":"19fea4fa8aacfcd6","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":170,"y":580,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"30788c1df8a78d08","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"modem_mac","info":"","x":150,"y":540,"wires":[]},{"id":"9d0c94fa72f7baa2","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"DATA ","info":"","x":130,"y":660,"wires":[]},{"id":"1e9871d5aca73cc4","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"110 - One Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":220,"y":780,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"7174f57d3b132921","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Config Results","info":"","x":160,"y":740,"wires":[]},{"id":"5f2d5cec01d8443f","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"110 - One Channel Vibration Plus v4","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":220,"y":860,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"2451c18397d44a3b","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"OTN Request Results","info":"","x":180,"y":820,"wires":[]},{"id":"7a1f3df7963491d8","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"PUM","info":"","x":130,"y":380,"wires":[]},{"id":"fa37c1b2637d72e0","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":110,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":170,"y":500,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"37d338fd00210307","type":"comment","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"FLY","info":"","x":130,"y":460,"wires":[]},{"id":"c48319a054512fe4","type":"inject","z":"a2cba468a4cc5735","g":"241bad6ef838c5fd","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":110,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":170,"y":420,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"b56ea084988a520a","type":"group","z":"a2cba468a4cc5735","name":"Motion Message","style":{"label":true},"nodes":["7f87a4d51fae74ce","f5e55bc01482b821","fe1a61e0848cfd3f"],"x":34,"y":919,"w":572,"h":122},{"id":"7f87a4d51fae74ce","type":"inject","z":"a2cba468a4cc5735","g":"b56ea084988a520a","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"mode\":0,\"msg_type\":\"motion\",\"odr\":\"800Hz\",\"temperature\":0.26,\"x_rms_ACC_G\":0.001,\"x_max_ACC_G\":0.002,\"x_velocity_mm_sec\":0.03,\"x_displacement_mm\":0.04,\"x_peak_one_Hz\":5,\"x_peak_two_Hz\":6,\"x_peak_three_Hz\":7,\"y_rms_ACC_G\":0.008,\"y_max_ACC_G\":0.009,\"y_velocity_mm_sec\":0.1,\"y_displacement_mm\":0.11,\"y_peak_one_Hz\":12,\"y_peak_two_Hz\":13,\"y_peak_three_Hz\":14,\"z_rms_ACC_G\":0.015,\"z_max_ACC_G\":0.162,\"z_velocity_mm_sec\":1.63,\"z_displacement_mm\":1.64,\"z_peak_one_Hz\":165,\"z_peak_two_Hz\":166,\"z_peak_three_Hz\":256,\"rpm\":167},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":1000,"wires":[["fe1a61e0848cfd3f"]],"icon":"node-red/serial.svg"},{"id":"f5e55bc01482b821","type":"comment","z":"a2cba468a4cc5735","g":"b56ea084988a520a","name":"DATA ","info":"","x":130,"y":960,"wires":[]},{"id":"fe1a61e0848cfd3f","type":"debug","z":"a2cba468a4cc5735","g":"b56ea084988a520a","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1000,"wires":[]},{"id":"75459a9b320963fe","type":"group","z":"a2cba468a4cc5735","name":"Regular RAW","style":{"label":true},"nodes":["07a314c354498c56","285ca45404722aa4","69b30531fa1b07e0"],"x":34,"y":1059,"w":572,"h":122},{"id":"07a314c354498c56","type":"inject","z":"a2cba468a4cc5735","g":"75459a9b320963fe","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"msg_type\":\"regular\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":1140,"wires":[["69b30531fa1b07e0"]],"icon":"node-red/serial.svg"},{"id":"285ca45404722aa4","type":"comment","z":"a2cba468a4cc5735","g":"75459a9b320963fe","name":"DATA ","info":"","x":130,"y":1100,"wires":[]},{"id":"69b30531fa1b07e0","type":"debug","z":"a2cba468a4cc5735","g":"75459a9b320963fe","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1140,"wires":[]},{"id":"f09e6de88f5d5ce0","type":"group","z":"a2cba468a4cc5735","name":"Motion RAW","style":{"label":true},"nodes":["22ab2058ab2b68eb","18f38460e1da0d59","c1427e1752f5fa63"],"x":34,"y":1199,"w":572,"h":122},{"id":"22ab2058ab2b68eb","type":"inject","z":"a2cba468a4cc5735","g":"f09e6de88f5d5ce0","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":14,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":3,\"sensor_type\":110,\"sensor_data\":{\"msg_type\":\"motion\",\"time_id\":\"0:20\",\"mac_address\":\"00:13:a2:00:42:53:64:53\",\"en_axis\":7,\"fsr\":\"8g\",\"odr\":827,\"device_temp\":19.56,\"data\":{\"1\":{\"x\":-0.07,\"y\":0,\"z\":0}}},\"sensor_name\":\"One Channel Vibration Plus v4\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":1280,"wires":[["c1427e1752f5fa63"]],"icon":"node-red/serial.svg"},{"id":"18f38460e1da0d59","type":"comment","z":"a2cba468a4cc5735","g":"f09e6de88f5d5ce0","name":"DATA ","info":"","x":130,"y":1240,"wires":[]},{"id":"c1427e1752f5fa63","type":"debug","z":"a2cba468a4cc5735","g":"f09e6de88f5d5ce0","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1280,"wires":[]}]
