node-red/108 - Machine Uptime Monitor Sensor/108-MachineUptimeMonitoringSensor.json
[{"id":"58fe3aa0fbb5f538","type":"inject","z":"c3a8691f8a6510f9","name":"108 - Machine Uptime Monitoring Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":108,\"sensor_data\":{\"digital_input_counter\":0,\"digital_input_uptime\":0,\"ct_input_counter\":0,\"ct_input_uptime\":0,\"opto_input_counter\":0,\"opto_input_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0,\"input_di\":0,\"input_ct\":0,\"input_opto\":0,\"input_acc\":0,\"input_mag\":0},\"sensor_name\":\"Machine Uptime Monitoring Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"reveived\":1683733742913,\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:F6:EB:89\"}","vt":"json"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"digital_input_counter\":0,\"digital_input_uptime\":0,\"ct_input_counter\":0,\"ct_input_uptime\":0,\"opto_input_counter\":0,\"opto_input_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0,\"input_di\":0,\"input_ct\":0,\"input_opto\":0,\"input_acc\":0,\"input_mag\":0}","payloadType":"json","x":260,"y":2100,"wires":[["27fc1075d14f71c6"]],"icon":"node-red/serial.svg"},{"id":"27fc1075d14f71c6","type":"function","z":"c3a8691f8a6510f9","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet dinCount = context.get(\"d_count\") || 1;\nlet dinUptime = context.get(\"d_uptime\") || 1;\nlet ctCount = context.get(\"c_count\") || 1;\nlet ctUptime = context.get(\"c_uptime\") || 1;\nlet optoCount = context.get(\"o_count\") || 1;\nlet optoUptime = context.get(\"o_uptime\") || 1;\nlet accCount = context.get(\"a_count\") || 1;\nlet accUptime = context.get(\"a_uptime\") || 1;\nlet magCount = context.get(\"m_count\") || 1;\nlet magUptime = context.get(\"m_uptime\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet din_count = Number(((Math.random() * 10) + dinCount).toFixed(0));\nlet din_uptime = Number(((Math.random() * 20) + dinUptime).toFixed(0));\nlet ct_count = Number(((Math.random() * 10) + ctCount).toFixed(0));\nlet ct_uptime = Number(((Math.random() * 20) + ctUptime).toFixed(0));\nlet opto_count = Number(((Math.random() * 10) + optoCount).toFixed(0));\nlet opto_uptime = Number(((Math.random() * 20) + optoUptime).toFixed(0));\nlet acc_count = Number(((Math.random()*10) + accCount).toFixed(0));\nlet acc_uptime = Number(((Math.random() * 20) + accUptime).toFixed(0));\nlet mag_count = Number(((Math.random()*10) + magCount).toFixed(0));\nlet mag_uptime = Number(((Math.random()*20) + magUptime).toFixed(0));\n\nmsg.data.received = msg.time;\n\nmsg.payload.digital_input_counter = din_count;\nmsg.data.sensor_data.digital_input_counter = din_count;\nmsg.payload.digital_input_uptime = din_uptime;\nmsg.data.sensor_data.digital_input_uptime = din_uptime;\nmsg.payload.ct_input_counter = ct_count;\nmsg.data.sensor_data.ct_input_counter = ct_count;\nmsg.payload.ct_input_uptime = ct_uptime;\nmsg.data.sensor_data.ct_input_uptime = ct_uptime;\nmsg.payload.opto_input_counter = opto_count;\nmsg.data.sensor_data.opto_input_counter = opto_count;\nmsg.payload.opto_input_uptime = opto_uptime;\nmsg.data.sensor_data.opto_input_uptime = opto_uptime;\nmsg.payload.accelerometer_counter = acc_count;\nmsg.data.sensor_data.accelerometer_counter = acc_count;\nmsg.payload.accelerometer_uptime = acc_uptime;\nmsg.data.sensor_data.accelerometer_uptime = acc_uptime;\nmsg.payload.magnetometer_counter = mag_count;\nmsg.data.sensor_data.magnetometer_counter = mag_count;\nmsg.payload.magnetometer_uptime = mag_uptime;\nmsg.data.sensor_data.magnetometer_uptime = mag_uptime;\n\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = counter++;\n\ncontext.set(\"d_count\", din_count);\ncontext.set(\"d_uptime\", din_uptime);\ncontext.set(\"c_count\", ct_count);\ncontext.set(\"c_uptime\", ct_uptime);\ncontext.set(\"o_count\", opto_count);\ncontext.set(\"o_uptime\", opto_uptime);\ncontext.set(\"a_count\", acc_count);\ncontext.set(\"a_uptime\", acc_uptime);\ncontext.set(\"m_count\", mag_count);\ncontext.set(\"m_uptime\", mag_uptime);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2100,"wires":[["7fa72aa19ad7d6a1","ac1283d9a3e9ab32","8a5801f5cabc20f1","ddd25448ac7a1c56","3ef31f718e9cfd1b","647d13eda329aac7","be3e2ea0687105c6","9a8a3c360c0691b4","8cbf997c5c436851","c83e30f04bc480d0","6f5db0b37b8050d3","e115f278ee5a7164","4ca3bce193091166","68100326a74135ef","9593f63be1aee77d","db8f58bf6c827eac","ca850ba34573e34b","2b43ac83415c0262","f81de4aa8447b393"]],"icon":"font-awesome/fa-random"},{"id":"7fa72aa19ad7d6a1","type":"debug","z":"c3a8691f8a6510f9","name":"din Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2140,"wires":[]},{"id":"ac1283d9a3e9ab32","type":"debug","z":"c3a8691f8a6510f9","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":2080,"wires":[]},{"id":"8a5801f5cabc20f1","type":"debug","z":"c3a8691f8a6510f9","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":610,"y":2260,"wires":[]},{"id":"ddd25448ac7a1c56","type":"debug","z":"c3a8691f8a6510f9","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":620,"y":2320,"wires":[]},{"id":"3ef31f718e9cfd1b","type":"debug","z":"c3a8691f8a6510f9","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":600,"y":2380,"wires":[]},{"id":"647d13eda329aac7","type":"debug","z":"c3a8691f8a6510f9","name":"din Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":800,"y":2200,"wires":[]},{"id":"be3e2ea0687105c6","type":"debug","z":"c3a8691f8a6510f9","name":"ct Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.ct_input_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":970,"y":2140,"wires":[]},{"id":"9a8a3c360c0691b4","type":"debug","z":"c3a8691f8a6510f9","name":"ct Uptime","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.ct_input_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":960,"y":2200,"wires":[]},{"id":"8cbf997c5c436851","type":"debug","z":"c3a8691f8a6510f9","name":"opto Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.opto_input_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2260,"wires":[]},{"id":"c83e30f04bc480d0","type":"debug","z":"c3a8691f8a6510f9","name":"opto Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.opto_input_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":970,"y":2260,"wires":[]},{"id":"6f5db0b37b8050d3","type":"debug","z":"c3a8691f8a6510f9","name":"Acc Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.accelerometer_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2320,"wires":[]},{"id":"e115f278ee5a7164","type":"debug","z":"c3a8691f8a6510f9","name":"Acc Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.accelerometer_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":960,"y":2320,"wires":[]},{"id":"4ca3bce193091166","type":"debug","z":"c3a8691f8a6510f9","name":"Mag Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.magnetometer_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2380,"wires":[]},{"id":"68100326a74135ef","type":"debug","z":"c3a8691f8a6510f9","name":"Mag Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.magnetometer_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":970,"y":2380,"wires":[]},{"id":"9593f63be1aee77d","type":"debug","z":"c3a8691f8a6510f9","name":"Input DI","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.input_di","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":800,"y":2440,"wires":[]},{"id":"db8f58bf6c827eac","type":"debug","z":"c3a8691f8a6510f9","name":"Input CT","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.input_ct","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":800,"y":2500,"wires":[]},{"id":"ca850ba34573e34b","type":"debug","z":"c3a8691f8a6510f9","name":"Input OPTO","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.input_opto","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2560,"wires":[]},{"id":"2b43ac83415c0262","type":"debug","z":"c3a8691f8a6510f9","name":"Input ACC","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.input_acc","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2620,"wires":[]},{"id":"f81de4aa8447b393","type":"debug","z":"c3a8691f8a6510f9","name":"Input MAG","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.input_mag","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":2680,"wires":[]}]
