node-red/108 - Machine Uptime Monitor Sensor/108-MachineUptimeMonitorSensor.json
[{"id":"58fe3aa0fbb5f538","type":"inject","z":"6ed7e8f71467835b","name":"108 - Machine Uptime Monitor Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":132,\"sensor_type\":108,\"sensor_data\":{\"digital_input_1_counter\":0,\"digital_input_1_uptime\":0,\"digital_input_2_counter\":0,\"digital_input_2_uptime\":0,\"digital_input_3_counter\":0,\"digital_input_3_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0},\"sensor_name\":\"Machine Uptime Monitor Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:30:c0:d9\",\"received\":1683733742913,\"original\":{\"mac\":\"00:13:a2:00:41:c3:d0:e0\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:F6:EB:89\"}","vt":"json"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"digital_input_1_counter\":0,\"digital_input_1_uptime\":0,\"digital_input_2_counter\":0,\"digital_input_2_uptime\":0,\"digital_input_3_counter\":0,\"digital_input_3_uptime\":0,\"accelerometer_counter\":0,\"accelerometer_uptime\":0,\"magnetometer_counter\":0,\"magnetometer_uptime\":0}","payloadType":"json","x":290,"y":300,"wires":[["27fc1075d14f71c6"]],"icon":"node-red/serial.svg"},{"id":"27fc1075d14f71c6","type":"function","z":"6ed7e8f71467835b","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet count_1 = context.get(\"count_1\") || 1;\nlet time_1 = context.get(\"time_1\") || 1;\nlet count_2 = context.get(\"count_2\") || 1;\nlet time_2 = context.get(\"time_2\") || 1;\nlet count_3 = context.get(\"count_3\") || 1;\nlet time_3 = context.get(\"time_3\") || 1;\nlet acc_count = context.get(\"acc_count\") || 1;\nlet acc_time = context.get(\"acc_time\") || 1;\nlet mag_count = context.get(\"mag_count\") || 1;\nlet mag_time = context.get(\"mag_time\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet count1 = Number(((Math.random()*10) + count_1).toFixed(0));\nlet time1 = Number(((Math.random()*20) + time_1).toFixed(0));\nlet count2 = Number(((Math.random()*10) + count_2).toFixed(0));\nlet time2 = Number(((Math.random()*20) + time_2).toFixed(0));\nlet count3 = Number(((Math.random()*10) + count_3).toFixed(0));\nlet time3 = Number(((Math.random()*20) + time_3).toFixed(0));\nlet acc_count_ = Number(((Math.random()*10) + acc_count).toFixed(0));\nlet acc_time_ = Number(((Math.random()*20) + acc_time).toFixed(0));\nlet mag_count_ = Number(((Math.random()*10) + mag_count).toFixed(0));\nlet mag_time_ = Number(((Math.random()*20) + mag_time).toFixed(0));\n\nmsg.payload.digital_input_1_counter = count1;\nmsg.data.sensor_data.digital_input_1_counter = count1;\nmsg.payload.digital_input_1_uptime = time1;\nmsg.data.sensor_data.digital_input_1_uptime = time1;\nmsg.payload.digital_input_2_counter = count2;\nmsg.data.sensor_data.digital_input_2_counter = count2;\nmsg.payload.digital_input_2_uptime = time2;\nmsg.data.sensor_data.digital_input_2_uptime = time2;\nmsg.payload.digital_input_3_counter = count3;\nmsg.data.sensor_data.digital_input_3_counter = count3;\nmsg.payload.digital_input_3_uptime = time3;\nmsg.data.sensor_data.digital_input_3_uptime = time3;\nmsg.payload.accelerometer_counter = acc_count_;\nmsg.data.sensor_data.accelerometer_counter = acc_count_;\nmsg.payload.accelerometer_uptime = acc_time_;\nmsg.data.sensor_data.accelerometer_uptime = acc_time_;\nmsg.payload.magnetometer_counter = mag_count_;\nmsg.data.sensor_data.magnetometer_counter = mag_count_;\nmsg.payload.magnetometer_uptime = mag_time_;\nmsg.data.sensor_data.magnetometer_uptime = mag_time_;\n\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = counter++;\n\ncontext.set(\"count_1\", count1);\ncontext.set(\"time_1\", time1);\ncontext.set(\"count_2\", count2);\ncontext.set(\"time_2\", time2);\ncontext.set(\"count_3\", count3);\ncontext.set(\"time_3\", time3);\ncontext.set(\"acc_count\", acc_count_);\ncontext.set(\"acc_time\", acc_time_);\ncontext.set(\"mag_count\", mag_count_);\ncontext.set(\"mag_time\", mag_time_);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["03127a16b6f93c20","7e930f389e5f430f","6a554e95838e2f81","7cf684b5fd580f15","2239d7e0b0dbadb7","75a40869bc95c44d","550537757cf224dd","85a268ff6ac063bb","d33157e581bf9d17","ba3dab7a0b037fc1","326e42939d7f356f","3f53982d14270ea1","f728304679ef88c2","a2c8b6eb0e14cdda"]],"icon":"font-awesome/fa-random"},{"id":"03127a16b6f93c20","type":"debug","z":"6ed7e8f71467835b","name":"In_1 Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_1_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"7e930f389e5f430f","type":"debug","z":"6ed7e8f71467835b","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":100,"wires":[]},{"id":"6a554e95838e2f81","type":"debug","z":"6ed7e8f71467835b","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"7cf684b5fd580f15","type":"debug","z":"6ed7e8f71467835b","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":820,"y":800,"wires":[]},{"id":"2239d7e0b0dbadb7","type":"debug","z":"6ed7e8f71467835b","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":800,"y":860,"wires":[]},{"id":"75a40869bc95c44d","type":"debug","z":"6ed7e8f71467835b","name":"In_1 Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_1_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"550537757cf224dd","type":"debug","z":"6ed7e8f71467835b","name":"In_2 Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_2_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"85a268ff6ac063bb","type":"debug","z":"6ed7e8f71467835b","name":"In_2 Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_2_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"d33157e581bf9d17","type":"debug","z":"6ed7e8f71467835b","name":"In_3 Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_3_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"ba3dab7a0b037fc1","type":"debug","z":"6ed7e8f71467835b","name":"In_3 Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.digital_input_3_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":810,"y":440,"wires":[]},{"id":"326e42939d7f356f","type":"debug","z":"6ed7e8f71467835b","name":"Accelerometer Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.accelerometer_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"3f53982d14270ea1","type":"debug","z":"6ed7e8f71467835b","name":"Accelerometer Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.accelerometer_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":840,"y":560,"wires":[]},{"id":"f728304679ef88c2","type":"debug","z":"6ed7e8f71467835b","name":"Magnetometer Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.magnetometer_counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":850,"y":620,"wires":[]},{"id":"a2c8b6eb0e14cdda","type":"debug","z":"6ed7e8f71467835b","name":"Magnetometer Timer","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.magnetometer_uptime","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":840,"y":680,"wires":[]}]
