node-red/35 - 1 Channel Counter/35 - 1 Channel Counter.json
[{"id":"0f4af267692cb38d","type":"inject","z":"0f850dc8977c3d53","name":"35 - 1 Channel Counter","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":35,\"sensor_data\":{\"counts\":0},\"sensor_name\":\"One Channel Counter\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:00:00:00:00\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:00:00:00:00\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:00:00:00:00\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"counts\":0}","payloadType":"json","x":200,"y":580,"wires":[["96505230447a2f38"]],"icon":"node-red/serial.svg"},{"id":"96505230447a2f38","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\nlet counts = context.get(\"counts\") || 0;\n\n\nlet max_count = 4294967295;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\ncounts = Number((counts + (Math.random()*10)).toFixed(0));\n\nmsg.payload.counts = counts;\nmsg.data.sensor_data.counts = counts;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\ncontext.set(\"counts\", counts);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":580,"wires":[["5910295f7d92031b"]],"icon":"font-awesome/fa-random"},{"id":"5910295f7d92031b","type":"debug","z":"0f850dc8977c3d53","name":"debug 118","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.counts","targetType":"msg","statusVal":"payload.counts","statusType":"auto","x":530,"y":580,"wires":[]}]
