node-red/89 - 2 Channel Ultrasound Vibration Sensor/89 - 2 Channel Ultrasound Vibration Sensor.json
[{"id":"41f83f5ef0df7ba8","type":"inject","z":"0f850dc8977c3d53","name":"89 - 2 Channel Ultrasound Vibration Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":89,\"sensor_data\":{\"c1_raw_adc\":0,\"c1_ma\":0,\"c1_db\":0,\"c2_raw_adc\":0,\"c2_ma\":0,\"c2_db\":0},\"sensor_name\":\"2 Channel Ultrasound Vibration Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d9\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d9\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"c1_raw_adc\":0,\"c1_ma\":0,\"c1_db\":0,\"c2_raw_adc\":0,\"c2_ma\":0,\"c2_db\":0}","payloadType":"json","x":210,"y":1840,"wires":[["9e35b056b7070ec4"]],"icon":"node-red/serial.svg"},{"id":"9e35b056b7070ec4","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\n\n/* \nRanges:\ndb: 0-100\nraw adc: 0-32000\nmA: 0-20\n*/\nlet max_raw = 32000;\nlet min_raw = 30000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet c1_raw = Number((Math.random() * (max_raw - min_raw) + min_raw).toFixed(2));\nlet c1_ma = Number((c1_raw / 1600).toFixed(2));\nlet c1_db = Number((c1_raw / 320).toFixed(0));\n\nlet c2_raw = Number((Math.random() * (max_raw - min_raw) + min_raw).toFixed(2));\nlet c2_ma = Number((c2_raw / 1600).toFixed(2));\nlet c2_db = Number((c2_raw / 320).toFixed(0));\n\nmsg.payload.c1_raw_adc = c1_raw;\nmsg.payload.c2_raw_adc = c2_raw;\nmsg.payload.c1_ma = c1_ma;\nmsg.payload.c2_ma = c2_ma;\nmsg.payload.c1_db = c1_db;\nmsg.payload.c2_db = c2_db;\nmsg.data.sensor_data.c1_raw_adc = c1_raw;\nmsg.data.sensor_data.c2_raw_adc = c2_raw;\nmsg.data.sensor_data.c1_ma = c1_ma;\nmsg.data.sensor_data.c2_ma = c2_ma;\nmsg.data.sensor_data.c1_db = c1_db;\nmsg.data.sensor_data.c2_db = c2_db;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":1840,"wires":[["6fbdce27b64ca45f"]],"icon":"font-awesome/fa-random","l":false},{"id":"6fbdce27b64ca45f","type":"debug","z":"0f850dc8977c3d53","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":1840,"wires":[]}]
