node-red/19 - 2 Channel Current Sensor/19 - 2 Channel Current Sensor.json
[{"id":"209ca666fec1f1c3","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":19,\"sensor_data\":{\"channel_1\":10,\"channel_2\":10},\"sensor_name\":\"2-Channel Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":270,"y":6280,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"50b4b52cd277c3fb","type":"debug","z":"eb6539302d516693","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":6440,"wires":[]},{"id":"fde621d8f48c415a","type":"inject","z":"eb6539302d516693","name":"19 - 2 Channel Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":19,\"sensor_data\":{\"channel_1\":17,\"channel_2\":17,\"channel_3\":17},\"sensor_name\":\"2-Channel Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":17,\"channel_2\":17,\"channel_3\":17}","payloadType":"json","x":310,"y":6800,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"a9dd262d53322e02","type":"debug","z":"eb6539302d516693","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":6880,"wires":[]},{"id":"598902936605819f","type":"comment","z":"eb6539302d516693","name":"DATA ","info":"","x":230,"y":6240,"wires":[]},{"id":"77570ea8b24f9abd","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":19,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":270,"y":6200,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"4b9dfe445ba5c809","type":"comment","z":"eb6539302d516693","name":"RUN","info":"","x":230,"y":6160,"wires":[]},{"id":"46e91b36b3abeb31","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":19,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":270,"y":6360,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"484a6ba24a05ac71","type":"comment","z":"eb6539302d516693","name":"PGM","info":"","x":230,"y":6320,"wires":[]},{"id":"115abf67d6bcbd23","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":19,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":270,"y":6440,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"2fbb2a5664ea405b","type":"comment","z":"eb6539302d516693","name":"ACK","info":"","x":230,"y":6400,"wires":[]},{"id":"19fea4fa8aacfcd6","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":270,"y":6680,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"30788c1df8a78d08","type":"comment","z":"eb6539302d516693","name":"modem_mac","info":"","x":250,"y":6640,"wires":[]},{"id":"9d0c94fa72f7baa2","type":"comment","z":"eb6539302d516693","name":"DATA ","info":"","x":230,"y":6760,"wires":[]},{"id":"1e9871d5aca73cc4","type":"inject","z":"eb6539302d516693","name":"19 - 2 Channel Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":310,"y":6880,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"7174f57d3b132921","type":"comment","z":"eb6539302d516693","name":"Config Results","info":"","x":260,"y":6840,"wires":[]},{"id":"5f2d5cec01d8443f","type":"inject","z":"eb6539302d516693","d":true,"name":"13 - Current Monitor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":270,"y":6960,"wires":[["a9dd262d53322e02"]],"icon":"node-red/serial.svg"},{"id":"2451c18397d44a3b","type":"comment","z":"eb6539302d516693","d":true,"name":"OTN Request Results","info":"","x":280,"y":6920,"wires":[]},{"id":"7a1f3df7963491d8","type":"comment","z":"eb6539302d516693","name":"PUM","info":"","x":230,"y":6480,"wires":[]},{"id":"fa37c1b2637d72e0","type":"inject","z":"eb6539302d516693","d":true,"name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":270,"y":6600,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"},{"id":"37d338fd00210307","type":"comment","z":"eb6539302d516693","d":true,"name":"FLY","info":"","x":230,"y":6560,"wires":[]},{"id":"c48319a054512fe4","type":"inject","z":"eb6539302d516693","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":19,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":270,"y":6520,"wires":[["50b4b52cd277c3fb"]],"icon":"node-red/serial.svg"}]
