node-red/19 - 2 Channel Current Sensor/19 - 2 Channel Current Sensor.json
[{"id":"62cae003f2a77890","type":"inject","z":"205a6d2dec2f401a","name":"19 - 2 Channel Current Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":19,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0},\"sensor_name\":\"2-channel 24-Bit Current Monitor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:00:00:00:00\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:00:00:00:00\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"rssi\":{},\"type\":\"receive_packet\"},\"rssi\":40,\"modem_mac\":\"00:13:A2:00:00:00:00:00\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":0,\"channel_2\":0}","payloadType":"json","x":310,"y":2040,"wires":[["96dded1368c44b4e"]],"icon":"node-red/serial.svg"},{"id":"96dded1368c44b4e","type":"function","z":"205a6d2dec2f401a","name":"Random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch = 12.000;\nlet min_ch = 10.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch2 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2040,"wires":[["94064aab63b93d30","c0c3f11dd7789787","b5aed6557ea90f19","34043b49b6c5c844","d4be9b7639991a10","2c192606384b33da"]],"icon":"font-awesome/fa-random"},{"id":"94064aab63b93d30","type":"debug","z":"205a6d2dec2f401a","name":"Current CH1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_1","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":710,"y":1940,"wires":[]},{"id":"c0c3f11dd7789787","type":"debug","z":"205a6d2dec2f401a","name":"Current CH2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_2","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":710,"y":2000,"wires":[]},{"id":"b5aed6557ea90f19","type":"debug","z":"205a6d2dec2f401a","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":1900,"wires":[]},{"id":"34043b49b6c5c844","type":"debug","z":"205a6d2dec2f401a","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":710,"y":2060,"wires":[]},{"id":"d4be9b7639991a10","type":"debug","z":"205a6d2dec2f401a","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":720,"y":2120,"wires":[]},{"id":"2c192606384b33da","type":"debug","z":"205a6d2dec2f401a","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":700,"y":2180,"wires":[]}]
