node-red/32 - Particulate Matter Sensor/32 - Particulate Matter Sensor.json
[{"id":"b0fd201de08a2c74","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":32,\"sensor_data\":{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0},\"sensor_name\":\"Particulate Matter Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":810,"y":200,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"cc4ad085cfc8e266","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":360,"wires":[]},{"id":"81c715239084b480","type":"inject","z":"59c81deb02af9798","name":"32 - Particulate Matter Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":32,\"sensor_data\":{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0},\"sensor_name\":\"Particulate Matter Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"mass_concentration_1_0\":0,\"mass_concentration_2_5\":0,\"mass_concentration_4_0\":0,\"mass_concentration_10_0\":0,\"number_concentration_0_5\":0,\"number_concentration_1_0\":0,\"number_concentration_2_5\":0,\"number_concentration_4_0\":0,\"number_concentration_10_0\":0,\"typical_size\":0,\"Humidity\":0,\"Temperature\":0}","payloadType":"json","x":840,"y":720,"wires":[["2fba55b280a87eeb"]],"icon":"node-red/serial.svg"},{"id":"2fba55b280a87eeb","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":800,"wires":[]},{"id":"dc2a618cf2621207","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":770,"y":160,"wires":[]},{"id":"d1b2fa9e21ce5deb","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":32,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":810,"y":120,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"f1076ae653015c26","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":770,"y":80,"wires":[]},{"id":"2954bb331a1493a8","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":32,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":810,"y":280,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"25f853b33fc011f9","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":770,"y":240,"wires":[]},{"id":"90bfd54881b6037c","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":32,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":810,"y":360,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"24e14f8ded7b1765","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":770,"y":320,"wires":[]},{"id":"57f13ec90057e344","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":810,"y":600,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"5c93e039440dea5e","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":790,"y":560,"wires":[]},{"id":"15169f290b2c439b","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":770,"y":680,"wires":[]},{"id":"130b8e7189ffacc7","type":"inject","z":"59c81deb02af9798","name":"32 - Particulate Matter Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":840,"y":800,"wires":[["2fba55b280a87eeb"]],"icon":"node-red/serial.svg"},{"id":"a7c062e364dcc2e3","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":800,"y":760,"wires":[]},{"id":"a458945504c236f1","type":"inject","z":"59c81deb02af9798","name":"32 - Particulate Matter Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":840,"y":880,"wires":[["2fba55b280a87eeb"]],"icon":"node-red/serial.svg"},{"id":"c612315667974af4","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":820,"y":840,"wires":[]},{"id":"b2fe0ef2036b44a8","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":770,"y":400,"wires":[]},{"id":"818e39930918ad0f","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":32,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":810,"y":520,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"},{"id":"ba58a7a22c105a77","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":770,"y":480,"wires":[]},{"id":"5feaaf60971c141d","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":32,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":810,"y":440,"wires":[["cc4ad085cfc8e266"]],"icon":"node-red/serial.svg"}]
