node-red/39 - 3 Wire RTD Temperature Sensor/39 - 3 Wire RTD Temperature Sensor.json
[{"id":"05846c049639095e","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":39,\"sensor_data\":{\"temperature\":0},\"sensor_name\":\"RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":1030,"y":3520,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"916a67b652733a92","type":"debug","z":"59c81deb02af9798","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":3680,"wires":[]},{"id":"1003f5174401a72d","type":"inject","z":"59c81deb02af9798","name":"39 - 3 Wire RTD Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":39,\"sensor_data\":{\"temperature\":0},\"sensor_name\":\"RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"temperature\":0}","payloadType":"json","x":1090,"y":4040,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"0e4e13dfa03a78c5","type":"debug","z":"59c81deb02af9798","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":4120,"wires":[]},{"id":"958e5161a8357f44","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":990,"y":3480,"wires":[]},{"id":"616e982fdeaecc0d","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":39,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":1030,"y":3440,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9765168818a73f5","type":"comment","z":"59c81deb02af9798","name":"RUN","info":"","x":990,"y":3400,"wires":[]},{"id":"e1d90445421cae67","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":39,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":1030,"y":3600,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"887b2d57f2b7f971","type":"comment","z":"59c81deb02af9798","name":"PGM","info":"","x":990,"y":3560,"wires":[]},{"id":"32a4dcf06cd27ea6","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":39,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":1030,"y":3680,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"2d99c11d5aa1aa13","type":"comment","z":"59c81deb02af9798","name":"ACK","info":"","x":990,"y":3640,"wires":[]},{"id":"6c246ff9d753f6f0","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:00:00:00:01","payloadType":"str","x":1030,"y":3920,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"c9945c96e7d0d897","type":"comment","z":"59c81deb02af9798","name":"modem_mac","info":"","x":1010,"y":3880,"wires":[]},{"id":"53fd21f2200710ce","type":"comment","z":"59c81deb02af9798","name":"DATA ","info":"","x":990,"y":4000,"wires":[]},{"id":"01f578e5ad89ed38","type":"inject","z":"59c81deb02af9798","name":"39 - 3 Wire RTD Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":1090,"y":4120,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"eabc24e89b27325c","type":"comment","z":"59c81deb02af9798","name":"Config Results","info":"","x":1020,"y":4080,"wires":[]},{"id":"fabcc468762154bc","type":"inject","z":"59c81deb02af9798","name":"39 - 3 Wire RTD Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":1090,"y":4200,"wires":[["0e4e13dfa03a78c5"]],"icon":"node-red/serial.svg"},{"id":"ac390fc878b8d319","type":"comment","z":"59c81deb02af9798","name":"OTN Request Results","info":"","x":1040,"y":4160,"wires":[]},{"id":"6a592977cd8bcbdf","type":"comment","z":"59c81deb02af9798","name":"PUM","info":"","x":990,"y":3720,"wires":[]},{"id":"dfec85adf6206552","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":39,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":1030,"y":3840,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"},{"id":"e61d859492c08afc","type":"comment","z":"59c81deb02af9798","name":"FLY","info":"","x":990,"y":3800,"wires":[]},{"id":"c96f1ac2c6055807","type":"inject","z":"59c81deb02af9798","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"mac\":\"00:13:a2:00:00:10:10:10\",\"type\":39,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":1030,"y":3760,"wires":[["916a67b652733a92"]],"icon":"node-red/serial.svg"}]
