node-red/39 - 3 Wire RTD Temperature Sensor/39 - 3 Wire RTD Temperature Sensor.json
[{"id":"08028904ef81bbcc","type":"function","z":"263e304177cfb150","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet max_temp_c = 850;\nlet min_temp_c = -200;\n\nlet temp = Number(((Math.random() * (max_temp_c- min_temp_c) + min_temp_c).toFixed(2)));\n\nmsg.payload.temperature = temp;\nmsg.data.sensor_data.temperature = temp;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1560,"wires":[["df65419474971782"]],"icon":"font-awesome/fa-random"},{"id":"e145937664bd41ef","type":"inject","z":"263e304177cfb150","name":"39 - 3 Wire RTD Temperature Sensor","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":39,\"sensor_data\":{\"temperature\":0},\"sensor_name\":\"RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"04:03:02:01:a2:b3:c1:f5\",\"received\":1708011488930,\"original\":{\"mac\":\"04:03:02:01:a2:b3:c1:f5\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"sensor_data","payload":"{\"temperature\":0}","payloadType":"json","x":350,"y":1560,"wires":[["08028904ef81bbcc"]],"icon":"node-red/serial.svg"},{"id":"df65419474971782","type":"debug","z":"263e304177cfb150","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":1560,"wires":[]}]
