node-red/80 - One Channel Vibration Plus [Mode:Raw]/80 - One Channel Vibration Plus [Mode:Raw].json
[{"id":"4bc9e78c146a4940","type":"inject","z":"0f850dc8977c3d53","name":"80 - One Channel Vibration Plus","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":16,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":80,\"sensor_data\":{\"time_id\":\"22:34\",\"mac_address\":\"00:13:a2:00:10:20:30:41\",\"en_axis\":7,\"odr\":25600,\"device_temp\":23.64,\"data\":{\"1\":{\"x\":0,\"y\":0.01,\"z\":0.02},\"2\":{\"x\":0.01,\"y\":0.05,\"z\":0.08},\"3\":{\"x\":0.04,\"y\":0.06,\"z\":0.08},\"4\":{\"x\":-0.01,\"y\":-0.02,\"z\":-0.01},\"5\":{\"x\":-0.07,\"y\":-0.04,\"z\":0},\"6\":{\"x\":0,\"y\":0.04,\"z\":0.04},\"7\":{\"x\":0.06,\"y\":0.02,\"z\":-0.04},\"8\":{\"x\":-0.02,\"y\":-0.08,\"z\":-0.05},\"9\":{\"x\":-0.02,\"y\":-0.03,\"z\":0.06},\"10\":{\"x\":0.05,\"y\":0.08,\"z\":0.02},\"11\":{\"x\":0.03,\"y\":0.02,\"z\":-0.1},\"12\":{\"x\":-0.07,\"y\":-0.08,\"z\":-0.07},\"13\":{\"x\":-0.07,\"y\":0,\"z\":0.04},\"14\":{\"x\":0.01,\"y\":0.1,\"z\":0.01},\"15\":{\"x\":0.01,\"y\":0.02,\"z\":-0.04},\"16\":{\"x\":-0.07,\"y\":-0.08,\"z\":0.06},\"17\":{\"x\":-0.01,\"y\":0,\"z\":0.11},\"18\":{\"x\":0.06,\"y\":0.03,\"z\":-0.03},\"19\":{\"x\":-0.02,\"y\":-0.06,\"z\":-0.08},\"20\":{\"x\":-0.04,\"y\":-0.02,\"z\":0.01},\"21\":{\"x\":0.03,\"y\":0.05,\"z\":-0.01},\"22\":{\"x\":0.03,\"y\":0,\"z\":-0.06},\"23\":{\"x\":-0.03,\"y\":-0.04,\"z\":0.02},\"24\":{\"x\":0,\"y\":0.02,\"z\":0.06},\"25\":{\"x\":0.07,\"y\":0.02,\"z\":-0.02},\"26\":{\"x\":0.01,\"y\":-0.09,\"z\":-0.08},\"27\":{\"x\":-0.07,\"y\":-0.09,\"z\":-0.02},\"28\":{\"x\":-0.01,\"y\":0.04,\"z\":0.03},\"29\":{\"x\":0.08,\"y\":0.07,\"z\":-0.02},\"30\":{\"x\":0.02,\"y\":-0.03,\"z\":0.01},\"31\":{\"x\":-0.04,\"y\":-0.02,\"z\":0.08},\"32\":{\"x\":0.03,\"y\":0.07,\"z\":0.02},\"33\":{\"x\":0.04,\"y\":0.06,\"z\":-0.03},\"34\":{\"x\":-0.03,\"y\":0,\"z\":0.01},\"35\":{\"x\":-0.03,\"y\":-0.01,\"z\":0.02},\"36\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"37\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"38\":{\"x\":0,\"y\":0,\"z\":0},\"39\":{\"x\":0,\"y\":0,\"z\":0},\"40\":{\"x\":0,\"y\":0.01,\"z\":0},\"41\":{\"x\":0,\"y\":0.02,\"z\":0},\"42\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"43\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"44\":{\"x\":0,\"y\":0.01,\"z\":-0.02},\"45\":{\"x\":0,\"y\":0,\"z\":-0.01},\"46\":{\"x\":0.01,\"y\":0,\"z\":0},\"47\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"48\":{\"x\":0,\"y\":0,\"z\":-0.01},\"49\":{\"x\":0,\"y\":0,\"z\":-0.01},\"50\":{\"x\":0,\"y\":0,\"z\":0},\"51\":{\"x\":0.01,\"y\":0,\"z\":0},\"52\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"53\":{\"x\":0,\"y\":0.01,\"z\":0},\"54\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"55\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"56\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"57\":{\"x\":0,\"y\":0.01,\"z\":0},\"58\":{\"x\":0,\"y\":0.01,\"z\":0},\"59\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"60\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"61\":{\"x\":0,\"y\":0.02,\"z\":0.01},\"62\":{\"x\":-0.01,\"y\":0,\"z\":-0.03},\"63\":{\"x\":-0.06,\"y\":-0.05,\"z\":-0.06},\"64\":{\"x\":-0.12,\"y\":-0.02,\"z\":0.02},\"65\":{\"x\":-0.04,\"y\":0.05,\"z\":0.04},\"66\":{\"x\":0.06,\"y\":0,\"z\":-0.05},\"67\":{\"x\":0.03,\"y\":-0.07,\"z\":-0.09},\"68\":{\"x\":-0.01,\"y\":-0.04,\"z\":0},\"69\":{\"x\":0.02,\"y\":0.02,\"z\":0.02},\"70\":{\"x\":0.03,\"y\":0.01,\"z\":-0.06},\"71\":{\"x\":-0.03,\"y\":-0.07,\"z\":-0.08},\"72\":{\"x\":-0.05,\"y\":-0.06,\"z\":-0.02},\"73\":{\"x\":0.04,\"y\":0.04,\"z\":0.01},\"74\":{\"x\":0.08,\"y\":0.06,\"z\":-0.03},\"75\":{\"x\":-0.02,\"y\":0,\"z\":-0.02},\"76\":{\"x\":-0.09,\"y\":-0.02,\"z\":0.05},\"77\":{\"x\":-0.01,\"y\":0.02,\"z\":0.05},\"78\":{\"x\":0.1,\"y\":0.05,\"z\":-0.02},\"79\":{\"x\":0.08,\"y\":0,\"z\":-0.05},\"80\":{\"x\":-0.04,\"y\":-0.06,\"z\":-0.01},\"81\":{\"x\":-0.05,\"y\":-0.01,\"z\":0.04},\"82\":{\"x\":0.03,\"y\":0.08,\"z\":0.03},\"83\":{\"x\":0.05,\"y\":0.07,\"z\":-0.02},\"84\":{\"x\":-0.02,\"y\":-0.03,\"z\":-0.09},\"85\":{\"x\":-0.09,\"y\":-0.05,\"z\":-0.07},\"86\":{\"x\":-0.05,\"y\":0.04,\"z\":0.01},\"87\":{\"x\":0.05,\"y\":0.05,\"z\":-0.03},\"88\":{\"x\":0.03,\"y\":-0.05,\"z\":-0.09},\"89\":{\"x\":-0.07,\"y\":-0.06,\"z\":0},\"90\":{\"x\":-0.04,\"y\":0.01,\"z\":0.06},\"91\":{\"x\":0.07,\"y\":0.02,\"z\":-0.01},\"92\":{\"x\":0.04,\"y\":-0.05,\"z\":-0.06},\"93\":{\"x\":-0.01,\"y\":-0.06,\"z\":-0.05},\"94\":{\"x\":0.04,\"y\":0,\"z\":-0.02},\"95\":{\"x\":0.04,\"y\":0.03,\"z\":0},\"96\":{\"x\":0,\"y\":0.01,\"z\":0},\"97\":{\"x\":-0.01,\"y\":0,\"z\":0},\"98\":{\"x\":0,\"y\":0,\"z\":0},\"99\":{\"x\":0,\"y\":0,\"z\":0},\"100\":{\"x\":0,\"y\":0,\"z\":0},\"101\":{\"x\":0.01,\"y\":0,\"z\":0},\"102\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"103\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"104\":{\"x\":0,\"y\":0,\"z\":0.01},\"105\":{\"x\":0,\"y\":0,\"z\":0},\"106\":{\"x\":0,\"y\":0,\"z\":0},\"107\":{\"x\":0,\"y\":0,\"z\":0},\"108\":{\"x\":0,\"y\":0,\"z\":0},\"109\":{\"x\":0,\"y\":0,\"z\":-0.01},\"110\":{\"x\":0,\"y\":0,\"z\":0},\"111\":{\"x\":0.01,\"y\":0,\"z\":0},\"112\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"113\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"114\":{\"x\":0,\"y\":0,\"z\":0.01},\"115\":{\"x\":0,\"y\":0,\"z\":0},\"116\":{\"x\":0,\"y\":0.01,\"z\":0},\"117\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"118\":{\"x\":0,\"y\":0,\"z\":0},\"119\":{\"x\":0,\"y\":0,\"z\":-0.01},\"120\":{\"x\":0,\"y\":0,\"z\":-0.01},\"121\":{\"x\":-0.01,\"y\":0,\"z\":0},\"122\":{\"x\":-0.02,\"y\":0.02,\"z\":0.06},\"123\":{\"x\":0.02,\"y\":0.03,\"z\":0.1},\"124\":{\"x\":0.01,\"y\":-0.02,\"z\":0.03},\"125\":{\"x\":-0.05,\"y\":-0.07,\"z\":0.01},\"126\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.08},\"127\":{\"x\":0.03,\"y\":0.04,\"z\":0.04},\"128\":{\"x\":0.03,\"y\":-0.01,\"z\":-0.07},\"129\":{\"x\":-0.05,\"y\":-0.06,\"z\":-0.03},\"130\":{\"x\":-0.04,\"y\":0.04,\"z\":0.05},\"131\":{\"x\":0.04,\"y\":0.08,\"z\":-0.03},\"132\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.06},\"133\":{\"x\":-0.01,\"y\":-0.02,\"z\":0.07},\"134\":{\"x\":0.03,\"y\":0.07,\"z\":0.1},\"135\":{\"x\":0.05,\"y\":0.01,\"z\":-0.02},\"136\":{\"x\":-0.03,\"y\":-0.07,\"z\":-0.06},\"137\":{\"x\":0.01,\"y\":0.02,\"z\":-0.04},\"138\":{\"x\":0.07,\"y\":0.07,\"z\":-0.07},\"139\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.05},\"140\":{\"x\":-0.06,\"y\":-0.06,\"z\":0.05},\"141\":{\"x\":-0.02,\"y\":0.01,\"z\":0.08},\"142\":{\"x\":0.05,\"y\":0.05,\"z\":0},\"143\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.08},\"144\":{\"x\":-0.06,\"y\":-0.07,\"z\":-0.03},\"145\":{\"x\":-0.05,\"y\":-0.02,\"z\":0.08},\"146\":{\"x\":0.04,\"y\":0.07,\"z\":0.08},\"147\":{\"x\":0.05,\"y\":0.08,\"z\":-0.03},\"148\":{\"x\":-0.04,\"y\":-0.01,\"z\":-0.07},\"149\":{\"x\":-0.09,\"y\":-0.06,\"z\":0},\"150\":{\"x\":-0.02,\"y\":-0.01,\"z\":0.04},\"151\":{\"x\":0.07,\"y\":0.04,\"z\":-0.01},\"152\":{\"x\":0.06,\"y\":0,\"z\":-0.07},\"153\":{\"x\":-0.02,\"y\":-0.01,\"z\":-0.06},\"154\":{\"x\":-0.02,\"y\":0.04,\"z\":0.01},\"155\":{\"x\":0.01,\"y\":0.02,\"z\":0.02},\"156\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"157\":{\"x\":0.01,\"y\":-0.01,\"z\":-0.01},\"158\":{\"x\":0,\"y\":0.01,\"z\":0},\"159\":{\"x\":0,\"y\":0.01,\"z\":0},\"160\":{\"x\":0,\"y\":0,\"z\":0},\"161\":{\"x\":0,\"y\":-0.01,\"z\":-0.01},\"162\":{\"x\":0,\"y\":-0.01,\"z\":0},\"163\":{\"x\":0,\"y\":0,\"z\":0},\"164\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"165\":{\"x\":0,\"y\":0.01,\"z\":0},\"166\":{\"x\":0,\"y\":0,\"z\":0},\"167\":{\"x\":0,\"y\":0,\"z\":0},\"168\":{\"x\":0,\"y\":0.01,\"z\":0},\"169\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"170\":{\"x\":0,\"y\":0.01,\"z\":0},\"171\":{\"x\":0,\"y\":0.01,\"z\":0},\"172\":{\"x\":0,\"y\":0.01,\"z\":0},\"173\":{\"x\":0,\"y\":0,\"z\":0},\"174\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"175\":{\"x\":0,\"y\":0,\"z\":0},\"176\":{\"x\":0,\"y\":0,\"z\":0},\"177\":{\"x\":0,\"y\":0,\"z\":0},\"178\":{\"x\":0,\"y\":-0.01,\"z\":0},\"179\":{\"x\":0,\"y\":-0.01,\"z\":0},\"180\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"181\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"182\":{\"x\":-0.01,\"y\":0.06,\"z\":0.03},\"183\":{\"x\":0.02,\"y\":0.07,\"z\":0.03},\"184\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"185\":{\"x\":-0.05,\"y\":-0.06,\"z\":0.02},\"186\":{\"x\":-0.09,\"y\":-0.03,\"z\":0.07},\"187\":{\"x\":-0.03,\"y\":0.05,\"z\":0.05},\"188\":{\"x\":0.05,\"y\":0.07,\"z\":-0.03},\"189\":{\"x\":0.04,\"y\":0,\"z\":-0.09},\"190\":{\"x\":-0.04,\"y\":-0.07,\"z\":-0.04},\"191\":{\"x\":-0.07,\"y\":-0.08,\"z\":0.06},\"192\":{\"x\":0.02,\"y\":0.01,\"z\":0.06},\"193\":{\"x\":0.08,\"y\":0.06,\"z\":-0.03},\"194\":{\"x\":0.02,\"y\":-0.03,\"z\":-0.06},\"195\":{\"x\":-0.06,\"y\":-0.08,\"z\":0},\"196\":{\"x\":-0.05,\"y\":0.01,\"z\":0.08},\"197\":{\"x\":0.03,\"y\":0.06,\"z\":0.05},\"198\":{\"x\":0.04,\"y\":0.02,\"z\":-0.06},\"199\":{\"x\":-0.04,\"y\":-0.03,\"z\":-0.05},\"200\":{\"x\":-0.06,\"y\":0.01,\"z\":0.08},\"201\":{\"x\":0.01,\"y\":0.09,\"z\":0.11},\"202\":{\"x\":0.06,\"y\":0.05,\"z\":0},\"203\":{\"x\":-0.01,\"y\":-0.06,\"z\":-0.04},\"204\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.02},\"205\":{\"x\":-0.01,\"y\":0.05,\"z\":0.01},\"206\":{\"x\":-0.01,\"y\":0,\"z\":-0.04},\"207\":{\"x\":-0.07,\"y\":-0.04,\"z\":0.05},\"208\":{\"x\":-0.03,\"y\":0.02,\"z\":0.09},\"209\":{\"x\":0.03,\"y\":0.02,\"z\":-0.01},\"210\":{\"x\":0.01,\"y\":-0.07,\"z\":-0.06},\"211\":{\"x\":-0.02,\"y\":-0.09,\"z\":0.03},\"212\":{\"x\":0.02,\"y\":0.03,\"z\":0.08},\"213\":{\"x\":0.03,\"y\":0.05,\"z\":0.02},\"214\":{\"x\":-0.03,\"y\":-0.03,\"z\":-0.01},\"215\":{\"x\":-0.03,\"y\":-0.03,\"z\":0},\"216\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"217\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"218\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"219\":{\"x\":0.01,\"y\":0,\"z\":0},\"220\":{\"x\":0.01,\"y\":0.01,\"z\":0.01},\"221\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"222\":{\"x\":0,\"y\":0,\"z\":0},\"223\":{\"x\":0,\"y\":0,\"z\":0},\"224\":{\"x\":0.01,\"y\":0,\"z\":0},\"225\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"226\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"227\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"228\":{\"x\":0.01,\"y\":0,\"z\":0},\"229\":{\"x\":0.01,\"y\":0,\"z\":0},\"230\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"231\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"232\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"233\":{\"x\":0.01,\"y\":0,\"z\":0},\"234\":{\"x\":0.01,\"y\":0,\"z\":0},\"235\":{\"x\":0.01,\"y\":0,\"z\":0},\"236\":{\"x\":0,\"y\":-0.01,\"z\":0},\"237\":{\"x\":0,\"y\":-0.01,\"z\":0},\"238\":{\"x\":0,\"y\":-0.01,\"z\":0},\"239\":{\"x\":0.01,\"y\":0,\"z\":0},\"240\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"241\":{\"x\":-0.01,\"y\":-0.03,\"z\":-0.01},\"242\":{\"x\":-0.05,\"y\":-0.11,\"z\":-0.02},\"243\":{\"x\":-0.04,\"y\":-0.09,\"z\":0},\"244\":{\"x\":0.02,\"y\":0.05,\"z\":0.03},\"245\":{\"x\":0.05,\"y\":0.04,\"z\":-0.03},\"246\":{\"x\":-0.03,\"y\":-0.04,\"z\":-0.07},\"247\":{\"x\":-0.09,\"y\":-0.02,\"z\":-0.02},\"248\":{\"x\":-0.02,\"y\":0.03,\"z\":0.04},\"249\":{\"x\":0.07,\"y\":0.02,\"z\":0.02},\"250\":{\"x\":0.04,\"y\":-0.04,\"z\":-0.04},\"251\":{\"x\":-0.05,\"y\":-0.05,\"z\":0.01},\"252\":{\"x\":-0.06,\"y\":0.06,\"z\":0.09},\"253\":{\"x\":0.02,\"y\":0.13,\"z\":0.06},\"254\":{\"x\":0.05,\"y\":0.06,\"z\":-0.02},\"255\":{\"x\":-0.02,\"y\":-0.02,\"z\":-0.04},\"256\":{\"x\":-0.07,\"y\":-0.06,\"z\":0.01},\"257\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.06},\"258\":{\"x\":0.05,\"y\":0.05,\"z\":0.04},\"259\":{\"x\":0.12,\"y\":0.07,\"z\":-0.01},\"260\":{\"x\":0.07,\"y\":-0.01,\"z\":-0.03},\"261\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.04},\"262\":{\"x\":-0.01,\"y\":0.05,\"z\":0.03},\"263\":{\"x\":0.02,\"y\":0.01,\"z\":-0.07},\"264\":{\"x\":-0.07,\"y\":-0.08,\"z\":-0.03},\"265\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.05},\"266\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.02},\"267\":{\"x\":-0.03,\"y\":-0.1,\"z\":-0.04},\"268\":{\"x\":-0.06,\"y\":-0.05,\"z\":0.03},\"269\":{\"x\":0.03,\"y\":0.06,\"z\":0.02},\"270\":{\"x\":0.09,\"y\":0.05,\"z\":-0.03},\"271\":{\"x\":0,\"y\":-0.04,\"z\":-0.04},\"272\":{\"x\":-0.08,\"y\":-0.07,\"z\":0.02},\"273\":{\"x\":-0.03,\"y\":-0.01,\"z\":0.04},\"274\":{\"x\":0.03,\"y\":0.01,\"z\":-0.02},\"275\":{\"x\":0.01,\"y\":-0.01,\"z\":-0.03},\"276\":{\"x\":0,\"y\":0,\"z\":0},\"277\":{\"x\":0,\"y\":0,\"z\":0},\"278\":{\"x\":0.01,\"y\":0,\"z\":0},\"279\":{\"x\":0.01,\"y\":0,\"z\":0},\"280\":{\"x\":0,\"y\":0,\"z\":0},\"281\":{\"x\":0,\"y\":0,\"z\":0},\"282\":{\"x\":0,\"y\":0,\"z\":0},\"283\":{\"x\":0,\"y\":0,\"z\":0},\"284\":{\"x\":0,\"y\":0.01,\"z\":0},\"285\":{\"x\":0,\"y\":0.01,\"z\":0},\"286\":{\"x\":0,\"y\":0,\"z\":0},\"287\":{\"x\":0,\"y\":0,\"z\":0},\"288\":{\"x\":0,\"y\":0,\"z\":0},\"289\":{\"x\":0,\"y\":0.01,\"z\":0},\"290\":{\"x\":0,\"y\":0.01,\"z\":0},\"291\":{\"x\":0,\"y\":0,\"z\":0},\"292\":{\"x\":0,\"y\":0,\"z\":-0.01},\"293\":{\"x\":0,\"y\":0.01,\"z\":0},\"294\":{\"x\":0,\"y\":0.01,\"z\":0},\"295\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"296\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"297\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"298\":{\"x\":0.01,\"y\":0.01,\"z\":0.01},\"299\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"300\":{\"x\":0.01,\"y\":0,\"z\":0},\"301\":{\"x\":0,\"y\":-0.01,\"z\":-0.03},\"302\":{\"x\":-0.01,\"y\":-0.04,\"z\":-0.04},\"303\":{\"x\":0.02,\"y\":-0.03,\"z\":0},\"304\":{\"x\":0.04,\"y\":-0.01,\"z\":-0.02},\"305\":{\"x\":-0.03,\"y\":-0.01,\"z\":-0.04},\"306\":{\"x\":-0.09,\"y\":-0.01,\"z\":0},\"307\":{\"x\":0,\"y\":0.05,\"z\":0.04},\"308\":{\"x\":0.1,\"y\":0.06,\"z\":-0.01},\"309\":{\"x\":0.05,\"y\":-0.02,\"z\":-0.09},\"310\":{\"x\":-0.05,\"y\":-0.07,\"z\":-0.03},\"311\":{\"x\":0,\"y\":-0.01,\"z\":0.07},\"312\":{\"x\":0.07,\"y\":0.02,\"z\":0},\"313\":{\"x\":-0.02,\"y\":-0.02,\"z\":-0.05},\"314\":{\"x\":-0.08,\"y\":-0.01,\"z\":0.06},\"315\":{\"x\":0.01,\"y\":0.03,\"z\":0.07},\"316\":{\"x\":0.01,\"y\":-0.03,\"z\":-0.02},\"317\":{\"x\":-0.09,\"y\":-0.09,\"z\":-0.01},\"318\":{\"x\":-0.03,\"y\":0,\"z\":0},\"319\":{\"x\":0.08,\"y\":0.03,\"z\":-0.05},\"320\":{\"x\":0.02,\"y\":-0.04,\"z\":-0.04},\"321\":{\"x\":-0.07,\"y\":-0.05,\"z\":0.01},\"322\":{\"x\":-0.05,\"y\":0.02,\"z\":0.05},\"323\":{\"x\":0.05,\"y\":0.07,\"z\":0.05},\"324\":{\"x\":0.07,\"y\":0.01,\"z\":-0.02},\"325\":{\"x\":-0.03,\"y\":-0.08,\"z\":-0.02},\"326\":{\"x\":-0.03,\"y\":-0.04,\"z\":0.04},\"327\":{\"x\":0.08,\"y\":0.05,\"z\":-0.03},\"328\":{\"x\":0.05,\"y\":0.03,\"z\":-0.09},\"329\":{\"x\":-0.04,\"y\":-0.01,\"z\":0.01},\"330\":{\"x\":0,\"y\":0.02,\"z\":0.09},\"331\":{\"x\":0.09,\"y\":0.01,\"z\":-0.01},\"332\":{\"x\":0.07,\"y\":-0.04,\"z\":-0.08},\"333\":{\"x\":0,\"y\":-0.03,\"z\":-0.01},\"334\":{\"x\":0.01,\"y\":0.02,\"z\":0.02},\"335\":{\"x\":0.02,\"y\":0.02,\"z\":0},\"336\":{\"x\":0,\"y\":0,\"z\":-0.01},\"337\":{\"x\":0,\"y\":0,\"z\":0},\"338\":{\"x\":0,\"y\":0.01,\"z\":0},\"339\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"340\":{\"x\":0,\"y\":0,\"z\":-0.01},\"341\":{\"x\":0,\"y\":0,\"z\":0},\"342\":{\"x\":0,\"y\":0,\"z\":0},\"343\":{\"x\":0,\"y\":0,\"z\":-0.01},\"344\":{\"x\":0,\"y\":0,\"z\":-0.01},\"345\":{\"x\":-0.01,\"y\":0.01,\"z\":0},\"346\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"347\":{\"x\":0.01,\"y\":0,\"z\":0},\"348\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"349\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"350\":{\"x\":0.01,\"y\":0,\"z\":0},\"351\":{\"x\":0,\"y\":-0.01,\"z\":0},\"352\":{\"x\":0,\"y\":0,\"z\":0},\"353\":{\"x\":0,\"y\":0,\"z\":0.01},\"354\":{\"x\":0,\"y\":0,\"z\":0},\"355\":{\"x\":0,\"y\":0,\"z\":-0.01},\"356\":{\"x\":0,\"y\":0,\"z\":-0.01},\"357\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"358\":{\"x\":0,\"y\":0.01,\"z\":0},\"359\":{\"x\":0,\"y\":0.01,\"z\":0},\"360\":{\"x\":0,\"y\":0,\"z\":0},\"361\":{\"x\":0.01,\"y\":0.03,\"z\":0.04},\"362\":{\"x\":0.03,\"y\":0.08,\"z\":0.07},\"363\":{\"x\":0,\"y\":0.03,\"z\":-0.01},\"364\":{\"x\":-0.08,\"y\":-0.04,\"z\":-0.03},\"365\":{\"x\":-0.05,\"y\":0,\"z\":0.06},\"366\":{\"x\":0.02,\"y\":0.03,\"z\":0.03},\"367\":{\"x\":-0.04,\"y\":-0.04,\"z\":-0.01},\"368\":{\"x\":-0.06,\"y\":-0.01,\"z\":0.05},\"369\":{\"x\":0.02,\"y\":0.04,\"z\":0.01},\"370\":{\"x\":0,\"y\":-0.04,\"z\":-0.05},\"371\":{\"x\":-0.02,\"y\":-0.04,\"z\":0.03},\"372\":{\"x\":0.05,\"y\":0.04,\"z\":0.06},\"373\":{\"x\":0.03,\"y\":-0.01,\"z\":-0.01},\"374\":{\"x\":-0.06,\"y\":-0.05,\"z\":0},\"375\":{\"x\":-0.01,\"y\":0.02,\"z\":0.05},\"376\":{\"x\":0.05,\"y\":0,\"z\":0.01},\"377\":{\"x\":-0.04,\"y\":-0.06,\"z\":0.04},\"378\":{\"x\":-0.06,\"y\":0,\"z\":0.09},\"379\":{\"x\":0.03,\"y\":0.05,\"z\":-0.01},\"380\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.11},\"381\":{\"x\":-0.08,\"y\":-0.07,\"z\":-0.05},\"382\":{\"x\":-0.09,\"y\":0,\"z\":0.04},\"383\":{\"x\":-0.01,\"y\":0.03,\"z\":0.03},\"384\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.01},\"385\":{\"x\":-0.03,\"y\":-0.03,\"z\":0.05},\"386\":{\"x\":0,\"y\":0.04,\"z\":0.09},\"387\":{\"x\":0.03,\"y\":0.05,\"z\":0.01},\"388\":{\"x\":0,\"y\":0,\"z\":-0.05},\"389\":{\"x\":-0.05,\"y\":-0.05,\"z\":-0.03},\"390\":{\"x\":-0.04,\"y\":-0.04,\"z\":0.03},\"391\":{\"x\":0.04,\"y\":0.03,\"z\":0.06},\"392\":{\"x\":0.08,\"y\":0.05,\"z\":0},\"393\":{\"x\":0.02,\"y\":-0.01,\"z\":-0.07},\"394\":{\"x\":-0.03,\"y\":0,\"z\":-0.02},\"395\":{\"x\":-0.01,\"y\":0.02,\"z\":0.03},\"396\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"397\":{\"x\":0.01,\"y\":0.01,\"z\":-0.02},\"398\":{\"x\":0,\"y\":0.01,\"z\":0},\"399\":{\"x\":0.01,\"y\":0,\"z\":0},\"400\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"401\":{\"x\":0.01,\"y\":0,\"z\":0},\"402\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"403\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"404\":{\"x\":0,\"y\":0,\"z\":0},\"405\":{\"x\":0,\"y\":0,\"z\":0},\"406\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"407\":{\"x\":0,\"y\":0.01,\"z\":0},\"408\":{\"x\":0,\"y\":0.01,\"z\":0},\"409\":{\"x\":0,\"y\":0,\"z\":0},\"410\":{\"x\":0,\"y\":0,\"z\":0},\"411\":{\"x\":0.01,\"y\":0,\"z\":0},\"412\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"413\":{\"x\":0,\"y\":0.01,\"z\":0},\"414\":{\"x\":0,\"y\":0.01,\"z\":0},\"415\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"416\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"417\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"418\":{\"x\":0.01,\"y\":0,\"z\":0},\"419\":{\"x\":0,\"y\":0,\"z\":0},\"420\":{\"x\":0,\"y\":0,\"z\":-0.01},\"421\":{\"x\":-0.02,\"y\":0.01,\"z\":0.02},\"422\":{\"x\":0.01,\"y\":0.07,\"z\":0.03},\"423\":{\"x\":0.07,\"y\":0.08,\"z\":-0.02},\"424\":{\"x\":0.01,\"y\":-0.04,\"z\":-0.01},\"425\":{\"x\":-0.05,\"y\":-0.08,\"z\":0.06},\"426\":{\"x\":0,\"y\":0.03,\"z\":0.03},\"427\":{\"x\":0.03,\"y\":0.08,\"z\":-0.03},\"428\":{\"x\":0.04,\"y\":0.01,\"z\":-0.06},\"429\":{\"x\":0,\"y\":-0.04,\"z\":-0.03},\"430\":{\"x\":-0.05,\"y\":-0.04,\"z\":0.01},\"431\":{\"x\":0.01,\"y\":-0.01,\"z\":0.05},\"432\":{\"x\":0.1,\"y\":0.02,\"z\":0.04},\"433\":{\"x\":0.04,\"y\":-0.01,\"z\":-0.03},\"434\":{\"x\":-0.08,\"y\":-0.04,\"z\":-0.05},\"435\":{\"x\":-0.07,\"y\":0,\"z\":0.01},\"436\":{\"x\":0.02,\"y\":0.03,\"z\":0},\"437\":{\"x\":0.06,\"y\":0,\"z\":-0.06},\"438\":{\"x\":0.02,\"y\":-0.06,\"z\":-0.05},\"439\":{\"x\":-0.03,\"y\":-0.08,\"z\":0.03},\"440\":{\"x\":-0.04,\"y\":-0.01,\"z\":0.09},\"441\":{\"x\":0.02,\"y\":0.06,\"z\":0.03},\"442\":{\"x\":0.04,\"y\":0.05,\"z\":-0.05},\"443\":{\"x\":-0.04,\"y\":-0.02,\"z\":-0.05},\"444\":{\"x\":-0.08,\"y\":-0.01,\"z\":0.02},\"445\":{\"x\":-0.01,\"y\":0.06,\"z\":0.03},\"446\":{\"x\":0.08,\"y\":0.04,\"z\":-0.03},\"447\":{\"x\":0.03,\"y\":-0.04,\"z\":-0.02},\"448\":{\"x\":-0.06,\"y\":-0.06,\"z\":0.03},\"449\":{\"x\":-0.03,\"y\":0.01,\"z\":0.05},\"450\":{\"x\":0.05,\"y\":0.06,\"z\":0.01},\"451\":{\"x\":0.03,\"y\":0.02,\"z\":-0.03},\"452\":{\"x\":-0.02,\"y\":-0.06,\"z\":0.03},\"453\":{\"x\":-0.01,\"y\":-0.06,\"z\":0.05},\"454\":{\"x\":0.04,\"y\":0,\"z\":-0.02},\"455\":{\"x\":0.03,\"y\":0.01,\"z\":-0.03},\"456\":{\"x\":0,\"y\":0.01,\"z\":0},\"457\":{\"x\":0,\"y\":0.01,\"z\":0},\"458\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"459\":{\"x\":0,\"y\":0,\"z\":-0.01},\"460\":{\"x\":0,\"y\":0,\"z\":0},\"461\":{\"x\":0,\"y\":0,\"z\":0},\"462\":{\"x\":0,\"y\":0.01,\"z\":0},\"463\":{\"x\":0,\"y\":0,\"z\":0},\"464\":{\"x\":0,\"y\":0,\"z\":0},\"465\":{\"x\":0.01,\"y\":0,\"z\":0},\"466\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"467\":{\"x\":0,\"y\":0,\"z\":-0.01},\"468\":{\"x\":0,\"y\":0,\"z\":-0.01},\"469\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"470\":{\"x\":0,\"y\":0,\"z\":-0.01},\"471\":{\"x\":0,\"y\":0,\"z\":0},\"472\":{\"x\":0,\"y\":0,\"z\":0},\"473\":{\"x\":0,\"y\":0.01,\"z\":0},\"474\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"475\":{\"x\":0,\"y\":0,\"z\":-0.01},\"476\":{\"x\":0,\"y\":0,\"z\":0},\"477\":{\"x\":0,\"y\":0,\"z\":0},\"478\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"479\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"480\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"481\":{\"x\":0.03,\"y\":0,\"z\":-0.02},\"482\":{\"x\":0.04,\"y\":0,\"z\":0},\"483\":{\"x\":0.02,\"y\":0.03,\"z\":0.06},\"484\":{\"x\":0.02,\"y\":0.04,\"z\":0.06},\"485\":{\"x\":0,\"y\":-0.01,\"z\":0.01},\"486\":{\"x\":-0.02,\"y\":-0.07,\"z\":-0.01},\"487\":{\"x\":-0.05,\"y\":-0.07,\"z\":0},\"488\":{\"x\":-0.04,\"y\":0,\"z\":0.02},\"489\":{\"x\":0.01,\"y\":0.05,\"z\":0.01},\"490\":{\"x\":0.02,\"y\":-0.01,\"z\":-0.08},\"491\":{\"x\":-0.05,\"y\":-0.1,\"z\":-0.07},\"492\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.07},\"493\":{\"x\":0.01,\"y\":0.09,\"z\":0.11},\"494\":{\"x\":0.07,\"y\":0.04,\"z\":-0.03},\"495\":{\"x\":0.01,\"y\":-0.1,\"z\":-0.07},\"496\":{\"x\":-0.07,\"y\":-0.09,\"z\":0.04},\"497\":{\"x\":-0.01,\"y\":0.01,\"z\":0.07},\"498\":{\"x\":0.08,\"y\":0.06,\"z\":-0.02},\"499\":{\"x\":0.07,\"y\":0.01,\"z\":-0.09},\"500\":{\"x\":-0.02,\"y\":-0.06,\"z\":-0.07}}},\"sensor_name\":\"One Channel Vibration Plus\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:20:30:41\",\"received\":1708011488930,\"original\":{\"mac\":\"00:13:a2:00:10:20:30:41\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,3,3,255,126,0,81,0,0,10,11,147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,11,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\",\"time\":0}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"time_id\":\"22:34\",\"mac_address\":\"00:13:a2:00:10:20:30:40\",\"en_axis\":7,\"odr\":25600,\"device_temp\":23.64,\"data\":{\"1\":{\"x\":0,\"y\":0.01,\"z\":0.02},\"2\":{\"x\":0.01,\"y\":0.05,\"z\":0.08},\"3\":{\"x\":0.04,\"y\":0.06,\"z\":0.08},\"4\":{\"x\":-0.01,\"y\":-0.02,\"z\":-0.01},\"5\":{\"x\":-0.07,\"y\":-0.04,\"z\":0},\"6\":{\"x\":0,\"y\":0.04,\"z\":0.04},\"7\":{\"x\":0.06,\"y\":0.02,\"z\":-0.04},\"8\":{\"x\":-0.02,\"y\":-0.08,\"z\":-0.05},\"9\":{\"x\":-0.02,\"y\":-0.03,\"z\":0.06},\"10\":{\"x\":0.05,\"y\":0.08,\"z\":0.02},\"11\":{\"x\":0.03,\"y\":0.02,\"z\":-0.1},\"12\":{\"x\":-0.07,\"y\":-0.08,\"z\":-0.07},\"13\":{\"x\":-0.07,\"y\":0,\"z\":0.04},\"14\":{\"x\":0.01,\"y\":0.1,\"z\":0.01},\"15\":{\"x\":0.01,\"y\":0.02,\"z\":-0.04},\"16\":{\"x\":-0.07,\"y\":-0.08,\"z\":0.06},\"17\":{\"x\":-0.01,\"y\":0,\"z\":0.11},\"18\":{\"x\":0.06,\"y\":0.03,\"z\":-0.03},\"19\":{\"x\":-0.02,\"y\":-0.06,\"z\":-0.08},\"20\":{\"x\":-0.04,\"y\":-0.02,\"z\":0.01},\"21\":{\"x\":0.03,\"y\":0.05,\"z\":-0.01},\"22\":{\"x\":0.03,\"y\":0,\"z\":-0.06},\"23\":{\"x\":-0.03,\"y\":-0.04,\"z\":0.02},\"24\":{\"x\":0,\"y\":0.02,\"z\":0.06},\"25\":{\"x\":0.07,\"y\":0.02,\"z\":-0.02},\"26\":{\"x\":0.01,\"y\":-0.09,\"z\":-0.08},\"27\":{\"x\":-0.07,\"y\":-0.09,\"z\":-0.02},\"28\":{\"x\":-0.01,\"y\":0.04,\"z\":0.03},\"29\":{\"x\":0.08,\"y\":0.07,\"z\":-0.02},\"30\":{\"x\":0.02,\"y\":-0.03,\"z\":0.01},\"31\":{\"x\":-0.04,\"y\":-0.02,\"z\":0.08},\"32\":{\"x\":0.03,\"y\":0.07,\"z\":0.02},\"33\":{\"x\":0.04,\"y\":0.06,\"z\":-0.03},\"34\":{\"x\":-0.03,\"y\":0,\"z\":0.01},\"35\":{\"x\":-0.03,\"y\":-0.01,\"z\":0.02},\"36\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"37\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"38\":{\"x\":0,\"y\":0,\"z\":0},\"39\":{\"x\":0,\"y\":0,\"z\":0},\"40\":{\"x\":0,\"y\":0.01,\"z\":0},\"41\":{\"x\":0,\"y\":0.02,\"z\":0},\"42\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"43\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"44\":{\"x\":0,\"y\":0.01,\"z\":-0.02},\"45\":{\"x\":0,\"y\":0,\"z\":-0.01},\"46\":{\"x\":0.01,\"y\":0,\"z\":0},\"47\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"48\":{\"x\":0,\"y\":0,\"z\":-0.01},\"49\":{\"x\":0,\"y\":0,\"z\":-0.01},\"50\":{\"x\":0,\"y\":0,\"z\":0},\"51\":{\"x\":0.01,\"y\":0,\"z\":0},\"52\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"53\":{\"x\":0,\"y\":0.01,\"z\":0},\"54\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"55\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"56\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"57\":{\"x\":0,\"y\":0.01,\"z\":0},\"58\":{\"x\":0,\"y\":0.01,\"z\":0},\"59\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"60\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"61\":{\"x\":0,\"y\":0.02,\"z\":0.01},\"62\":{\"x\":-0.01,\"y\":0,\"z\":-0.03},\"63\":{\"x\":-0.06,\"y\":-0.05,\"z\":-0.06},\"64\":{\"x\":-0.12,\"y\":-0.02,\"z\":0.02},\"65\":{\"x\":-0.04,\"y\":0.05,\"z\":0.04},\"66\":{\"x\":0.06,\"y\":0,\"z\":-0.05},\"67\":{\"x\":0.03,\"y\":-0.07,\"z\":-0.09},\"68\":{\"x\":-0.01,\"y\":-0.04,\"z\":0},\"69\":{\"x\":0.02,\"y\":0.02,\"z\":0.02},\"70\":{\"x\":0.03,\"y\":0.01,\"z\":-0.06},\"71\":{\"x\":-0.03,\"y\":-0.07,\"z\":-0.08},\"72\":{\"x\":-0.05,\"y\":-0.06,\"z\":-0.02},\"73\":{\"x\":0.04,\"y\":0.04,\"z\":0.01},\"74\":{\"x\":0.08,\"y\":0.06,\"z\":-0.03},\"75\":{\"x\":-0.02,\"y\":0,\"z\":-0.02},\"76\":{\"x\":-0.09,\"y\":-0.02,\"z\":0.05},\"77\":{\"x\":-0.01,\"y\":0.02,\"z\":0.05},\"78\":{\"x\":0.1,\"y\":0.05,\"z\":-0.02},\"79\":{\"x\":0.08,\"y\":0,\"z\":-0.05},\"80\":{\"x\":-0.04,\"y\":-0.06,\"z\":-0.01},\"81\":{\"x\":-0.05,\"y\":-0.01,\"z\":0.04},\"82\":{\"x\":0.03,\"y\":0.08,\"z\":0.03},\"83\":{\"x\":0.05,\"y\":0.07,\"z\":-0.02},\"84\":{\"x\":-0.02,\"y\":-0.03,\"z\":-0.09},\"85\":{\"x\":-0.09,\"y\":-0.05,\"z\":-0.07},\"86\":{\"x\":-0.05,\"y\":0.04,\"z\":0.01},\"87\":{\"x\":0.05,\"y\":0.05,\"z\":-0.03},\"88\":{\"x\":0.03,\"y\":-0.05,\"z\":-0.09},\"89\":{\"x\":-0.07,\"y\":-0.06,\"z\":0},\"90\":{\"x\":-0.04,\"y\":0.01,\"z\":0.06},\"91\":{\"x\":0.07,\"y\":0.02,\"z\":-0.01},\"92\":{\"x\":0.04,\"y\":-0.05,\"z\":-0.06},\"93\":{\"x\":-0.01,\"y\":-0.06,\"z\":-0.05},\"94\":{\"x\":0.04,\"y\":0,\"z\":-0.02},\"95\":{\"x\":0.04,\"y\":0.03,\"z\":0},\"96\":{\"x\":0,\"y\":0.01,\"z\":0},\"97\":{\"x\":-0.01,\"y\":0,\"z\":0},\"98\":{\"x\":0,\"y\":0,\"z\":0},\"99\":{\"x\":0,\"y\":0,\"z\":0},\"100\":{\"x\":0,\"y\":0,\"z\":0},\"101\":{\"x\":0.01,\"y\":0,\"z\":0},\"102\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"103\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"104\":{\"x\":0,\"y\":0,\"z\":0.01},\"105\":{\"x\":0,\"y\":0,\"z\":0},\"106\":{\"x\":0,\"y\":0,\"z\":0},\"107\":{\"x\":0,\"y\":0,\"z\":0},\"108\":{\"x\":0,\"y\":0,\"z\":0},\"109\":{\"x\":0,\"y\":0,\"z\":-0.01},\"110\":{\"x\":0,\"y\":0,\"z\":0},\"111\":{\"x\":0.01,\"y\":0,\"z\":0},\"112\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"113\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"114\":{\"x\":0,\"y\":0,\"z\":0.01},\"115\":{\"x\":0,\"y\":0,\"z\":0},\"116\":{\"x\":0,\"y\":0.01,\"z\":0},\"117\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"118\":{\"x\":0,\"y\":0,\"z\":0},\"119\":{\"x\":0,\"y\":0,\"z\":-0.01},\"120\":{\"x\":0,\"y\":0,\"z\":-0.01},\"121\":{\"x\":-0.01,\"y\":0,\"z\":0},\"122\":{\"x\":-0.02,\"y\":0.02,\"z\":0.06},\"123\":{\"x\":0.02,\"y\":0.03,\"z\":0.1},\"124\":{\"x\":0.01,\"y\":-0.02,\"z\":0.03},\"125\":{\"x\":-0.05,\"y\":-0.07,\"z\":0.01},\"126\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.08},\"127\":{\"x\":0.03,\"y\":0.04,\"z\":0.04},\"128\":{\"x\":0.03,\"y\":-0.01,\"z\":-0.07},\"129\":{\"x\":-0.05,\"y\":-0.06,\"z\":-0.03},\"130\":{\"x\":-0.04,\"y\":0.04,\"z\":0.05},\"131\":{\"x\":0.04,\"y\":0.08,\"z\":-0.03},\"132\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.06},\"133\":{\"x\":-0.01,\"y\":-0.02,\"z\":0.07},\"134\":{\"x\":0.03,\"y\":0.07,\"z\":0.1},\"135\":{\"x\":0.05,\"y\":0.01,\"z\":-0.02},\"136\":{\"x\":-0.03,\"y\":-0.07,\"z\":-0.06},\"137\":{\"x\":0.01,\"y\":0.02,\"z\":-0.04},\"138\":{\"x\":0.07,\"y\":0.07,\"z\":-0.07},\"139\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.05},\"140\":{\"x\":-0.06,\"y\":-0.06,\"z\":0.05},\"141\":{\"x\":-0.02,\"y\":0.01,\"z\":0.08},\"142\":{\"x\":0.05,\"y\":0.05,\"z\":0},\"143\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.08},\"144\":{\"x\":-0.06,\"y\":-0.07,\"z\":-0.03},\"145\":{\"x\":-0.05,\"y\":-0.02,\"z\":0.08},\"146\":{\"x\":0.04,\"y\":0.07,\"z\":0.08},\"147\":{\"x\":0.05,\"y\":0.08,\"z\":-0.03},\"148\":{\"x\":-0.04,\"y\":-0.01,\"z\":-0.07},\"149\":{\"x\":-0.09,\"y\":-0.06,\"z\":0},\"150\":{\"x\":-0.02,\"y\":-0.01,\"z\":0.04},\"151\":{\"x\":0.07,\"y\":0.04,\"z\":-0.01},\"152\":{\"x\":0.06,\"y\":0,\"z\":-0.07},\"153\":{\"x\":-0.02,\"y\":-0.01,\"z\":-0.06},\"154\":{\"x\":-0.02,\"y\":0.04,\"z\":0.01},\"155\":{\"x\":0.01,\"y\":0.02,\"z\":0.02},\"156\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"157\":{\"x\":0.01,\"y\":-0.01,\"z\":-0.01},\"158\":{\"x\":0,\"y\":0.01,\"z\":0},\"159\":{\"x\":0,\"y\":0.01,\"z\":0},\"160\":{\"x\":0,\"y\":0,\"z\":0},\"161\":{\"x\":0,\"y\":-0.01,\"z\":-0.01},\"162\":{\"x\":0,\"y\":-0.01,\"z\":0},\"163\":{\"x\":0,\"y\":0,\"z\":0},\"164\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"165\":{\"x\":0,\"y\":0.01,\"z\":0},\"166\":{\"x\":0,\"y\":0,\"z\":0},\"167\":{\"x\":0,\"y\":0,\"z\":0},\"168\":{\"x\":0,\"y\":0.01,\"z\":0},\"169\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"170\":{\"x\":0,\"y\":0.01,\"z\":0},\"171\":{\"x\":0,\"y\":0.01,\"z\":0},\"172\":{\"x\":0,\"y\":0.01,\"z\":0},\"173\":{\"x\":0,\"y\":0,\"z\":0},\"174\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"175\":{\"x\":0,\"y\":0,\"z\":0},\"176\":{\"x\":0,\"y\":0,\"z\":0},\"177\":{\"x\":0,\"y\":0,\"z\":0},\"178\":{\"x\":0,\"y\":-0.01,\"z\":0},\"179\":{\"x\":0,\"y\":-0.01,\"z\":0},\"180\":{\"x\":0.01,\"y\":-0.01,\"z\":0},\"181\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"182\":{\"x\":-0.01,\"y\":0.06,\"z\":0.03},\"183\":{\"x\":0.02,\"y\":0.07,\"z\":0.03},\"184\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"185\":{\"x\":-0.05,\"y\":-0.06,\"z\":0.02},\"186\":{\"x\":-0.09,\"y\":-0.03,\"z\":0.07},\"187\":{\"x\":-0.03,\"y\":0.05,\"z\":0.05},\"188\":{\"x\":0.05,\"y\":0.07,\"z\":-0.03},\"189\":{\"x\":0.04,\"y\":0,\"z\":-0.09},\"190\":{\"x\":-0.04,\"y\":-0.07,\"z\":-0.04},\"191\":{\"x\":-0.07,\"y\":-0.08,\"z\":0.06},\"192\":{\"x\":0.02,\"y\":0.01,\"z\":0.06},\"193\":{\"x\":0.08,\"y\":0.06,\"z\":-0.03},\"194\":{\"x\":0.02,\"y\":-0.03,\"z\":-0.06},\"195\":{\"x\":-0.06,\"y\":-0.08,\"z\":0},\"196\":{\"x\":-0.05,\"y\":0.01,\"z\":0.08},\"197\":{\"x\":0.03,\"y\":0.06,\"z\":0.05},\"198\":{\"x\":0.04,\"y\":0.02,\"z\":-0.06},\"199\":{\"x\":-0.04,\"y\":-0.03,\"z\":-0.05},\"200\":{\"x\":-0.06,\"y\":0.01,\"z\":0.08},\"201\":{\"x\":0.01,\"y\":0.09,\"z\":0.11},\"202\":{\"x\":0.06,\"y\":0.05,\"z\":0},\"203\":{\"x\":-0.01,\"y\":-0.06,\"z\":-0.04},\"204\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.02},\"205\":{\"x\":-0.01,\"y\":0.05,\"z\":0.01},\"206\":{\"x\":-0.01,\"y\":0,\"z\":-0.04},\"207\":{\"x\":-0.07,\"y\":-0.04,\"z\":0.05},\"208\":{\"x\":-0.03,\"y\":0.02,\"z\":0.09},\"209\":{\"x\":0.03,\"y\":0.02,\"z\":-0.01},\"210\":{\"x\":0.01,\"y\":-0.07,\"z\":-0.06},\"211\":{\"x\":-0.02,\"y\":-0.09,\"z\":0.03},\"212\":{\"x\":0.02,\"y\":0.03,\"z\":0.08},\"213\":{\"x\":0.03,\"y\":0.05,\"z\":0.02},\"214\":{\"x\":-0.03,\"y\":-0.03,\"z\":-0.01},\"215\":{\"x\":-0.03,\"y\":-0.03,\"z\":0},\"216\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"217\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"218\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"219\":{\"x\":0.01,\"y\":0,\"z\":0},\"220\":{\"x\":0.01,\"y\":0.01,\"z\":0.01},\"221\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"222\":{\"x\":0,\"y\":0,\"z\":0},\"223\":{\"x\":0,\"y\":0,\"z\":0},\"224\":{\"x\":0.01,\"y\":0,\"z\":0},\"225\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"226\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"227\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"228\":{\"x\":0.01,\"y\":0,\"z\":0},\"229\":{\"x\":0.01,\"y\":0,\"z\":0},\"230\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"231\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"232\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"233\":{\"x\":0.01,\"y\":0,\"z\":0},\"234\":{\"x\":0.01,\"y\":0,\"z\":0},\"235\":{\"x\":0.01,\"y\":0,\"z\":0},\"236\":{\"x\":0,\"y\":-0.01,\"z\":0},\"237\":{\"x\":0,\"y\":-0.01,\"z\":0},\"238\":{\"x\":0,\"y\":-0.01,\"z\":0},\"239\":{\"x\":0.01,\"y\":0,\"z\":0},\"240\":{\"x\":0.01,\"y\":0,\"z\":0.01},\"241\":{\"x\":-0.01,\"y\":-0.03,\"z\":-0.01},\"242\":{\"x\":-0.05,\"y\":-0.11,\"z\":-0.02},\"243\":{\"x\":-0.04,\"y\":-0.09,\"z\":0},\"244\":{\"x\":0.02,\"y\":0.05,\"z\":0.03},\"245\":{\"x\":0.05,\"y\":0.04,\"z\":-0.03},\"246\":{\"x\":-0.03,\"y\":-0.04,\"z\":-0.07},\"247\":{\"x\":-0.09,\"y\":-0.02,\"z\":-0.02},\"248\":{\"x\":-0.02,\"y\":0.03,\"z\":0.04},\"249\":{\"x\":0.07,\"y\":0.02,\"z\":0.02},\"250\":{\"x\":0.04,\"y\":-0.04,\"z\":-0.04},\"251\":{\"x\":-0.05,\"y\":-0.05,\"z\":0.01},\"252\":{\"x\":-0.06,\"y\":0.06,\"z\":0.09},\"253\":{\"x\":0.02,\"y\":0.13,\"z\":0.06},\"254\":{\"x\":0.05,\"y\":0.06,\"z\":-0.02},\"255\":{\"x\":-0.02,\"y\":-0.02,\"z\":-0.04},\"256\":{\"x\":-0.07,\"y\":-0.06,\"z\":0.01},\"257\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.06},\"258\":{\"x\":0.05,\"y\":0.05,\"z\":0.04},\"259\":{\"x\":0.12,\"y\":0.07,\"z\":-0.01},\"260\":{\"x\":0.07,\"y\":-0.01,\"z\":-0.03},\"261\":{\"x\":-0.04,\"y\":-0.03,\"z\":0.04},\"262\":{\"x\":-0.01,\"y\":0.05,\"z\":0.03},\"263\":{\"x\":0.02,\"y\":0.01,\"z\":-0.07},\"264\":{\"x\":-0.07,\"y\":-0.08,\"z\":-0.03},\"265\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.05},\"266\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.02},\"267\":{\"x\":-0.03,\"y\":-0.1,\"z\":-0.04},\"268\":{\"x\":-0.06,\"y\":-0.05,\"z\":0.03},\"269\":{\"x\":0.03,\"y\":0.06,\"z\":0.02},\"270\":{\"x\":0.09,\"y\":0.05,\"z\":-0.03},\"271\":{\"x\":0,\"y\":-0.04,\"z\":-0.04},\"272\":{\"x\":-0.08,\"y\":-0.07,\"z\":0.02},\"273\":{\"x\":-0.03,\"y\":-0.01,\"z\":0.04},\"274\":{\"x\":0.03,\"y\":0.01,\"z\":-0.02},\"275\":{\"x\":0.01,\"y\":-0.01,\"z\":-0.03},\"276\":{\"x\":0,\"y\":0,\"z\":0},\"277\":{\"x\":0,\"y\":0,\"z\":0},\"278\":{\"x\":0.01,\"y\":0,\"z\":0},\"279\":{\"x\":0.01,\"y\":0,\"z\":0},\"280\":{\"x\":0,\"y\":0,\"z\":0},\"281\":{\"x\":0,\"y\":0,\"z\":0},\"282\":{\"x\":0,\"y\":0,\"z\":0},\"283\":{\"x\":0,\"y\":0,\"z\":0},\"284\":{\"x\":0,\"y\":0.01,\"z\":0},\"285\":{\"x\":0,\"y\":0.01,\"z\":0},\"286\":{\"x\":0,\"y\":0,\"z\":0},\"287\":{\"x\":0,\"y\":0,\"z\":0},\"288\":{\"x\":0,\"y\":0,\"z\":0},\"289\":{\"x\":0,\"y\":0.01,\"z\":0},\"290\":{\"x\":0,\"y\":0.01,\"z\":0},\"291\":{\"x\":0,\"y\":0,\"z\":0},\"292\":{\"x\":0,\"y\":0,\"z\":-0.01},\"293\":{\"x\":0,\"y\":0.01,\"z\":0},\"294\":{\"x\":0,\"y\":0.01,\"z\":0},\"295\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"296\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"297\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"298\":{\"x\":0.01,\"y\":0.01,\"z\":0.01},\"299\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"300\":{\"x\":0.01,\"y\":0,\"z\":0},\"301\":{\"x\":0,\"y\":-0.01,\"z\":-0.03},\"302\":{\"x\":-0.01,\"y\":-0.04,\"z\":-0.04},\"303\":{\"x\":0.02,\"y\":-0.03,\"z\":0},\"304\":{\"x\":0.04,\"y\":-0.01,\"z\":-0.02},\"305\":{\"x\":-0.03,\"y\":-0.01,\"z\":-0.04},\"306\":{\"x\":-0.09,\"y\":-0.01,\"z\":0},\"307\":{\"x\":0,\"y\":0.05,\"z\":0.04},\"308\":{\"x\":0.1,\"y\":0.06,\"z\":-0.01},\"309\":{\"x\":0.05,\"y\":-0.02,\"z\":-0.09},\"310\":{\"x\":-0.05,\"y\":-0.07,\"z\":-0.03},\"311\":{\"x\":0,\"y\":-0.01,\"z\":0.07},\"312\":{\"x\":0.07,\"y\":0.02,\"z\":0},\"313\":{\"x\":-0.02,\"y\":-0.02,\"z\":-0.05},\"314\":{\"x\":-0.08,\"y\":-0.01,\"z\":0.06},\"315\":{\"x\":0.01,\"y\":0.03,\"z\":0.07},\"316\":{\"x\":0.01,\"y\":-0.03,\"z\":-0.02},\"317\":{\"x\":-0.09,\"y\":-0.09,\"z\":-0.01},\"318\":{\"x\":-0.03,\"y\":0,\"z\":0},\"319\":{\"x\":0.08,\"y\":0.03,\"z\":-0.05},\"320\":{\"x\":0.02,\"y\":-0.04,\"z\":-0.04},\"321\":{\"x\":-0.07,\"y\":-0.05,\"z\":0.01},\"322\":{\"x\":-0.05,\"y\":0.02,\"z\":0.05},\"323\":{\"x\":0.05,\"y\":0.07,\"z\":0.05},\"324\":{\"x\":0.07,\"y\":0.01,\"z\":-0.02},\"325\":{\"x\":-0.03,\"y\":-0.08,\"z\":-0.02},\"326\":{\"x\":-0.03,\"y\":-0.04,\"z\":0.04},\"327\":{\"x\":0.08,\"y\":0.05,\"z\":-0.03},\"328\":{\"x\":0.05,\"y\":0.03,\"z\":-0.09},\"329\":{\"x\":-0.04,\"y\":-0.01,\"z\":0.01},\"330\":{\"x\":0,\"y\":0.02,\"z\":0.09},\"331\":{\"x\":0.09,\"y\":0.01,\"z\":-0.01},\"332\":{\"x\":0.07,\"y\":-0.04,\"z\":-0.08},\"333\":{\"x\":0,\"y\":-0.03,\"z\":-0.01},\"334\":{\"x\":0.01,\"y\":0.02,\"z\":0.02},\"335\":{\"x\":0.02,\"y\":0.02,\"z\":0},\"336\":{\"x\":0,\"y\":0,\"z\":-0.01},\"337\":{\"x\":0,\"y\":0,\"z\":0},\"338\":{\"x\":0,\"y\":0.01,\"z\":0},\"339\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"340\":{\"x\":0,\"y\":0,\"z\":-0.01},\"341\":{\"x\":0,\"y\":0,\"z\":0},\"342\":{\"x\":0,\"y\":0,\"z\":0},\"343\":{\"x\":0,\"y\":0,\"z\":-0.01},\"344\":{\"x\":0,\"y\":0,\"z\":-0.01},\"345\":{\"x\":-0.01,\"y\":0.01,\"z\":0},\"346\":{\"x\":0,\"y\":0.01,\"z\":0.01},\"347\":{\"x\":0.01,\"y\":0,\"z\":0},\"348\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"349\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"350\":{\"x\":0.01,\"y\":0,\"z\":0},\"351\":{\"x\":0,\"y\":-0.01,\"z\":0},\"352\":{\"x\":0,\"y\":0,\"z\":0},\"353\":{\"x\":0,\"y\":0,\"z\":0.01},\"354\":{\"x\":0,\"y\":0,\"z\":0},\"355\":{\"x\":0,\"y\":0,\"z\":-0.01},\"356\":{\"x\":0,\"y\":0,\"z\":-0.01},\"357\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"358\":{\"x\":0,\"y\":0.01,\"z\":0},\"359\":{\"x\":0,\"y\":0.01,\"z\":0},\"360\":{\"x\":0,\"y\":0,\"z\":0},\"361\":{\"x\":0.01,\"y\":0.03,\"z\":0.04},\"362\":{\"x\":0.03,\"y\":0.08,\"z\":0.07},\"363\":{\"x\":0,\"y\":0.03,\"z\":-0.01},\"364\":{\"x\":-0.08,\"y\":-0.04,\"z\":-0.03},\"365\":{\"x\":-0.05,\"y\":0,\"z\":0.06},\"366\":{\"x\":0.02,\"y\":0.03,\"z\":0.03},\"367\":{\"x\":-0.04,\"y\":-0.04,\"z\":-0.01},\"368\":{\"x\":-0.06,\"y\":-0.01,\"z\":0.05},\"369\":{\"x\":0.02,\"y\":0.04,\"z\":0.01},\"370\":{\"x\":0,\"y\":-0.04,\"z\":-0.05},\"371\":{\"x\":-0.02,\"y\":-0.04,\"z\":0.03},\"372\":{\"x\":0.05,\"y\":0.04,\"z\":0.06},\"373\":{\"x\":0.03,\"y\":-0.01,\"z\":-0.01},\"374\":{\"x\":-0.06,\"y\":-0.05,\"z\":0},\"375\":{\"x\":-0.01,\"y\":0.02,\"z\":0.05},\"376\":{\"x\":0.05,\"y\":0,\"z\":0.01},\"377\":{\"x\":-0.04,\"y\":-0.06,\"z\":0.04},\"378\":{\"x\":-0.06,\"y\":0,\"z\":0.09},\"379\":{\"x\":0.03,\"y\":0.05,\"z\":-0.01},\"380\":{\"x\":0.03,\"y\":-0.02,\"z\":-0.11},\"381\":{\"x\":-0.08,\"y\":-0.07,\"z\":-0.05},\"382\":{\"x\":-0.09,\"y\":0,\"z\":0.04},\"383\":{\"x\":-0.01,\"y\":0.03,\"z\":0.03},\"384\":{\"x\":0.01,\"y\":-0.02,\"z\":-0.01},\"385\":{\"x\":-0.03,\"y\":-0.03,\"z\":0.05},\"386\":{\"x\":0,\"y\":0.04,\"z\":0.09},\"387\":{\"x\":0.03,\"y\":0.05,\"z\":0.01},\"388\":{\"x\":0,\"y\":0,\"z\":-0.05},\"389\":{\"x\":-0.05,\"y\":-0.05,\"z\":-0.03},\"390\":{\"x\":-0.04,\"y\":-0.04,\"z\":0.03},\"391\":{\"x\":0.04,\"y\":0.03,\"z\":0.06},\"392\":{\"x\":0.08,\"y\":0.05,\"z\":0},\"393\":{\"x\":0.02,\"y\":-0.01,\"z\":-0.07},\"394\":{\"x\":-0.03,\"y\":0,\"z\":-0.02},\"395\":{\"x\":-0.01,\"y\":0.02,\"z\":0.03},\"396\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"397\":{\"x\":0.01,\"y\":0.01,\"z\":-0.02},\"398\":{\"x\":0,\"y\":0.01,\"z\":0},\"399\":{\"x\":0.01,\"y\":0,\"z\":0},\"400\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"401\":{\"x\":0.01,\"y\":0,\"z\":0},\"402\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"403\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"404\":{\"x\":0,\"y\":0,\"z\":0},\"405\":{\"x\":0,\"y\":0,\"z\":0},\"406\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"407\":{\"x\":0,\"y\":0.01,\"z\":0},\"408\":{\"x\":0,\"y\":0.01,\"z\":0},\"409\":{\"x\":0,\"y\":0,\"z\":0},\"410\":{\"x\":0,\"y\":0,\"z\":0},\"411\":{\"x\":0.01,\"y\":0,\"z\":0},\"412\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"413\":{\"x\":0,\"y\":0.01,\"z\":0},\"414\":{\"x\":0,\"y\":0.01,\"z\":0},\"415\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"416\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"417\":{\"x\":0.01,\"y\":0.01,\"z\":0},\"418\":{\"x\":0.01,\"y\":0,\"z\":0},\"419\":{\"x\":0,\"y\":0,\"z\":0},\"420\":{\"x\":0,\"y\":0,\"z\":-0.01},\"421\":{\"x\":-0.02,\"y\":0.01,\"z\":0.02},\"422\":{\"x\":0.01,\"y\":0.07,\"z\":0.03},\"423\":{\"x\":0.07,\"y\":0.08,\"z\":-0.02},\"424\":{\"x\":0.01,\"y\":-0.04,\"z\":-0.01},\"425\":{\"x\":-0.05,\"y\":-0.08,\"z\":0.06},\"426\":{\"x\":0,\"y\":0.03,\"z\":0.03},\"427\":{\"x\":0.03,\"y\":0.08,\"z\":-0.03},\"428\":{\"x\":0.04,\"y\":0.01,\"z\":-0.06},\"429\":{\"x\":0,\"y\":-0.04,\"z\":-0.03},\"430\":{\"x\":-0.05,\"y\":-0.04,\"z\":0.01},\"431\":{\"x\":0.01,\"y\":-0.01,\"z\":0.05},\"432\":{\"x\":0.1,\"y\":0.02,\"z\":0.04},\"433\":{\"x\":0.04,\"y\":-0.01,\"z\":-0.03},\"434\":{\"x\":-0.08,\"y\":-0.04,\"z\":-0.05},\"435\":{\"x\":-0.07,\"y\":0,\"z\":0.01},\"436\":{\"x\":0.02,\"y\":0.03,\"z\":0},\"437\":{\"x\":0.06,\"y\":0,\"z\":-0.06},\"438\":{\"x\":0.02,\"y\":-0.06,\"z\":-0.05},\"439\":{\"x\":-0.03,\"y\":-0.08,\"z\":0.03},\"440\":{\"x\":-0.04,\"y\":-0.01,\"z\":0.09},\"441\":{\"x\":0.02,\"y\":0.06,\"z\":0.03},\"442\":{\"x\":0.04,\"y\":0.05,\"z\":-0.05},\"443\":{\"x\":-0.04,\"y\":-0.02,\"z\":-0.05},\"444\":{\"x\":-0.08,\"y\":-0.01,\"z\":0.02},\"445\":{\"x\":-0.01,\"y\":0.06,\"z\":0.03},\"446\":{\"x\":0.08,\"y\":0.04,\"z\":-0.03},\"447\":{\"x\":0.03,\"y\":-0.04,\"z\":-0.02},\"448\":{\"x\":-0.06,\"y\":-0.06,\"z\":0.03},\"449\":{\"x\":-0.03,\"y\":0.01,\"z\":0.05},\"450\":{\"x\":0.05,\"y\":0.06,\"z\":0.01},\"451\":{\"x\":0.03,\"y\":0.02,\"z\":-0.03},\"452\":{\"x\":-0.02,\"y\":-0.06,\"z\":0.03},\"453\":{\"x\":-0.01,\"y\":-0.06,\"z\":0.05},\"454\":{\"x\":0.04,\"y\":0,\"z\":-0.02},\"455\":{\"x\":0.03,\"y\":0.01,\"z\":-0.03},\"456\":{\"x\":0,\"y\":0.01,\"z\":0},\"457\":{\"x\":0,\"y\":0.01,\"z\":0},\"458\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"459\":{\"x\":0,\"y\":0,\"z\":-0.01},\"460\":{\"x\":0,\"y\":0,\"z\":0},\"461\":{\"x\":0,\"y\":0,\"z\":0},\"462\":{\"x\":0,\"y\":0.01,\"z\":0},\"463\":{\"x\":0,\"y\":0,\"z\":0},\"464\":{\"x\":0,\"y\":0,\"z\":0},\"465\":{\"x\":0.01,\"y\":0,\"z\":0},\"466\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"467\":{\"x\":0,\"y\":0,\"z\":-0.01},\"468\":{\"x\":0,\"y\":0,\"z\":-0.01},\"469\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"470\":{\"x\":0,\"y\":0,\"z\":-0.01},\"471\":{\"x\":0,\"y\":0,\"z\":0},\"472\":{\"x\":0,\"y\":0,\"z\":0},\"473\":{\"x\":0,\"y\":0.01,\"z\":0},\"474\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"475\":{\"x\":0,\"y\":0,\"z\":-0.01},\"476\":{\"x\":0,\"y\":0,\"z\":0},\"477\":{\"x\":0,\"y\":0,\"z\":0},\"478\":{\"x\":0,\"y\":0.01,\"z\":-0.01},\"479\":{\"x\":0.01,\"y\":0.01,\"z\":-0.01},\"480\":{\"x\":0.01,\"y\":0,\"z\":-0.01},\"481\":{\"x\":0.03,\"y\":0,\"z\":-0.02},\"482\":{\"x\":0.04,\"y\":0,\"z\":0},\"483\":{\"x\":0.02,\"y\":0.03,\"z\":0.06},\"484\":{\"x\":0.02,\"y\":0.04,\"z\":0.06},\"485\":{\"x\":0,\"y\":-0.01,\"z\":0.01},\"486\":{\"x\":-0.02,\"y\":-0.07,\"z\":-0.01},\"487\":{\"x\":-0.05,\"y\":-0.07,\"z\":0},\"488\":{\"x\":-0.04,\"y\":0,\"z\":0.02},\"489\":{\"x\":0.01,\"y\":0.05,\"z\":0.01},\"490\":{\"x\":0.02,\"y\":-0.01,\"z\":-0.08},\"491\":{\"x\":-0.05,\"y\":-0.1,\"z\":-0.07},\"492\":{\"x\":-0.07,\"y\":-0.03,\"z\":0.07},\"493\":{\"x\":0.01,\"y\":0.09,\"z\":0.11},\"494\":{\"x\":0.07,\"y\":0.04,\"z\":-0.03},\"495\":{\"x\":0.01,\"y\":-0.1,\"z\":-0.07},\"496\":{\"x\":-0.07,\"y\":-0.09,\"z\":0.04},\"497\":{\"x\":-0.01,\"y\":0.01,\"z\":0.07},\"498\":{\"x\":0.08,\"y\":0.06,\"z\":-0.02},\"499\":{\"x\":0.07,\"y\":0.01,\"z\":-0.09},\"500\":{\"x\":-0.02,\"y\":-0.06,\"z\":-0.07}}}","payloadType":"json","x":190,"y":2200,"wires":[["726116bda2dfcbb0"]],"icon":"node-red/serial.svg"},{"id":"726116bda2dfcbb0","type":"debug","z":"0f850dc8977c3d53","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":2200,"wires":[]},{"id":"446181996904ec15","type":"comment","z":"0f850dc8977c3d53","name":"Mode: Raw","info":"","x":130,"y":2160,"wires":[]}]
