node-red/2 - 2ch Push Notification Voltage Detection/2 - 2ch Push Notification Voltage Detection.json
[{"id":"c03fc45ed3a3347f","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":32,\"sensor_type\":2,\"sensor_data\":{\"input_1\":1,\"input_2\":0},\"sensor_name\":\"2 Channel Push Notification\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:00:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:00:10:10:10\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":210,"y":240,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"28ee8d9b42d5092b","type":"debug","z":"8ad439dbae51dbf4","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"a9b0344e0124f304","type":"inject","z":"8ad439dbae51dbf4","name":"2 - 2ch Push Notification/Voltage Detection","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":0,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":2,\"sensor_data\":{\"input_1\":1,\"input_2\":0},\"sensor_name\":\"2 Channel Push Notification\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d8\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d8\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"input_1\":1,\"input_2\":0}","payloadType":"json","x":280,"y":760,"wires":[["33cbf9db39529d20"]],"icon":"node-red/serial.svg"},{"id":"33cbf9db39529d20","type":"debug","z":"8ad439dbae51dbf4","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":840,"wires":[]},{"id":"6b6405a814af6a6f","type":"comment","z":"8ad439dbae51dbf4","name":"DATA ","info":"","x":170,"y":200,"wires":[]},{"id":"651a95c1e455fc51","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":210,"y":160,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"fa08f88bf20c73fd","type":"comment","z":"8ad439dbae51dbf4","name":"RUN","info":"","x":170,"y":120,"wires":[]},{"id":"a99b0f439adc129b","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":210,"y":320,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"80935ec179d4fd6f","type":"comment","z":"8ad439dbae51dbf4","name":"PGM","info":"","x":170,"y":280,"wires":[]},{"id":"bdc3a5a7e4f08e11","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":210,"y":400,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"5b2da844a567b439","type":"comment","z":"8ad439dbae51dbf4","name":"ACK","info":"","x":170,"y":360,"wires":[]},{"id":"7feffda6d81724ba","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":210,"y":640,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"e9bab5ee18f94aa0","type":"comment","z":"8ad439dbae51dbf4","name":"modem_mac","info":"","x":190,"y":600,"wires":[]},{"id":"c7ae3dd86594a2a4","type":"comment","z":"8ad439dbae51dbf4","name":"DATA ","info":"","x":170,"y":720,"wires":[]},{"id":"6dcf70397ef39ba5","type":"inject","z":"8ad439dbae51dbf4","name":"2 - 2ch Push Notification/Voltage Detection","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":{}}","payloadType":"json","x":280,"y":840,"wires":[["33cbf9db39529d20"]],"icon":"node-red/serial.svg"},{"id":"5bf1063d90a0e013","type":"comment","z":"8ad439dbae51dbf4","name":"Config Results","info":"","x":200,"y":800,"wires":[]},{"id":"f8c7554220ed443d","type":"inject","z":"8ad439dbae51dbf4","d":true,"name":"2 - 2ch Push Notification/Voltage Detection","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":280,"y":920,"wires":[["33cbf9db39529d20"]],"icon":"node-red/serial.svg"},{"id":"8a624d432626ee62","type":"comment","z":"8ad439dbae51dbf4","d":true,"name":"OTN Request Results","info":"","x":220,"y":880,"wires":[]},{"id":"c92e73736953818f","type":"comment","z":"8ad439dbae51dbf4","name":"PUM","info":"","x":170,"y":440,"wires":[]},{"id":"da6994a0b77ca60f","type":"inject","z":"8ad439dbae51dbf4","d":true,"name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":210,"y":560,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"},{"id":"5fe307c9cab819ad","type":"comment","z":"8ad439dbae51dbf4","d":true,"name":"FLY","info":"","x":170,"y":520,"wires":[]},{"id":"11b25047c021ee9d","type":"inject","z":"8ad439dbae51dbf4","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":2,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":210,"y":480,"wires":[["28ee8d9b42d5092b"]],"icon":"node-red/serial.svg"}]
