node-red/54 - 2-Channel RTD Temperature Sensor.json
[
    {
        "id": "8cc92e4285e85e85",
        "type": "tab",
        "label": "54",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93ff9e6f753e5a44",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway (Firmware 6+)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.received",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_data",
        "payload": "{\"nodeId\":0,\"firmware\":6,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":54,\"sensor_data\":{\"fault_status\":\"data_valid\",\"temperature_1\":23.53,\"temperature_2\":23.53},\"sensor_name\":\"2-Channel RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}",
        "payloadType": "json",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "c1de43b34a66eb7d",
        "type": "debug",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "0d2e89b096b19d24",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "54 - 2-Channel RTD Temperature Sensor (Firmware 1 to 5)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "data",
                "v": "{\"nodeId\":0,\"firmware\":5,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":54,\"sensor_data\":{\"temperature_1\":23.53,\"temperature_2\":23.53},\"sensor_name\":\"2-Channel RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            },
            {
                "p": "data.received",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "sensor_data",
        "payload": "{\"temperature_1\":23.53,\"temperature_2\":23.53}",
        "payloadType": "json",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "80d915dc43f4223c"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "80d915dc43f4223c",
        "type": "debug",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "0fbd9cd081f28d5e",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "DATA ",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "cacae858daf4197a",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.lastHeard",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_mode",
        "payload": "{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":54,\"nodeId\":0,\"mode\":\"RUN\"}",
        "payloadType": "json",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "b4c93c34eec5f281",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "RUN",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "51754a15e12d2dbd",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.lastHeard",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_mode",
        "payload": "{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":54,\"nodeId\":0,\"mode\":\"PGM\"}",
        "payloadType": "json",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "0940dc8826d139c6",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "PGM",
        "info": "",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "46b49b497292fc72",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.lastHeard",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_mode",
        "payload": "{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":54,\"nodeId\":0,\"mode\":\"ACK\"}",
        "payloadType": "json",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "ee180352df5aa1b3",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "ACK",
        "info": "",
        "x": 190,
        "y": 360,
        "wires": []
    },
    {
        "id": "39054f497a2d338a",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "modem_mac",
        "payload": "00:13:A2:00:40:A1:53:E5",
        "payloadType": "str",
        "x": 230,
        "y": 560,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "9f8a2913d4253264",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "modem_mac",
        "info": "",
        "x": 210,
        "y": 520,
        "wires": []
    },
    {
        "id": "5df0f19bdb5fe3a0",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "DATA ",
        "info": "",
        "x": 190,
        "y": 700,
        "wires": []
    },
    {
        "id": "b9d13f2df732fdb1",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "54 - 2-Channel RTD Temperature Sensor",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "Config Results",
        "payload": "{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}",
        "payloadType": "json",
        "x": 300,
        "y": 880,
        "wires": [
            [
                "80d915dc43f4223c"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "6b6d44d233ea19b5",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "Config Results",
        "info": "",
        "x": 220,
        "y": 840,
        "wires": []
    },
    {
        "id": "4a951a0556e41018",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "54 - 2-Channel RTD Temperature Sensor",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "OTN Request Results",
        "payload": "{\"config_enter_otn_mode\":true}",
        "payloadType": "json",
        "x": 300,
        "y": 960,
        "wires": [
            [
                "80d915dc43f4223c"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "15b3db9db71dd058",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "OTN Request Results",
        "info": "",
        "x": 240,
        "y": 920,
        "wires": []
    },
    {
        "id": "d8ead38650c68dbf",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "PUM",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "51ee7c0087507e1b",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.lastHeard",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_mode",
        "payload": "{\"mac\":\"00:13:a2:00:42:37:73:52\",\"type\":54,\"nodeId\":0,\"mode\":\"FLY\",\"lastHeard\":1721424000789,\"reported_config\":{\"firmware\":6,\"sensor_interface_ch1\":\"rtd_2_wire\",\"sensor_type_ch1\":\"rtd_pt_100\",\"sensor_interface_ch2\":\"rtd_2_wire\",\"sensor_type_ch2\":\"rtd_pt_100\",\"hardware_id\":[0,0,0],\"reserved\":[0,0,0,0],\"tx_lifetime_counter\":115,\"machine_values\":{}}}",
        "payloadType": "json",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "17895961bd98a0ea",
        "type": "comment",
        "z": "8cc92e4285e85e85",
        "name": "FLY + Reported Config (Firmware 6+)",
        "info": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "1608973d50711219",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.lastHeard",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_mode",
        "payload": "{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":54,\"nodeId\":0,\"mode\":\"PUM\"}",
        "payloadType": "json",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "4f30f07c12fdc9f8",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "Wireless Gateway (Firmware 1 to 5)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "payload.received",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "sensor_data",
        "payload": "{\"nodeId\":0,\"firmware\":5,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":54,\"sensor_data\":{\"temperature_1\":23.53,\"temperature_2\":23.53},\"sensor_name\":\"2-Channel RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}",
        "payloadType": "json",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "c1de43b34a66eb7d"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "850528d2b4b1bd40",
        "type": "inject",
        "z": "8cc92e4285e85e85",
        "name": "54 - 2-Channel RTD Temperature Sensor (Firmware 6+)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "data",
                "v": "{\"nodeId\":0,\"firmware\":6,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":54,\"sensor_data\":{\"fault_status\":\"data_valid\",\"temperature_1\":23.53,\"temperature_2\":23.53},\"sensor_name\":\"2-Channel RTD Temperature Sensor\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            },
            {
                "p": "data.received",
                "v": "",
                "vt": "date"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "sensor_data",
        "payload": "{\"fault_status\":\"data_valid\",\"temperature_1\":23.53,\"temperature_2\":23.53}",
        "payloadType": "json",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "80d915dc43f4223c"
            ]
        ],
        "icon": "node-red/serial.svg"
    }
]
