node-red/539 - RS485 Modbus Wireless Converter/WirelessGateway/539 - RS485 Modbus Wireless Converter.json
[{"id":"ece98d75fa9daff7","type":"inject","z":"73c09bb651dc7f8a","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.24\",\"battery_percent\":\"93.87\",\"counter\":0,\"sensor_type\":539,\"sensor_data\":{\"subdevice_type\":0,\"number_of_registes\":0,\"status_21_31\":0,\"status_16_23\":0,\"status_8_15\":0,\"status_0_7\":0,\"data\":[0,0,0,0,0,0,0,0,0,0]},\"sensor_name\":\"RS-485 Modbus Wireless Converter\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:10:10:10:10\",\"original\":{\"mac\":\"00:13:a2:00:10:10:10:10\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,11,3,236,1,0,80,0,2,10,9,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":670,"y":560,"wires":[["487aba7d22ee25ed"]],"icon":"node-red/serial.svg"},{"id":"7a0c88f5d0d5e927","type":"debug","z":"73c09bb651dc7f8a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":560,"wires":[]},{"id":"487aba7d22ee25ed","type":"function","z":"73c09bb651dc7f8a","name":"random","func":"let counter = context.get(\"counter\") || 1;\n\nlet reg_0 = context.get(\"r0\") || 1;\nlet reg_1 = context.get(\"r1\") || 1;\nlet reg_2 = context.get(\"r2\") || 1;\nlet reg_3 = context.get(\"r3\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet reg_0_ = Number(((Math.random() * 10) + reg_0).toFixed(0));\nlet reg_1_ = Number(((Math.random() * 20) + reg_1).toFixed(0));\nlet reg_2_ = Number(((Math.random() * 10) + reg_2).toFixed(0));\nlet reg_3_ = Number(((Math.random() * 20) + reg_3).toFixed(0));\n\nmsg.payload.sensor_data.data[0] = reg_0_;\nmsg.payload.sensor_data.data[1] = reg_1_;\nmsg.payload.sensor_data.data[2] = reg_2_;\nmsg.payload.sensor_data.data[3] = reg_3_;\n\nmsg.payload.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.payload.battery_percent = ((msg.payload.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.payload.counter = counter++;\n\ncontext.set(\"r0\", reg_0);\ncontext.set(\"r1\", reg_1);\ncontext.set(\"r2\", reg_2);\ncontext.set(\"r3\", reg_3);\n\ncontext.set(\"counter\", counter);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":560,"wires":[["7a0c88f5d0d5e927"]],"icon":"font-awesome/fa-random"}]
