node-red/123 - 3 Channel Production Counter/t123.json
[{"id":"7a8343128add9a3d","type":"tab","label":"Type 123","disabled":false,"info":"","env":[]},{"id":"93ff9e6f753e5a44","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_data","payload":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":123,\"sensor_data\":{\"digital_input_1_counter\":1,\"digital_input_1_uptime\":1,\"digital_input_2_counter\":0,\"digital_input_2_uptime\":0,\"digital_input_3_counter\":0,\"digital_input_3_uptime\":0,\"input_1\":0,\"input_2\":0,\"input_3\":0,\"report_type\":\"Regular\",\"rtc\":\"09:18:03\"},\"sensor_name\":\"3 Channel Production Counter\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"}}","payloadType":"json","x":170,"y":180,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"c1de43b34a66eb7d","type":"debug","z":"7a8343128add9a3d","name":"Wireless Gateway","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"0d2e89b096b19d24","type":"inject","z":"7a8343128add9a3d","name":"123 - 3 Channel Production Counter","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":1,\"battery\":\"3.28\",\"battery_percent\":\"98.56\",\"counter\":1,\"sensor_type\":123,\"sensor_data\":{\"digital_input_1_counter\":1,\"digital_input_1_uptime\":1,\"digital_input_2_counter\":0,\"digital_input_2_uptime\":0,\"digital_input_3_counter\":0,\"digital_input_3_uptime\":0,\"input_1\":0,\"input_2\":0,\"input_3\":0,\"report_type\":\"Regular\",\"rtc\":\"09:18:03\"},\"sensor_name\":\"3 Channel Production Counter\",\"type\":\"sensor_data\",\"addr\":\"00:13:a2:00:42:53:64:53\",\"received\":1737406355706,\"original\":{\"mac\":\"00:13:a2:00:42:53:64:53\",\"receive_options\":{\"ack\":0,\"broadcast\":0,\"type\":\"\"},\"data\":[127,0,1,3,254,222,0,88,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"digital_input_1_counter\":1,\"digital_input_1_uptime\":1,\"digital_input_2_counter\":0,\"digital_input_2_uptime\":0,\"digital_input_3_counter\":0,\"digital_input_3_uptime\":0,\"input_1\":0,\"input_2\":0,\"input_3\":0,\"report_type\":\"Regular\",\"rtc\":\"09:18:03\"}","payloadType":"json","x":760,"y":100,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"80d915dc43f4223c","type":"debug","z":"7a8343128add9a3d","name":"Wireless Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":180,"wires":[]},{"id":"0fbd9cd081f28d5e","type":"comment","z":"7a8343128add9a3d","name":"DATA ","info":"","x":130,"y":140,"wires":[]},{"id":"cacae858daf4197a","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":123,\"nodeId\":0,\"mode\":\"RUN\"}","payloadType":"json","x":170,"y":100,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"b4c93c34eec5f281","type":"comment","z":"7a8343128add9a3d","name":"RUN","info":"","x":130,"y":60,"wires":[]},{"id":"51754a15e12d2dbd","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":123,\"nodeId\":0,\"mode\":\"PGM\"}","payloadType":"json","x":170,"y":260,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"0940dc8826d139c6","type":"comment","z":"7a8343128add9a3d","name":"PGM","info":"","x":130,"y":220,"wires":[]},{"id":"46b49b497292fc72","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":123,\"nodeId\":0,\"mode\":\"ACK\"}","payloadType":"json","x":170,"y":340,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"ee180352df5aa1b3","type":"comment","z":"7a8343128add9a3d","name":"ACK","info":"","x":130,"y":300,"wires":[]},{"id":"39054f497a2d338a","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"modem_mac","payload":"00:13:A2:00:40:A1:53:E5","payloadType":"str","x":170,"y":580,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"9f8a2913d4253264","type":"comment","z":"7a8343128add9a3d","name":"modem_mac","info":"","x":150,"y":540,"wires":[]},{"id":"5df0f19bdb5fe3a0","type":"comment","z":"7a8343128add9a3d","name":"DATA ","info":"","x":670,"y":60,"wires":[]},{"id":"b9d13f2df732fdb1","type":"inject","z":"7a8343128add9a3d","name":"123 - 3 Channel Production Counter","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Config Results","payload":"{\"establish_config_network_1\":{},\"establish_config_network_2\":{},\"establish_config_network_3\":{},\"destination\":true,\"id_and_delay\":true,\"config_exit_otn_mode_common\":true}","payloadType":"json","x":760,"y":180,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"6b6d44d233ea19b5","type":"comment","z":"7a8343128add9a3d","name":"Config Results","info":"","x":700,"y":140,"wires":[]},{"id":"4a951a0556e41018","type":"inject","z":"7a8343128add9a3d","name":"123 - 3 Channel Production Counter","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"OTN Request Results","payload":"{\"config_enter_otn_mode\":true}","payloadType":"json","x":760,"y":260,"wires":[["80d915dc43f4223c"]],"icon":"node-red/serial.svg"},{"id":"15b3db9db71dd058","type":"comment","z":"7a8343128add9a3d","name":"OTN Request Results","info":"","x":720,"y":220,"wires":[]},{"id":"d8ead38650c68dbf","type":"comment","z":"7a8343128add9a3d","name":"PUM","info":"","x":130,"y":380,"wires":[]},{"id":"51ee7c0087507e1b","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"payload.reported_config","v":"{\"firmware\":1,\"debouncing_timeout\":\"10msec\",\"input_1_active_edge\":\"Rising\",\"input_2_active_edge\":\"Rising\",\"input_3_active_edge\":\"Rising\",\"counter_threshold\":1000,\"trasnmit_on_change_status\":\"Disabled\",\"Shift_end_1\":\"00:00\",\"Shift_end_2\":\"00:00\",\"Shift_end_3\":\"00:00\",\"Shift_end_4\":\"00:00\",\"reset_timeout\":\"600min\",\"counter_reset_mode\":\"Disabled\",\"sampling_interval\":\"10sec\",\"hardware_id\":[0,0,0],\"report_rate\":\"0sec\",\"tx_life_counter\":300,\"machine_values\":{}}","vt":"json"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":123,\"nodeId\":0,\"mode\":\"FLY\"}","payloadType":"json","x":170,"y":500,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"},{"id":"17895961bd98a0ea","type":"comment","z":"7a8343128add9a3d","name":"FLY","info":"","x":130,"y":460,"wires":[]},{"id":"1608973d50711219","type":"inject","z":"7a8343128add9a3d","name":"Wireless Gateway","props":[{"p":"topic","vt":"str"},{"p":"payload"},{"p":"payload.lastHeard","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"sensor_mode","payload":"{\"mac\":\"00:13:a2:00:42:53:64:53\",\"type\":123,\"nodeId\":0,\"mode\":\"PUM\"}","payloadType":"json","x":170,"y":420,"wires":[["c1de43b34a66eb7d"]],"icon":"node-red/serial.svg"}]
