node-red/81 - Two Channel Vibration Plus [Processed only]/81 - Two Channel Vibration Plus [Processed only].json
[{"id":"3ea82eae940856f7","type":"debug","z":"205a6d2dec2f401a","name":"data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":440,"wires":[]},{"id":"85fb741928d663c4","type":"inject","z":"205a6d2dec2f401a","name":"81 - Two Channel Vibration Plus","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":10,\"battery\":\"2.82\",\"battery_percent\":\"45.58\",\"counter\":1,\"sensor_type\":81,\"data\":{},\"sensor_data\":{\"mode\":2,\"s1_odr\":\"1600Hz\",\"s1_temperature\":22.25,\"x1_rms_ACC_G\":0.042,\"x1_max_ACC_G\":0.012,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0,\"x1_peak_one_Hz\":3675,\"x1_peak_two_Hz\":4575,\"x1_peak_three_Hz\":1075,\"y1_rms_ACC_G\":0.042,\"y1_max_ACC_G\":0.012,\"y1_velocity_mm_sec\":0.03,\"y1_displacement_mm\":0,\"y1_peak_one_Hz\":3675,\"y1_peak_two_Hz\":4575,\"y1_peak_three_Hz\":1075,\"z1_rms_ACC_G\":0.042,\"z1_max_ACC_G\":0.012,\"z1_velocity_mm_sec\":0.03,\"z1_displacement_mm\":0,\"z1_peak_one_Hz\":3675,\"z1_peak_two_Hz\":4575,\"z1_peak_three_Hz\":1075,\"s2_odr\":\"25600Hz\",\"s2_temperature\":22.25,\"x2_rms_ACC_G\":0.042,\"x2_max_ACC_G\":0.012,\"x2_velocity_mm_sec\":0.03,\"x2_displacement_mm\":0,\"x2_peak_one_Hz\":3675,\"x2_peak_two_Hz\":4575,\"x2_peak_three_Hz\":1075,\"y2_rms_ACC_G\":0.042,\"y2_max_ACC_G\":0.012,\"y2_velocity_mm_sec\":0.03,\"y2_displacement_mm\":0,\"y2_peak_one_Hz\":3675,\"y2_peak_two_Hz\":4575,\"y2_peak_three_Hz\":1075,\"z2_rms_ACC_G\":0.042,\"z2_max_ACC_G\":0.012,\"z2_velocity_mm_sec\":0.03,\"z2_displacement_mm\":0,\"z2_peak_one_Hz\":3675,\"z2_peak_two_Hz\":4575,\"z2_peak_three_Hz\":1075},\"sensor_name\":\"Two Channel Vibration Plus\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:00:00:00:00:03\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:00:00:00:00:03\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[127,0,3,3,255,126,0,81,0,0,10,11,147,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,11,70,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"},{"p":"time","v":"","vt":"date"}],"repeat":"20","crontab":"","once":true,"onceDelay":"7","topic":"sensor_data","payload":"{\"mode\":2,\"s1_odr\":\"25600Hz\",\"s1_temperature\":22.25,\"x1_rms_ACC_G\":0.042,\"x1_max_ACC_G\":0.012,\"x1_velocity_mm_sec\":0.03,\"x1_displacement_mm\":0,\"x1_peak_one_Hz\":3675,\"x1_peak_two_Hz\":4575,\"x1_peak_three_Hz\":1075,\"y1_rms_ACC_G\":0.042,\"y1_max_ACC_G\":0.012,\"y1_velocity_mm_sec\":0.03,\"y1_displacement_mm\":0,\"y1_peak_one_Hz\":3675,\"y1_peak_two_Hz\":4575,\"y1_peak_three_Hz\":1075,\"z1_rms_ACC_G\":0.042,\"z1_max_ACC_G\":0.012,\"z1_velocity_mm_sec\":0.03,\"z1_displacement_mm\":0,\"z1_peak_one_Hz\":3675,\"z1_peak_two_Hz\":4575,\"z1_peak_three_Hz\":1075,\"s2_odr\":\"25600Hz\",\"s2_temperature\":22.25,\"x2_rms_ACC_G\":0.042,\"x2_max_ACC_G\":0.012,\"x2_velocity_mm_sec\":0.03,\"x2_displacement_mm\":0,\"x2_peak_one_Hz\":3675,\"x2_peak_two_Hz\":4575,\"x2_peak_three_Hz\":1075,\"y2_rms_ACC_G\":0.042,\"y2_max_ACC_G\":0.012,\"y2_velocity_mm_sec\":0.03,\"y2_displacement_mm\":0,\"y2_peak_one_Hz\":3675,\"y2_peak_two_Hz\":4575,\"y2_peak_three_Hz\":1075,\"z2_rms_ACC_G\":0.042,\"z2_max_ACC_G\":0.012,\"z2_velocity_mm_sec\":0.03,\"z2_displacement_mm\":0,\"z2_peak_one_Hz\":3675,\"z2_peak_two_Hz\":4575,\"z2_peak_three_Hz\":1075}","payloadType":"json","x":280,"y":440,"wires":[["c9bb435bac08b3d5"]],"icon":"node-red/serial.svg"},{"id":"43526eaf4a910df2","type":"comment","z":"205a6d2dec2f401a","name":"Mode: Processed ","info":"0 - Processed\n1 - raw\n2 - Processed + Raw on demand","x":230,"y":400,"wires":[]},{"id":"c9bb435bac08b3d5","type":"function","z":"205a6d2dec2f401a","name":"Random","func":"var count = context.get(\"counter\") || 1;\n\nvar max_temp = 27.00;\nvar min_temp = 25.00;\nvar max_rms = 0.302;\nvar min_rms = 0.050;\nvar max_max = 0.288;\nvar min_max = 0.087;\nvar max_velocity = 4.95\nvar min_velocity = 0.81;\nvar max_displacement = 3.2;\nvar min_displacement = 1.0;\nvar max_one = 2.50;\nvar min_one = 1.48;\nvar max_two = 2.45;\nvar min_two = 1.0;\nvar max_three = 2.56;\nvar min_three = 1.0;\nvar max_batt = 3.2;\nvar min_batt = 3.1;\n\nvar temp = Number((Math.random() * (max_temp - min_temp) + min_temp).toFixed(2));\nvar temp2 = Number((Math.random() * (max_temp - min_temp) + min_temp).toFixed(2));\nvar rms = Number((Math.random() * (max_rms - min_rms) + min_rms).toFixed(2));\nvar rms2 = Number((Math.random() * (max_rms - min_rms) + min_rms).toFixed(2));\nvar max = Number((Math.random() * (max_max - min_max) + min_max).toFixed(2));\nvar max2 = Number((Math.random() * (max_max - min_max) + min_max).toFixed(2));\nvar velocity = Number((Math.random() * (max_velocity - min_velocity) + min_velocity).toFixed(2));\nvar velocity2 = Number((Math.random() * (max_velocity - min_velocity) + min_velocity).toFixed(2));\nvar displacement = Number((Math.random() * (max_displacement - min_displacement) + min_displacement).toFixed(2));\nvar displacement2 = Number((Math.random() * (max_displacement - min_displacement) + min_displacement).toFixed(2));\nvar one = Number((Math.random() * (max_one - min_one) + min_one).toFixed(2));\nvar one2 = Number((Math.random() * (max_one - min_one) + min_one).toFixed(2));\nvar two = Number((Math.random() * (max_two - min_two) + min_two).toFixed(2));\nvar two2 = Number((Math.random() * (max_two - min_two) + min_two).toFixed(2));\nvar three = Number((Math.random() * (max_three - min_three) + min_three).toFixed(2));\nvar three2 = Number((Math.random() * (max_three - min_three) + min_three).toFixed(2));\n\nmsg.payload.s1_temperature = temp;\nmsg.payload.x1_rms_ACC_G = rms;\nmsg.payload.x1_max_ACC_G = max;\nmsg.payload.x1_velocity_mm_sec = velocity;\nmsg.payload.x1_displacement_mm = displacement;\nmsg.payload.x1_peak_one_Hz = one;\nmsg.payload.x1_peak_two_Hz = two;\nmsg.payload.x1_peak_three_Hz = three;\nmsg.payload.y1_rms_ACC_G = rms;\nmsg.payload.y1_max_ACC_G = max;\nmsg.payload.y1_velocity_mm_sec = velocity;\nmsg.payload.y1_displacement_mm = displacement;\nmsg.payload.y1_peak_one_Hz = one;\nmsg.payload.y1_peak_two_Hz = two;\nmsg.payload.y1_peak_three_Hz = three;\nmsg.payload.z1_rms_ACC_G = rms;\nmsg.payload.z1_max_ACC_G = max;\nmsg.payload.z1_velocity_mm_sec = velocity;\nmsg.payload.z1_displacement_mm = displacement;\nmsg.payload.z1_peak_one_Hz = one;\nmsg.payload.z1_peak_two_Hz = two;\nmsg.payload.z1_peak_three_Hz = three;\n\nmsg.data.sensor_data.s1_temperature = temp;\nmsg.data.sensor_data.x1_rms_ACC_G = rms;\nmsg.data.sensor_data.x1_max_ACC_G = max;\nmsg.data.sensor_data.x1_velocity_mm_sec = velocity;\nmsg.data.sensor_data.x1_displacement_mm_sec = displacement;\nmsg.data.sensor_data.x1_peak_one_Hz = one;\nmsg.data.sensor_data.x1_peak_two_Hz = two;\nmsg.data.sensor_data.x1_peak_three_Hz = three;\nmsg.data.sensor_data.y1_rms_ACC_G = rms;\nmsg.data.sensor_data.y1_max_ACC_G = max;\nmsg.data.sensor_data.y1_velocity_mm_sec = velocity;\nmsg.data.sensor_data.y1_displacement_mm_sec = displacement;\nmsg.data.sensor_data.y1_peak_one_Hz = one;\nmsg.data.sensor_data.y1_peak_two_Hz = two;\nmsg.data.sensor_data.y1_peak_three_Hz = three;\nmsg.data.sensor_data.z1_rms_ACC_G = rms;\nmsg.data.sensor_data.z1_max_ACC_G = max;\nmsg.data.sensor_data.z1_velocity_mm_sec = velocity;\nmsg.data.sensor_data.z1_displacement_mm_sec = displacement;\nmsg.data.sensor_data.z1_peak_one_Hz = one;\nmsg.data.sensor_data.z1_peak_two_Hz = two;\nmsg.data.sensor_data.z1_peak_three_Hz = three;\n\n\nmsg.payload.s2_temperature = temp2;\nmsg.payload.x2_rms_ACC_G = rms2;\nmsg.payload.x2_max_ACC_G = max2;\nmsg.payload.x2_velocity_mm_sec = velocity2;\nmsg.payload.x2_displacement_mm = displacement2;\nmsg.payload.x2_peak_one_Hz = one2;\nmsg.payload.x2_peak_two_Hz = two2;\nmsg.payload.x2_peak_three_Hz = three2;\nmsg.payload.y2_rms_ACC_G = rms2;\nmsg.payload.y2_max_ACC_G = max2;\nmsg.payload.y2_velocity_mm_sec = velocity2;\nmsg.payload.y2_displacement_mm = displacement2;\nmsg.payload.y2_peak_one_Hz = one2;\nmsg.payload.y2_peak_two_Hz = two2;\nmsg.payload.y2_peak_three_Hz = three2;\nmsg.payload.z2_rms_ACC_G = rms2;\nmsg.payload.z2_max_ACC_G = max2;\nmsg.payload.z2_velocity_mm_sec = velocity2;\nmsg.payload.z2_displacement_mm = displacement2;\nmsg.payload.z2_peak_one_Hz = one2;\nmsg.payload.z2_peak_two_Hz = two2;\nmsg.payload.z2_peak_three_Hz = three2;\n\nmsg.data.sensor_data.s2_temperature = temp2;\nmsg.data.sensor_data.x2_rms_ACC_G = rms2;\nmsg.data.sensor_data.x2_max_ACC_G = max2;\nmsg.data.sensor_data.x2_velocity_mm_sec = velocity2;\nmsg.data.sensor_data.x2_displacement_mm_sec = displacement2;\nmsg.data.sensor_data.x2_peak_one_Hz = one2;\nmsg.data.sensor_data.x2_peak_two_Hz = two2;\nmsg.data.sensor_data.x2_peak_three_Hz = three2;\nmsg.data.sensor_data.y2_rms_ACC_G = rms2;\nmsg.data.sensor_data.y2_max_ACC_G = max2;\nmsg.data.sensor_data.y2_velocity_mm_sec = velocity2;\nmsg.data.sensor_data.y2_displacement_mm_sec = displacement2;\nmsg.data.sensor_data.y2_peak_one_Hz = one2;\nmsg.data.sensor_data.y2_peak_two_Hz = two2;\nmsg.data.sensor_data.y2_peak_three_Hz = three2;\nmsg.data.sensor_data.z2_rms_ACC_G = rms2;\nmsg.data.sensor_data.z2_max_ACC_G = max2;\nmsg.data.sensor_data.z2_velocity_mm_sec = velocity2;\nmsg.data.sensor_data.z2_displacement_mm_sec = displacement2;\nmsg.data.sensor_data.z2_peak_one_Hz = one2;\nmsg.data.sensor_data.z2_peak_two_Hz = two2;\nmsg.data.sensor_data.z2_peak_three_Hz = three2;\n\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":440,"wires":[["3ea82eae940856f7"]]}]
