node-red/12 - 3 Channel Thermocouple/12 - 3 Channel Thermocouple.json
[
    {
        "id": "40b3b39437db0e6d",
        "type": "inject",
        "z": "d03667228cb08896",
        "name": "12 - 3-Channel Thermocouple",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "data",
                "v": "{\"nodeId\":0,\"firmware\":4,\"battery\":\"3.29\",\"battery_percent\":\"99.64\",\"counter\":1,\"sensor_type\":12,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"3-Channel Thermocouple\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:e9\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:e9\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0,0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}",
                "vt": "json"
            },
            {
                "p": "payload"
            },
            {
                "p": "data.received",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "sensor_data",
        "payload": "{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0}",
        "payloadType": "json",
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "ea3cbb7c86bd0047"
            ]
        ],
        "icon": "node-red/serial.svg"
    },
    {
        "id": "ea3cbb7c86bd0047",
        "type": "function",
        "z": "d03667228cb08896",
        "name": "random",
        "func": "let count = context.get(\"counter\") || 1;\n\nlet max_batt = 3.2;\nlet min_batt = 3.1;\nlet max_ch = 750;\nlet min_ch = -65;\n\nlet ch1 = Number(((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2)));\nlet ch2 = Number(((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2)));\nlet ch3 = Number(((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2)));\n\nmsg.payload.channel_1 = ch1;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.payload.channel_3 = ch3;\nmsg.data.sensor_data.channel_3 = ch3;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1400,
        "wires": [
            [
                "e1676d56390a4235",
                "65c639e8fe001191",
                "976472477fab06b2",
                "c9f72ba3bb1930be"
            ]
        ],
        "icon": "font-awesome/fa-random"
    },
    {
        "id": "e1676d56390a4235",
        "type": "debug",
        "z": "d03667228cb08896",
        "name": "Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1280,
        "wires": []
    },
    {
        "id": "65c639e8fe001191",
        "type": "debug",
        "z": "d03667228cb08896",
        "name": "channel_1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.channel_1",
        "targetType": "msg",
        "statusVal": "payload.channel_1",
        "statusType": "auto",
        "x": 630,
        "y": 1320,
        "wires": []
    },
    {
        "id": "976472477fab06b2",
        "type": "debug",
        "z": "d03667228cb08896",
        "name": "channel_2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.channel_2",
        "targetType": "msg",
        "statusVal": "payload.channel_2",
        "statusType": "auto",
        "x": 630,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c9f72ba3bb1930be",
        "type": "debug",
        "z": "d03667228cb08896",
        "name": "channel_3",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.channel_3",
        "targetType": "msg",
        "statusVal": "payload.channel_3",
        "statusType": "auto",
        "x": 630,
        "y": 1440,
        "wires": []
    }
]
