node-red/12 - 3 Channel Thermocouple/12 - 3 Channel Thermocouple.json
[{"id":"35b8ecdec463820e","type":"inject","z":"0f850dc8977c3d53","name":"12 - 3 Channel Thermocouple","props":[{"p":"topic","vt":"str"},{"p":"data","v":"{\"nodeId\":0,\"firmware\":2,\"battery\":\"3.23\",\"battery_percent\":\"92.78\",\"counter\":1,\"sensor_type\":23,\"sensor_data\":{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0},\"sensor_name\":\"2-Channel Thermocouple\",\"type\":\"sensor_data\",\"addr\":\"00:00:00:01:a2:b3:c4:d6\",\"received\":1708011488930,\"original\":{\"mac\":\"00:00:00:01:a2:b3:c4:d6\",\"receive_options\":{\"ack\":1,\"broadcast\":1,\"type\":\"DigiMesh\"},\"data\":[0,0,0,0],\"type\":\"receive_packet\"},\"modem_mac\":\"00:13:A2:00:41:A1:B2:C3\"}","vt":"json"},{"p":"payload"},{"p":"data.received","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"sensor_data","payload":"{\"channel_1\":0,\"channel_2\":0,\"channel_3\":0}","payloadType":"json","x":280,"y":980,"wires":[["cb3857d3a8a0c984"]],"icon":"node-red/serial.svg"},{"id":"cb3857d3a8a0c984","type":"function","z":"0f850dc8977c3d53","name":"random","func":"let count = context.get(\"counter\") || 1;\n\nlet max_ch= 25.000;\nlet min_ch = 20.000;\nlet max_batt = 3.2;\nlet min_batt = 3.1;\n\nlet ch1 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch2 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\nlet ch3 = Number((Math.random() * (max_ch - min_ch) + min_ch).toFixed(2));\n\nmsg.payload.channel_1 = ch1;\nmsg.payload.channel_2 = ch2;\nmsg.payload.channel_3 = ch3;\nmsg.data.sensor_data.channel_1 = ch1;\nmsg.data.sensor_data.channel_2 = ch2;\nmsg.data.sensor_data.channel_3 = ch3;\nmsg.data.battery = ((Math.random() * (max_batt - min_batt) + min_batt).toFixed(2)).toString();\nmsg.data.battery_percent = ((msg.data.battery * 100 / 3.3).toFixed(2)).toString();\nmsg.data.counter = count++;\n\ncontext.set(\"counter\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":980,"wires":[["fcf0e4b66b2407b8","e700929ca7a685ae","f794027fdc252b28","59913d1c2081762b","33e04ec2394abc75","7e9c636d0924f59f","5b27ec8cf97e57de"]],"icon":"font-awesome/fa-random","l":false},{"id":"fcf0e4b66b2407b8","type":"debug","z":"0f850dc8977c3d53","name":"Current CH1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_1","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":900,"wires":[]},{"id":"e700929ca7a685ae","type":"debug","z":"0f850dc8977c3d53","name":"Current CH2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_2","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":960,"wires":[]},{"id":"f794027fdc252b28","type":"debug","z":"0f850dc8977c3d53","name":"Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":860,"wires":[]},{"id":"59913d1c2081762b","type":"debug","z":"0f850dc8977c3d53","name":"Battery (V)","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":1080,"wires":[]},{"id":"33e04ec2394abc75","type":"debug","z":"0f850dc8977c3d53","name":"Battery percent","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.battery_percent","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":600,"y":1140,"wires":[]},{"id":"7e9c636d0924f59f","type":"debug","z":"0f850dc8977c3d53","name":"Counter","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.counter","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":580,"y":1200,"wires":[]},{"id":"5b27ec8cf97e57de","type":"debug","z":"0f850dc8977c3d53","name":"Current CH2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"data.sensor_data.channel_3","targetType":"msg","statusVal":"data.sensor_data.adc","statusType":"auto","x":590,"y":1020,"wires":[]}]
